[2014-01-17 01:43] tkwidmer opened #1 "Need to get Geocoding working"
Ultimately this is where the core of the project depends on. When data is entered it needs to be geocoded and the lat long stored in the db along with the rest of the entry. This way all the entries can be displayed on a map as well as searched via location closest to an inputted address / the user eventually on mobile.

[2014-01-24 01:15] #1 closed, assigned to nobody

[2014-02-03 02:50] tkwidmer opened #3 "Responsive Design for mobile viewing"
This needs to be created.

[2014-02-03 02:51] tkwidmer opened #4 "Use Foursquare API to source img urls"
Use the YELP API to source img urls for bathroom locations and use img locations in both bathrooms/index and bathrooms/show. This will help users identify the location of the bathroom easier.

[2014-02-03 02:54] tkwidmer opened #5 "Bathroom Health Functionality"
The show page for each bathroom entry has buttons that allow users to thumbs up / thumbs down an entry. The number of thumbs up and thumbs down is stored in the DB. We will use this data to to visualize the "HEALTH" of a bathroom as a percentage of positive/negative feedback from the user. The functionality of this needs to be created. The visualization should show green for like over 70%. orange

[2014-02-03 02:57] tkwidmer opened #6 "Better Landing Page"
Hopefully something that looks a lot better, maybe something visual?
Buttons for the links to Add a Bathroom Listing / About / Github ?

[2014-02-03 04:36] emstans opened #7 "Empty search results page not handled correctly"
A query which returns no results just takes you to a page with "Load More." It probably should say "No results found for 'queryhere'" or something to that extent.

[2014-02-03 23:42] #3 closed, assigned to nobody

[2014-02-04 01:29] tkwidmer opened #9 "need some way of administrating the db for easy use / contacting admin about a posting"
this kind of stuff confuses me and scares me honestly. but creating some sort of user / admin to run edits and deletes and ideally a way for people to email the moderator about an issue with a listing -- so that stuff can be edited / deleted (when a bathroom is dead) etc.

right now you can thumbs up / thumbs down a listing, but thats different.

maybe moderation should just be checking ones that

[2014-02-04 01:30] tkwidmer opened #10 "upvote / downvote limits?"
right now people can upvote or downvote over and over and inentionally fuck over a system. I have a confirm on the downvote and will do one on the upvote to hopefully temper this a little bit.

any ideas how to fix this?

[2014-02-04 03:03] #7 closed, assigned to nobody

[2014-02-04 04:11] r19m89s opened #11 "Paginate listings (10 per page) and have Load more listings on list page."
When a user clicks on the words "Load More" in the list view, more bathrooms don't actually load/not a lot happens with the page. I'm going to start working on this.

[2014-02-05 04:35] annabunches opened #13 "Map View not working in production instance"
I get a 500 when I try to view:

http://www.refugerestrooms.org/bathrooms?utf8=%E2%9C%93&search=&map=1

[2014-02-05 04:38] annabunches opened #14 "Obvious search strings returning no results?"
Is search categorically broken? The unfiltered bathroom list (at http://www.refugerestrooms.org/bathrooms?utf8=%E2%9C%93) lists The Coop in Cambridge, MA, but searching for each of these strings returns no results in every case:

Cambridge, MA
Cambridge
The Coop

[2014-02-05 09:24] adacable opened #17 "Link clickboxes on front page ovelap"
This means <a> elements later in the DOM have clickboxes that overlap with the "obvious" clickboxes from earlier in the DOM.

[2014-02-05 16:50] #17 closed, assigned to nobody

[2014-02-05 16:55] #14 closed, assigned to nobody

[2014-02-05 16:57] tkwidmer opened #19 "Search by Location name instead of address"
Currently we only search by addresses, then geocode that address and search our DB for the closest lat/longs. It has been suggested that we allow searching for location name as well.

For now, I'd like to make it a little bit more explicit that you need to search by address in "Street, City, State, (Country)" format. This could easily be done by adding a default faded text in the search bar "eg. 1

[2014-02-05 17:00] #13 closed, assigned to nobody

[2014-02-05 17:39] #5 closed, assigned to nobody

[2014-02-05 21:15] tkwidmer opened #20 "Need to finish coding the show page."
Right now its got the information on it, but it does not look good. I would like to fix this asap. Ill post a link to the image of how it needs to look below.

[2014-02-06 01:17] coilysiren opened #21 "map page usability improvements"
(in reference to: www.refugerestrooms.org/bathrooms?map=1)
- starting zoom could stand to be two notches higher
- circles should be smaller at more distant zooms
- aggregate overlapping buttons at more distance zooms?
- it's not clear that the numbers represent distance from me, maybe a label for that?
- it would rock if you also presented the list of bathrooms under the map view
- the info pop up

[2014-02-06 06:18] r19m89s opened #22 ""Check Out Our Blog" Currently isn't working on live."
"Blog" link currently isn't working on the front page. Leads to a potentially inexistent URL.

[2014-02-06 06:19] r19m89s opened #23 ""Check Out Our Blog" Currently isn't working on live."
"Blog" link currently isn't working on the front page. Leads to a potentially inexistent URL.

[2014-02-06 06:20] r19m89s opened #24 "Viewing Screen Is Small On Desktop"
Make Viewing screen width 100%, or make it equal to the browser width.

[2014-02-06 06:22] r19m89s opened #25 "Potentially Having Deep Linking Instead of Reloading Page"
Using Deep Linking instead of reloading the whole page, when switchting between map and list view and turning on and off filters.

[2014-02-06 06:23] #23 closed, assigned to nobody

[2014-02-06 06:24] #22 closed, assigned to nobody

[2014-02-07 01:08] #19 closed, assigned to nobody

[2014-02-08 20:29] seanlinsley opened #29 "Application secret keys shouldn't be kept in source control"
There are currently two secret keys in source control, one for [Devise](https://github.com/tkwidmer/refugerestrooms/blob/46f66df3f7f8c7bfb7295477ebd4c6ab76ea4328/config/initializers/devise.rb#L7) and one for [Rails](https://github.com/tkwidmer/refugerestrooms/blob/46f66df3f7f8c7bfb7295477ebd4c6ab76ea4328/config/initializers/secret_token.rb#L12). Especially for open source websites, this is bad in

[2014-02-08 21:24] duckinator opened #30 "More graceful handling of lat/long"
At the moment it shoves them in the URL, and if you go directly to (for example) http://www.refugerestrooms.org/bathrooms?search=Pittsburgh%2C+PA it redirects to http://www.refugerestrooms.org/bathrooms?lat=P&long=i&search=Pittsburgh%2C+PA -- not quite right.

I think the ideal solution would be to have the translation done on the server side each time, instead of altering the url. It should be po

[2014-02-08 21:28] duckinator opened #31 "Use Javascript geolocation API"
RR should allow users to use the HTML5 geolocation API to get their current location, if it is available.

I am currently working on this, but wanted to open an issue mentioning that to avoid duplication of effort.

[2014-02-08 22:01] tkwidmer opened #32 "Search submit style on mobile iOS"
The style of the submit button is not correct. It's showing just the standard iOS suit button. Style isn't overriding it.

[2014-02-09 03:07] duckinator opened #33 "Internationalization"
We should probably add some sort of support for internationalization/localization while RR's codebase is still fairly small.

I know there's the i18n library, but I'm not sure if there's something generally preferred in the Rails world.

[2014-02-09 06:03] b4 opened #34 "Mapping restrooms according to Google Maps route"
Say for instance you're travelling across the country from New York to Los Angeles.  You've gone to google maps or mapquest or one of the other route-planning thingies and you've got your directions all planned out.  However, you're trans\* or something non-conforming, so you'll want to be aware of safe restrooms along this route.

In the example above: there's an opportunity for REFUGErestrooms t

[2014-02-09 23:07] #31 closed, assigned to nobody

[2014-02-09 23:12] awoitte opened #36 "Custom Error Message Dialogs"
Currently the JavaScript is returning errors with the alert() command. This is generally undesirable. Could a designer throw together a mock-up of a custom dialog for errors? If not, I can try to build one on the fly?

[2014-02-09 23:26] awoitte opened #37 "New image for current location button"
Currently using a placeholder image for the current location button. Could a designer whip up something snazzier?

[2014-02-09 23:32] nataliegroman opened #38 "location markers have image artifacts that make them look rather pixelated"
I will attempt to make a more antialiased versions; perhaps a better PNG dither would work.

[2014-02-10 00:56] nataliegroman opened #39 "None of the colors are web-safe."
Perhaps we can make it default to hex #330066 in < IE8 mode?

[2014-02-10 02:02] #38 closed, assigned to nobody

[2014-02-10 02:32] willasaywhat opened #40 "Input/Output Formatting & Escaping"
Looks like there is a minor issue with how output is handled for restroom locations with quotes in the title. This is present in list view, details, and map view.

See: http://www.refugerestrooms.org/bathrooms/2541

[2014-02-10 04:52] fibn144 opened #41 "Accessibility: Add alt text to images"
Currently, the website uses images to contain content in a few places: I've noticed at least in the filters and info about whether it's unisex or ADA. None of these images have alt text, and so give absolutely no information to people on screenreaders.

[2014-02-10 06:33] #37 closed, assigned to nobody

[2014-02-10 06:34] #24 closed, assigned to nobody

[2014-02-10 07:07] nataliegroman opened #43 "Email me for design asset sharing for dropbox"
With your dropbox-associated email. This way I can share Illustrator, Photoshop, and Raster Files in there. Otherwise, these assets are not going to be readily available. This is because posting the Illustrator and Photoshop files to the server is going to be a waste of space. nataliegroman@gmail.com

[2014-02-10 18:05] #21 closed, assigned to nobody

[2014-02-10 18:07] #25 closed, assigned to nobody

[2014-02-10 18:34] #30 closed, assigned to nobody

[2014-02-10 20:00] nataliegroman opened #45 "Current location button is referenced in root folder instead of assets folder."
It's in the assets folder, the reference to the file is looking in the root directory instead of the assets. Also, the top-right logo is incorrect, and needs to be changed to the 100x100 files. Currently, this push is live right now, so it would be wise to correct this ASAP.

[2014-02-10 20:16] #45 closed, assigned to nobody

[2014-02-11 18:41] JPumphrey opened #46 "Android dev here"
Are there any plans for a native android app? Happy to start putting one together.

Sorry if this is the wrong place to post this, not really used to github.

[2014-02-14 19:28] #6 closed, assigned to nobody

[2014-02-14 21:43] r19m89s opened #47 "Map View/Filters Hidden on Welcome Page"
Map View and filters needs to be hidden from the welcome page, the layout as it currently stands seems misleading.

[2014-02-15 00:05] #47 closed, assigned to nobody

[2014-02-18 19:36] tkwidmer opened #49 "needed: simple contact form on /contact"
although we have a link to our gmail in the footer, it would be best to have a contact page to allow people to easily submit feedback.

[2014-02-19 04:28] awoitte opened #53 "Improved Add page"
Lucas at the hackathon suggested a simpler add page for restrooms. Basically add a restroom from your current location, geocode the address/Country etc. . Also to show bathrooms nearby in order to check that you're not adding a duplicate restroom.

[2014-02-19 10:46] neoeno opened #54 "Extraneous slashes"
![slash horror](https://f.cloud.github.com/assets/1007202/2205576/2a1e259e-9952-11e3-8652-25dfb57db5a5.png)

I'm seeing quite a lot of this throughout. It's not majorly difficult to fix, but there are a few ways it might be done:
- The safe2pee dataset csv could be gone through and fixed, but I'm guessing the live site isn't going to be calling on this data again, so this won't be much use.
- A jo

[2014-02-21 02:16] #54 closed, assigned to nobody

[2014-02-21 19:12] #49 closed, assigned to nobody

[2014-02-21 21:06] #9 closed, assigned to mathonsunday

[2014-02-22 00:56] mathonsunday opened #57 "Add autocomplete to search"
I think typeahead.js will do the trick.

[2014-02-24 20:27] #29 closed, assigned to nobody

[2014-03-05 04:55] kxra opened #79 "list of popular cities"
similar to craigslist and like http://web.archive.org/web/20131111024203/http://safe2pee.org/new/

this will make the data more accessible and increase search engine rank

[2014-03-05 05:02] heyakyra opened #80 "LibreJS compatability"
This means that for the website to be fully free software, the JavaScript must also be free. It should be tested with the LibreJS plugin: https://www.gnu.org/software/librejs/

A few steps are required:
- Switch from proprietary Google Maps to free/libre OpenStreetMaps
- Drop or switch from Google Analytics
- Mark javascript as free as directed on http://www.gnu.org/software/librejs/free-your-java

[2014-03-05 05:06] heyakyra opened #81 "Free licensing for non-code elements of the website"
The non-code elements of the site such as all text, media, and database assets should be freely licensed as well. This can be achieved with a licensing statement like this which would also include changing our language to focus on 'free' rather than 'open': http://fembotcollective.org/about/licensing-statement/

[2014-03-14 18:33] f3ndot opened #82 "Image assets are not "Retina-ready" for high-resolution mobile devices"
Some assets such as [`/app/assets/images/UnisexBathroom.png`](/tkwidmer/refugerestrooms/blob/master/app/assets/images/UnisexBathroom.png) and [`/app/assets/images/ADABathroom.png`](/tkwidmer/refugerestrooms/blob/master/app/assets/images/ADABathroom.png) display slightly blurry on high-resolution devices like the Nexus 5.

![screenshot_2014-03-14-14-30-06](https://f.cloud.github.com/assets/740289/2

[2014-03-15 00:10] f3ndot opened #83 "Should the app be served under SSL/TLS?"
As a bit of a security nut, I'm a big fan of HTTPS since the cost for a certificate is now so cheap and affordable. It might be nice for the users to be offered end-to-end encryption when using the app.

If I understand correctly, Heroku is what's serving the production environment. Unfortunately Heroku likes to be a bit pricy when it comes to SSL/TLS :-1:

What do y'all think?

[2014-03-15 20:25] #57 closed, assigned to mathonsunday

[2014-03-15 23:32] johana-star opened #86 "Organize East Bay hack day."
- [x] Secure venue for an East Bay Hack Day to improve refugerestrooms.org
- [x] Schedule event
- [x] Promote on Twitter
- [ ] Review existing issues to identify priority and difficulty to help newcomers.
- [x] Create EventBrite to gauge attendance.
- [x] Bring coffee
- [x] Bring donuts - **assigned to Strand**

[2014-03-15 23:36] johana-star opened #87 "Register refugerestrooms.com and redirect to refugerestrooms.org"

[2014-03-19 02:18] #87 closed, assigned to tkwidmer

[2014-03-23 18:41] #39 closed, assigned to nobody

[2014-03-27 16:47] #11 closed, assigned to mathonsunday

[2014-03-27 17:49] mathonsunday opened #96 "Use Foursquare API to source hours"
Mockup of how a bathroom page would look with hours:
![hours](https://cloud.githubusercontent.com/assets/1143304/2540949/71ff3aea-b5d8-11e3-94d3-3ac7841e0057.jpeg)

My partial work is on the integrate_foursquare branch for anyone who wants to work on this task.

[2014-03-27 17:50] #20 closed, assigned to nobody

[2014-03-27 17:57] #10 closed, assigned to nobody

[2014-03-27 18:00] mathonsunday opened #97 "Captcha on upvote/downvote"
Checkout https://github.com/ambethia/recaptcha/.

[2014-03-27 18:09] #46 closed, assigned to nobody

[2014-03-27 18:20] mathonsunday opened #98 "Internationalize the landing page"
We are following  the RailsGuide http://guides.rubyonrails.org/i18n.html

[2014-03-27 18:21] #33 closed, assigned to nobody

[2014-04-02 01:15] tkwidmer opened #99 "JS clientside geocoding doesn't seem to be working in development"
![screen shot 2014-04-01 at 6 14 35 pm](https://cloud.githubusercontent.com/assets/5265597/2586577/3a803576-ba04-11e3-914a-57c2ba1fcb8e.png)
when a search is performed this is what happens. note in the address bar there is no lat/long data being passed.

[2014-04-02 19:33] #99 closed, assigned to nobody

[2014-04-02 19:59] #98 closed, assigned to nobody

[2014-04-02 20:24] #53 closed, assigned to nobody

[2014-04-02 20:25] tkwidmer opened #103 "Show nearby locations when adding new bathroom via 'guess location'"
It has been suggested that we should display nearby locations when somebody tries to add a new bathroom via "guess location" so that folks are not inputting duplicate locations.

[2014-04-05 21:18] mathonsunday opened #108 "Fix listings with latitude = 0.0 and longitude = 0.0"
84 of our listings have latitude = 0.0 and longitude = 0.0. These invalid values are causing me trouble as I try to integrate with the Foursquare API.

I suggest that we first try to estimate the correct lat/long values based on the address for the listing. We can write a batch geocode task for this. If the listing has no address we can manually look the address up. If we cannot find an address fo

[2014-04-06 06:04] #103 closed, assigned to nobody

[2014-04-12 08:35] kiesia opened #114 ""Contact us about this post!" on bathroom page should be more user friendly"
Currently this is pointing to a generic contact page, and the user is required to manually copy the bathroom ID in to the form. I'd like to make corrections to the two bathrooms in my town, and felt pretty offput by having to jump through (small) hoops.

I suggest that we create a new mailer and form to handle updates to bathrooms, I imagine there's a bunch of bad data in th DB and it would be gre

[2014-04-12 19:53] johana-star opened #117 "Cover complex controller actions in tests."
Flog tells me that the following actions are complex, and RSpec tells me they are untested. Cover these actions with tests.
- [ ] BathroomsController#list_bathrooms
- [ ] BathroomsController#create
- [ ] BathroomsController#display_errors
- [ ] BathroomsController#up_vote
- [ ] ContactsController#create

[2014-04-12 20:52] johana-star opened #118 "Bathrooms upvote and downvote should be a generic update."

[2014-04-12 20:53] johana-star opened #119 "Bathrooms#list should be an index endpoint."
Investigate if nearby restrooms could be the index with a filter, too.

[2014-04-12 22:36] #119 closed, assigned to johana-star

[2014-04-13 00:00] #114 closed, assigned to nobody

[2014-04-13 00:05] mi-wood opened #126 "Give users the ability to propose edits to pages (add versioning to restrooms)"
If they find something wrong with a restroom, let them send pending updates that only need to be approved. Better than having to make all the updates from the contacts.

[2014-04-13 00:42] #118 closed, assigned to johana-star

[2014-04-13 01:10] mi-wood opened #127 "Make bathroom id field in contact bathroom name"

[2014-04-13 01:39] mi-wood opened #128 "Add spam filter for posting bathrooms"
- clean up spam

[2014-04-13 16:00] tkwidmer opened #130 "fix active admin on both develop and prod"
active admin is returning a wrong arguments error. making it impossible to moderate the site currently except through the server.

[2014-04-13 19:42] #130 closed, assigned to nobody

[2014-04-13 21:45] #117 closed, assigned to johana-star

[2014-04-13 21:51] #86 closed, assigned to nobody

[2014-04-14 01:13] #127 closed, assigned to mi-wood

[2014-04-14 01:18] #43 closed, assigned to nobody

[2014-04-14 06:40] mathonsunday opened #136 "Integrate Foursquare API"
For listing hours and images.

[2014-04-14 06:40] #96 closed, assigned to mathonsunday

[2014-04-14 06:40] #4 closed, assigned to mathonsunday

[2014-04-14 17:52] strand opened #137 "Create contribution guide"
The README currently has a little info about our stack and testing practices, and a lot of uncaptured details about how to contribute, like [where to find assets](https://github.com/RefugeRestrooms/refuge_assets)

To complete this issue, we should
- [ ] create a contributing.md
- [ ] link to it from the readme
- [ ] compile resources and guidelines for contributors in the contributing.md

[2014-04-14 18:34] mathonsunday opened #138 "Tests for features I added"
I will be adding tests for the features I contributed. They are ActiveAdmin, pagination and the contact form. When I finish Foursquare API integration the PR will include tests.

[2014-04-16 11:21] kiesia opened #141 "Icons incorrectly rendering in Firefox"
Footer is incorrectly displaying the alt text for their icons. I'm using the latest stable FF.

![screenshot from 2014-04-16 23 16 37](https://cloud.githubusercontent.com/assets/783612/2719014/f2ae8af8-c558-11e3-8730-a010cbccad6b.png)

[2014-04-18 00:39] #32 closed, assigned to nobody

[2014-04-21 17:13] #141 closed, assigned to tkwidmer

[2014-04-29 01:13] #40 closed, assigned to nobody

[2014-05-31 01:09] mathonsunday opened #155 "Add houndci integration"
houndci reviews your Ruby code for style guide violations in pull requests.

[2014-06-07 10:10] JPumphrey opened #156 "Is the API live? If so how do I access it? Getting 404s"
Apologies if silly question.

I've been trying to hit http://www.refugerestrooms.org/api/v1/bathrooms but I just get 404. What do I need to do?

[2014-06-17 17:58] #41 closed, assigned to nobody

[2014-06-21 17:26] #156 closed, assigned to nobody

[2014-06-25 00:31] #155 closed, assigned to nobody

[2014-07-02 04:21] mathonsunday opened #158 "Web performance improvements"
I put refugerestrooms.com through Google's free PageSpeed insights tool and got this advice to improve our web performance: https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.refugerestrooms.org&tab=mobile

[2014-07-13 21:57] emfetz opened #162 "icky bits with geolocation + database structure potential ideas"
Hi! :)

In an attempt to further the conversation about database structure (and application functionality), here are some issues I am having:

I have almost completely cataloged all the lockable (mostly single-seat) restrooms for my college campus, but since street addresses are either nonexistent or very hard to find for academic buildings --landlocked as they are by parking lots and sidewalk-jun

[2014-07-17 14:32] teh-maxh opened #163 "include downloadable database with app version"
Allow people using the app to download the database to their device, rather than relying on API  calls to the server.

Uses:
- Wifi-only devices
- Limited data plans with expensive overage fees
- Network or website is down
- Probably others that don't come to mind immediately

[2014-08-18 05:11] johana-star opened #165 "Create style guidelines"
The project should have clear style guidelines for contributors. Let's add a style guideline to the contributing guide. I would recommend that we default to the [https://github.com/bbatsov/ruby-style-guide](ruby Style Guide) except when it does not specify a guideline, in which case we should make a project specific guideline and retain specificity towards that.

What do you think @tkwidmer and @k

[2014-09-20 03:16] #138 closed, assigned to mathonsunday

[2014-10-07 19:08] tkwidmer opened #167 "Rename WelcomeController to StaticController"
The welcome controller has in practice been our 'pages other than restrooms' controller. Welcome really isn't a great name for it. We should name it something else. Suggestions?

[2014-10-20 17:46] #81 closed, assigned to nobody

[2014-10-24 02:30] thekyriarchy opened #169 "Help OpenStreetMap make it easy to mark/find safe & accessible restrooms"
https://github.com/twain47/Nominatim/issues/201
https://github.com/openstreetmap/iD/issues/2422

If OpenStreetMap could import our data, RefugeRestrooms could do much less work and operate more as a front-end to OSM and focus on gathering contributions from mappers everywhere and mobilizing people to convert gender exclusive restrooms to all-gender ones.

[2014-10-26 10:25] mathonsunday opened #170 "Devise.secret_key was not set"
Whenever I try to run the app (ex. with pow) I get this error:

RuntimeError: Devise.secret_key was not set. Please add the following to your Devise initializer:

  config.secret_key = '-----'

Please ensure you restarted your application after installing Devise or setting the key.

I know we set the key in devise.rb, so I'm surprised to get this error. I get the same error when I change the key e

[2014-10-27 22:29] hkellaway opened #171 "Add POST ability to API"
To be used by iOS app to create new Restroom records

[2014-10-28 17:39] tkwidmer opened #172 "Implement Google's No Captcha"
@backspace implemented Akismet to cut down on the amount of spam we were receiving. But it is not open source / free software. So we want to switch to an open source solution in the future.

[2014-10-28 17:39] #128 closed, assigned to nobody

[2014-10-28 19:32] hkellaway opened #173 "Add ability to fetch Restroom records from API that were created/updated after a provided date"
Documenting this request

[2014-11-06 18:23] #173 closed, assigned to nobody

[2014-11-16 14:42] gnarf opened #180 "Create Vagrantfile for easier development"
It would be pretty awesome if there were a vagrant file here that could setup the ruby/everything environment and let you greatly simplify your "development environment" instructions to be more like

[code]

[2014-11-17 18:44] tkwidmer opened #183 "Refactor Javascript into better more readable files. Organization."
I'm going to be taking this, and implementing some best practices for Refuge's front end code. I've found the Javascript to be rather hard to understand and parse. So ill be refactoring it in to better documented and more readable code. (I'm a fan of coffeescript classes).

Ill also be setting up some namespacing structure. For example Code that deals with geolocation will be moved and namespaced

[2014-11-18 21:44] mi-wood opened #184 "Vagrant Workflow"
@cllns
Add vagrant file and possibly some rake task to facilitate setting up dev environments

[2014-11-18 22:16] #184 closed, assigned to mi-wood

[2014-11-21 08:03] heyakyra opened #187 "Use non-binary imagery/branding"
Popular media commonly reduces trans people to a binary split. It's a catchy image to put on the cover of magazines, but it's trite and degrading. Is there imagery/branding that can be created which does not replicate this?

[2014-11-24 04:10] #180 closed, assigned to mi-wood

[2014-12-15 06:13] aliceyoung9 opened #188 "Search by Address is Broken on iOS Safari and Chrome."
I type in an address, I hit search, then I actually get a bunch of restrooms near 1 Embarcadero Center, San Francisco, CA.

[2014-12-15 16:31] backspace opened #189 "Site doesn’t work without a leading www"
In looking into that new issue, I typed `refugerestrooms.org` and got an empty Hover site. For nerds like me who type their own web addresses, it would make sense to at least forward `refugerestrooms.org` to `www.refugerestrooms.org`, or even more [to my taste](http://no-www.org/faq.php), the reverse hehe

[2015-01-02 13:37] kiesia commented on #187
I wonder if the man/woman symbolism could be retained, as that is an internationally (I think) recognised sign for 'restroom'. But perhaps this symbol could be subverted in a non-binary way? I defs agree with @tkwidmer that a toilet itself would be terrible as a logo. Eww. :smile:

[2015-01-02 13:44] kiesia commented on #189
I'm still getting this error. DNS is not correctly configured for refugerestrooms.org:

This is correct, though a chained CNAME is not great, but nevermind. (Pointing to 107.20.253.181):

[code]

Whereas refugerestrooms.org is pointing to a totally different server (64.99.80.30):

[code]

[2015-01-02 14:36] kiesia commented on #189
I'm also getting the same issue when querying OpenDNS.

[2015-01-02 18:52] tkwidmer commented on #187
@kiesia I think that was the thinking and goal of the current imagry. (May not be effective). But to draw from the traditional m/f signs for bathrooms, but subvert in combining the two.

[2015-01-02 18:53] tkwidmer commented on #189
I'll look into it. I think the chained CNAME is how heroku does it, unfortunately. In their DNS instructions they direct you to list refugerestrooms.herokuapp.com in your DNS record.

[2015-01-06 14:49] kiesia commented on #189
Oh yeah that shouldn't be the problem. It's not good practice regardless, but oh well.

[2015-01-09 21:00] kxra commented on #187
Is there a way to shape two capital letter R's back to back to look like a toilet? Or just be stylized enough to be a nice logo?

I think it's worth noting that the logo of the website doesn't have to be the symbol that people put on their bathrooms! Those will always be culturally and institutionally specific.

[2015-01-12 13:38] andrewthelott commented on #83
@kiesia CloudFlare is probably going to improve performance more than hinder it. You're not only serving HTTPS/SPDY to end users but you're also offloading/cache static content onto their CDN.

[2015-01-12 13:43] andrewthelott commented on #83
Not only does this have security benefits, but [Google now prefers HTTPS sites](http://googlewebmastercentral.blogspot.co.uk/2014/08/https-as-ranking-signal.html) too.

[2015-01-12 14:01] AndrewTheLott opened #191 "Redirect safe2pee.org"
safe2pee.org is no longer up and running but their existing [WordPress blog](http://safe2pee.wordpress.com/) and [Twitter](https://twitter.com/safe2pee) both point to that domain. There are some old links pointing that way too which just end up dying.

Since safe2pee have essentially endorsed this project as its successor it would be sensible to get access to that domain to point here instead. The

[2015-01-12 14:14] andrewthelott commented on #82
Whilst waiting for new vector elements, as a stop-gap would it be worth just re-saving them as double-size PNGs and using CSS to load their actual size?

[2015-01-12 17:00] nataliegroman commented on #82
Well, as it stands, there are only two assets that I know of so far that are not vector elements. It is always open for others to contribute.

[2015-01-12 19:47] tkwidmer commented on #191
safe2pee was redirecting to refuge, but since it looks like their domain has expired that is no longer happening. Ill tweet at them and see whats up. If i have to take ownership of it via transer I can do that.

[2015-01-19 19:35] tkwidmer commented on #79
closed by #190

[2015-01-19 19:35] #79 closed

[2015-01-20 23:41] cllns commented on #189
Sorry to make this more complicated, but I just noticed
refugerestrooms.com and www.refugerestrooms.com are both now broken
[from: https://github.com/RefugeRestrooms/refugerestrooms/issues/87]

Perhaps it's related?

[2015-01-21 19:41] tkwidmer commented on #189
So I don't know what to say or do here. But here are screenshots of the relevant settings pages.

#### Heroku Domain Settings
![screen shot 2015-01-21 at 11 39 46 am](https://cloud.githubusercontent.com/assets/5265597/5843565/3ffd0dda-a162-11e4-89c0-033816b2a117.png)

#### Hover DNS settings for .org
![screen shot 2015-01-21 at 11 37 24 am](https://cloud.githubusercontent.com/assets/5265597/584357

[2015-01-21 19:41] tkwidmer commented on #189
@cllns @kiesia

[2015-01-21 22:33] cllns commented on #189
I'm not sure if you changed something, or maybe it was just a fluke earlier, but now both .com's work!

[2015-01-22 14:38] kiesia commented on #189
www.refugerestrooms.org is now working for me too! Closing this, I'll keep an eye on it.

[2015-01-22 14:38] #189 closed

[2015-01-22 20:04] tkwidmer commented on #189
welp. idk what i did. I futzed with them a little bit. Maybe was just taking longer to propegate

http://cdn.gurl.com/wp-content/uploads/2013/04/beyonce-hair-flip.gif

[2015-01-23 20:12] kiesia commented on #189
Maybe it just needed to be saved again? Something was stuck, I don't think it was anything you were doin.

[2015-01-29 19:42] kiesia commented on #170
I have this issue as well, I have made a pull request to fix the issue.

[2015-01-29 20:11] kiesia commented on #170
Also just as a note, we are not all running OSX and we need to make sure the app works without pow etc.

[2015-01-29 20:50] kiesia opened #194 "Moving from Cucumber to Rspec"
I remember in discussions some months back that we wanted to move from Cucumber to RSpec features. Is this still the case? I need to write a spec for restroom versioning, so would be good if I could just write it in RSpec.

[2015-01-29 21:31] kiesia opened #195 "Use OG tags to aid sharing on Facebook"
I just noticed that RR looks pretty boring when it's shared on FB. It'd be great to get some basic OG tags in the ```<head>``` to make it a bit more clickable.

[2015-01-29 21:51] kiesia opened #196 "Where can I get a DB dump of all restrooms?"

[2015-01-29 23:50] gnarf commented on #196
You can scrape the API in like 20 calls - its max per page is like 100

[2015-01-29 23:56] gnarf commented on #196
Max was 1000 - missed a zero

http://www.refugerestrooms.org/api/v1/restrooms.json?per_page=10000&page=1

And increase page until you run out

[2015-01-30 00:05] kiesia commented on #196
I don't want to hack together code to fetch the restrooms, I want a DB dump. That would be a lot more simple!

[2015-01-30 00:19] gnarf commented on #196
For local dev?  Someone could write a rake task to import them from the
live site maybe?

Otherwise a quick dirty json dump can restore the whole thing. I agree
having a db dump would be nice, but it would go out of date unless you
automated it. I find that most sites that have an api rarely offer raw SQL
dumps, and wouldn't want to release them myself if I ran the site.
On Jan 29, 2015 7:05 PM, "

[2015-01-30 00:23] backspace commented on #196
Do you want the current data? If not, you can load the original data by running `rake db:seed`.

[2015-01-30 00:32] kiesia commented on #196
I'm interested in the raw data because I want to know where we have restrooms. I live in Berlin and internationalisation is very important for me.

[2015-01-30 12:01] kiesia commented on #196
Perhaps someone can just give me deploy rights and I can take a dump from there?

[2015-01-30 12:06] kiesia opened #197 "Rendering issues in IE9"
Icon heights are looking pretty funky in IE9.

![screenshot from 2015-01-30 12 57 14](https://cloud.githubusercontent.com/assets/783612/5975403/aad634ae-a880-11e4-885d-d9b7476f7507.png)

![screenshot from 2015-01-30 12 57 43](https://cloud.githubusercontent.com/assets/783612/5975405/b1156678-a880-11e4-989c-34968c24bd5e.png)

I also quickly checked IE11 but that seemed fine.

[2015-01-30 15:03] kiesia opened #199 "Remove "Also on RefugeRestrooms" in Disqus comments"
This takes up a lot of space and is visually very confusing. Possibly useful if you live in SF, but for the rest of the world not so much. I don't need to see comments on toilets that are 2000km away. :smile:

[2015-01-30 15:09] kiesia opened #200 "Move from Google Analytics to Piwik"
I've emailed [Enspiral](http://enspiral.com) asking if they are interested in donating a piwik account. If that is not possible, then I'll set up a piwik server on a VM (I can donate hosting for this).

This ticket is coming from discussion in #80.

[2015-01-30 15:13] kiesia commented on #80
I've forked off this issue to a much more manageable #200.

[2015-01-30 21:24] tkwidmer commented on #196
@kiesia now has deploy capability and access to refuge on heroku.

[2015-01-30 21:24] #196 closed

[2015-01-30 21:25] tkwidmer commented on #194
This is the case. We want to use Rspec.

[2015-01-30 21:26] gnarf commented on #196
That works too, but still doesn't help a new contrib who needs local db --
might still be worth adding a rake task

On Fri, Jan 30, 2015 at 4:24 PM, Teagan <notifications@github.com> wrote:

[2015-01-30 21:34] tkwidmer commented on #196
Could be. But lets handle that as a separate issue. For now most folks wont need that to dev with.

If we want to release a SQL database dump, lets make that a separate ticket.

[2015-01-30 23:05] kiesia commented on #194
Cool thanks @tkwidmer

[2015-01-30 23:05] #194 closed

[2015-01-30 23:44] #170 closed

[2015-01-31 17:46] tkwidmer opened #201 "Release 1.4.0"
Mike Wood (1): @mi-wood
      Merge pull request #186 from RefugeRestrooms/add-vagrant

Teagan (4): @tkwidmer
      Merge pull request #175 from RefugeRestrooms/feature/add-bugsnag
      Merge pull request #190 from RSid/listofpopularcities-79-rsid @RSid
      Merge pull request #192 from kiesia/feature/display_current_year_in_copyleft @kiesia
      Merge pull request #193 from kiesia/hotfix/fix_d

[2015-01-31 17:46] tkwidmer commented on #201
Going to Prod.

[2015-01-31 17:48] tkwidmer commented on #201
On Prod.

[2015-01-31 17:48] #201 closed

[2015-02-02 16:45] kiesia commented on #200
We have a Piwk account donated by [Enspiral](http://enspiral.com). I'll sublit a PR integrating this within the next couple days.

[2015-02-02 21:30] tkwidmer commented on #200
awesome @kiesia

[2015-02-04 21:27] hkellaway opened #203 "Cannot access API at http://www.refugerestrooms.org/api/docs/"
When I head to the API link, I get this error:

*Unable to read api 'restrooms' from path http://www.refugerestrooms.org/api/swagger_doc.json/restrooms.json (server returned undefined)*

[2015-02-04 23:51] tkwidmer commented on #203
Looks like its a bug in Grape / Swagger

http://stackoverflow.com/questions/27656851/grape-swagger-unable-to-read-api-users-from-path-url-server-returned-undefi

[2015-02-05 00:06] tkwidmer commented on #203
Looks like an upgrade to 0.9 will fix it maybe?

[2015-02-05 01:47] tkwidmer opened #204 "Add a 'On Google Play' button"
To the homepage with a link to the Android App.

Also. Talk to the guy who pushed it onto google play about removing the adds.

[2015-02-09 13:23] kiesia commented on #200
PR #206

[2015-02-09 13:27] kiesia commented on #189
@tkwidmer this is now pointing to hover again.. :frowning: Can you give me access to the DNS host so I can take a look?

[2015-02-09 13:39] kiesia opened #207 "Titelized restroom address strips dashes"
Dashes are very useful with addresses! See: http://www.refugerestrooms.org/restrooms/4638 It should read Admiralstr. 1-2, but looks like 1 2.

[2015-02-09 17:34] kiesia commented on #199
@tkwidmer if you give me the Disqus credentials I can do this.

[2015-02-09 20:40] kiesia opened #209 "Restroom state?"
So I'm working on #126 (still) and am wondering about restroom state. I currently have a simple boolean for "approved", but this won't cut it. I'm also wondering what else we might want to use state for? For instance, instead of destroying records, we could just mark them as hidden.

This is what I'm imagining. A new Restroom is created or updated and marked as 'pending'. Admin either marks this a

[2015-02-09 21:33] kiesia commented on #203
PR #210

[2015-02-10 00:08] tkwidmer commented on #209
I think that sounds good.
May be useful for hiding and stuff down the road.

[2015-02-10 00:13] tkwidmer commented on #199
@kiesia I removed it -- but if you can give me yr discus account email I'll add you as a moderator too, so its not just under my own person account. Right now i'm the only mod for refuge Disqus.

[2015-02-10 00:13] #199 closed

[2015-02-10 00:14] #207 closed

[2015-02-10 00:16] tkwidmer commented on #200
@kiesia can you add me as an admin in some way on Pikwik so I can see the data and stuff.

[2015-02-10 00:19] tkwidmer commented on #189
I dont think I can actually add you as an admin on hover. =/

[2015-02-10 01:15] kiesia commented on #189
@tkwidmer sorry I did not see those images earlier. Hover domain forwarding is clearly not working! Just change the @ and * entries to CNAME to refugerestrooms.herokuapp.com, then it should work.

[2015-02-10 01:29] kiesia commented on #189
Just read this long running saga, it looks like hover will support ANAMEs soon.

[2015-02-10 01:32] kiesia commented on #189
Sigh. I'm very tempted just to set up a redirect on my server and we can point the @ record there..

[2015-02-10 02:21] tkwidmer commented on #189
So to be clear, I need to add an * entry for CNAME?

There is already an @ entry.

@kiesia

[2015-02-10 02:21] #203 closed

[2015-02-10 04:52] hkellaway opened #211 "How do I fetch all of the Restroom records at a certain endpoint?"
I attempting to fetch all of the records in my code using the `by_date` endpoint. I used to specify a `per_page` limit of `10000`, however that now gives me the message `{"error":"per_page must be less than 100"}`. Not providing a limit caps the result at 10 records.

How would I get all of the records - or at least thousands - instead of being capped by 10 or 100?

[2015-02-10 05:51] cllns commented on #211
Why do you need to fetch all of them? Shouldn't 100 be enough for most end-user requests?

Or is this for development / a local copy of the DB?

[2015-02-10 06:09] hkellaway commented on #211
Yes, it's for development

[2015-02-10 15:40] cllns commented on #211
Maybe @tkwidmer can give you access to Heroku, where you can take a dump of the DB? #196
Though, that gives you the whole DB, not just one endpoint.

[2015-02-10 18:33] tkwidmer commented on #211
@hkellaway If you give me yr heroku email ill add you on there. We should probably figure out a long term solution to this. Even if its like a /api/dev/all_restrooms endpoint.

[2015-02-10 20:16] hkellaway commented on #211
the whole DB is fine. @tkwidmer: my first-name dot last-name @ gmail

[2015-02-12 21:16] hkellaway opened #213 "Question: What is the threshold for Refuge considering a restroom as negatively rated?"
i.e. when does the rating percentage go from green to red? 50%?

[2015-02-12 21:28] cllns commented on #213
70% to 100% is green
50% to 70% is yellow
0% to 50% is red

From:
https://github.com/RefugeRestrooms/refugerestrooms/blob/ac1794bfc5227b79eb1bd22bf3eb61b48099fba7/app/models/rating_level.rb#L5

[2015-02-12 21:29] hkellaway commented on #213
Thanks @cllns

[2015-02-12 21:50] #213 closed

[2015-02-15 22:55] hkellaway opened #214 "API endpoint by_date.json is returning {"status":"500","error":"Internal Server Error"}"
I've been using this endpoint for a couple weeks now - suddenly 5 minutes ago it started returning 500

[2015-02-15 22:55] hkellaway commented on #214
e.g. http://www.refugerestrooms.org/api/v1/restrooms/by_date.json?per_page=100&day=12&month=15&year=2014&format=json

[2015-02-15 22:55] hkellaway commented on #214
just noticed i switched day and month - my mistake!

[2015-02-16 17:49] #214 closed

[2015-02-16 17:50] kiesia commented on #200
@tkwidmer sorry for the delay on this, I'm waiting on admin rights, then I can make you a user.

[2015-02-16 17:57] kiesia commented on #199
Awesome thanks @tkwidmer. I've emailed you my Dsiqus account.

[2015-02-16 17:57] kiesia commented on #209
Great thanks, I'll start with pending, approved and rejected.

[2015-02-16 17:57] #209 closed

[2015-02-18 19:17] tkwidmer opened #215 "Positioning and the future of Refuge"
I want Refuge to become about more than restrooms at some point.  Restroom access is really important. But there are a lot of other issues and places in life that trans people (and especially trans women) need a Refuge for.

The first that comes to mind is housing. Currently the only thing filling this need is http://www.transhousingnetwork.com/ -- A tumblr created by jobhaver to try to to connect

[2015-02-18 19:18] tkwidmer commented on #215
It's this kind of jump that could get Refuge some funding / help be able to pay some people (hopefully trans people trying to learn how to code), to do some work on the site.

[2015-02-19 20:41] cllns commented on #215
:+1:

[2015-02-20 22:54] nataliegroman commented on #215
I'm still always down for more design. I haven't touched it in about 8
months, but the site for the most part looks pretty solid except for some
oddball contributions from some other people. I might take a day and head
to SF to hang with you about an upcoming funding campaign (maybe patreon?)

On Wed, Feb 18, 2015 at 11:18 AM, Teagan <notifications@github.com> wrote:

--
Natalie Roman - Ball State

[2015-02-21 22:52] jotter4000 commented on #215
I'm down but it's easiest for me to do it at a meetup, not really on my
own. If anyone wants to pair or meet somewhere I'm down :D

On Fri, Feb 20, 2015 at 2:54 PM, nataliegroman <notifications@github.com>
wrote:

[2015-02-22 19:55] tkwidmer opened #216 "Restrooms not showing up in listings after they are created."
I noticed this today walking a friend through the creation of a Restroom.

The restroom was created and is sitting in the database. It looks like this is happening because the geolocation is broken on Restroom create. This is really a bad issue, because it looks like we have restrooms that are created with no Lat/Long which means we can't map them when people search locations. Maybe Geocoder gem i

[2015-02-22 19:58] tkwidmer commented on #216
There are 11 bathrooms that do not have latitude listings. Found using running `Restroom.all.where(:latitude => nil)`  on production.

[2015-02-22 20:02] tkwidmer opened #217 "Still getting some spam restrooms"
I found a couple on prod today.
@backspace, it looks like Akismet may not be taking care of all cases.

[2015-02-22 20:07] tkwidmer opened #218 "Release 1.5.0"
Kiesia Carmine (4): @kiesia
      Merge pull request #202 from kiesia/hotfix/remove_restroom_destroy_edit_actions
      Merge pull request #208 from kiesia/hotfix/dont_strip_dashes
      Merge pull request #206 from kiesia/feature/integrate_piwik
      Merge pull request #210 from kiesia/hotfix/fix_grape_swagger

mi-wood (1): @mi-wood
      Merge pull request #205 from RefugeRestrooms/mi-wood/fix-

[2015-02-22 20:23] tkwidmer commented on #218
on prod

[2015-02-22 20:23] #218 closed

[2015-02-22 20:25] tkwidmer commented on #216
This seems to have been fixed by the most recent release. -- i'm going to run a script to try to geocode stuff that wasn't geocoded correctly.

[2015-02-22 20:52] hkellaway commented on #216
@tkwidmer does this mean i should re-create the Restroom seed for the iOS app?

[2015-02-22 21:12] tkwidmer commented on #216
You will just be missing a couple of bathrooms, (and any new ones that are created).

[2015-02-22 21:14] hkellaway commented on #216
any new one's created?

[2015-02-23 18:52] tkwidmer commented on #216
The script for this fix is complete.

[2015-02-23 18:52] #216 closed

[2015-02-24 02:57] nataliegroman commented on #215
What I am thinking is that for a long time, trans people have been having
issues amalgamating useful narrative info into one specific place, without
it being ridiculously dated. What was once comprehensive (TG Roadmap) is
massively problematic and ran by a TERF lunatic. To modernize this
information, curate articles, videos, searchable engines, and more, we
could finally use our team to make a sit

[2015-02-24 14:51] backspace commented on #217
Yeah, no anti-spam solution will be perfect. There can be false positives and false negatives. The Akismet API has the [Submit Spam](http://akismet.com/development/api/#submit-spam) endpoint for submitting false negatives. It could be connected to whatever admin review features exist.

[2015-02-24 18:39] tkwidmer commented on #217
That would be cool.

[2015-02-25 16:59] kiesia commented on #217
:+1:

[2015-02-28 19:51] tkwidmer opened #220 "ApiClient should have a create endpoint with API verification."
ApiClient should have a endpoint create.

[2015-03-01 00:04] kevjames3 opened #221 ""Uncaught Security Error" from Disqus when looking at a restroom"
Example: http://www.refugerestrooms.org/restrooms/67

Chrome debugger gives the following error:

Uncaught SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "http://localhost:3000" from accessing a frame with origin "http://disqus.com". Protocols, domains, and ports must match.

[2015-03-01 18:44] tkwidmer opened #224 "ApiClient should have a contacts controller to allow users to contact us."

[2015-03-01 22:26] kevjames3 opened #226 "When filtering (ada/inclusive buttons), these filtered results need to apply to all paged results"
Example:
- http://www.refugerestrooms.org/restrooms?lat=37.7895781&long=-122.3888351&page=3&search=Current+Location&utf8=%E2%9C%93
- Click both filters
- Click to the next page
- Filters are no longer applied

[2015-03-06 06:00] tkwidmer opened #228 "Release 1.6.0"
Merge pull request #219 from RefugeRestrooms/mi-wood/vagrant-fixes
      Merge pull request #222 from RefugeRestrooms/feature/font-awesome-update
      Merge pull request #223 from RefugeRestrooms/feature/common.css
      Merge pull request #225 from RefugeRestrooms/feature/font-awesome-update
      Merge pull request #227 from RefugeRestrooms/feature/refactor-js-coffee

[2015-03-06 06:00] tkwidmer commented on #228
Everything looks ok on Staging. So i'm going to push to Production

[2015-03-10 18:52] #228 closed

[2015-03-11 03:36] TazeTSchnitzel opened #229 "King\'s Museum"
Just saw a restroom with that title on the map. Is there/was there double-escaping of data being put into the database? The backslash is probably not deliberate.

[2015-03-11 03:43] TazeTSchnitzel commented on #229
Apparently this only happens in the iOS app:

![](http://i.imgur.com/LbUvF3C.jpg) ![](http://i.imgur.com/AjbuJUc.jpg)

On the website, it doesn't:

![](http://i.imgur.com/F9xyZip.png)

http://www.refugerestrooms.org/restrooms/4348

This is puzzling. Why wouldn't it happen on the site? Are magic quotes happening somewhere? D:

[2015-03-11 03:44] hkellaway commented on #229
@TazeTSchnitzel good catch! i'll look into it

[2015-03-11 23:17] tkwidmer commented on #229
Going to close this on the web, since it looks like its an issue on iOS side and not web. Thanks @TazeTSchnitzel and @hkellaway

[2015-03-11 23:17] #229 closed

[2015-03-22 04:04] mi-wood commented on #215
Any sort of comprehensive healthcare database. It'd definitely have to start small and would be tough to keep up to date, but there are some things that would be exceptionally helpful. Trans friendly therapists, providers/plans that have the best trans coverage, etc. This info is currently a bit scattered if available/up to date at all. This would be a heavily crowdsourced effort also, since it do

[2015-03-22 04:05] mi-wood commented on #215
Also for those who are in SF bay, Take 5 cafe in Berkeley seemed like that would be happy to host a hack day/meeting and they are trans/queer friendly :)

[2015-03-22 04:06] mi-wood commented on #226
going to take a try at this right now and see where I get. might pick it up again tomorrow if no one else is working on it already.

[2015-03-23 02:53] mi-wood opened #231 "Vagrant improvements"
- Add swapspace and see if this fixes the memory allocation issues. This will also allow users will less ram on their host to use 512MB
- Add rake wrapper to start server, bundle install, etc.

[2015-03-27 12:41] waseem18 opened #232 "Social buttons obstructing 'Add A Restroom' button on Chrome"
On chrome, when the site gets loaded, social buttons are obstructing the 'Add A Restroom' button.
![bug](https://cloud.githubusercontent.com/assets/5843007/6867913/a133d188-d4ac-11e4-908b-f4518b865fbc.PNG)

[2015-03-27 17:32] tkwidmer commented on #232
This is actually not a browser issue, it's the side of your screen. the buttons are tied to the bottom of the screen, they should actually be pinned to the bottom of the page div. Should be an easy fix.

[2015-03-27 17:33] tkwidmer commented on #232
If you scroll down you should be able to see the button in full.

[2015-03-27 17:40] waseem18 commented on #232
I guess it's a bit of browser issue. Because there is some space between social buttons and 'Add restroom' button in both IE and Mozilla. The obstruction is only on Chrome. By the way we can see the full button by scrolling down. But I feel that when the site gets loaded initially there should be some space between both buttons so that the user doesn't need to scroll down to click on 'Add a Rest r

[2015-03-28 00:07] tkwidmer opened #233 "Add if a restroom has a baby changing station"
Got this email in through the contact us link

[2015-04-30 18:17] thelseraphim opened #235 "potential string-quoting bug"
![refuge1](https://cloud.githubusercontent.com/assets/11104789/7419443/f268933a-ef29-11e4-888b-df4df471cef5.png)
![refuge2](https://cloud.githubusercontent.com/assets/11104789/7419445/f42246b2-ef29-11e4-8be3-03318a54a49d.png)

I suspect it's a string quoting bug and if so it might make refuge more vulnerable to mischief. reproduced on chrome and safari in os x.

[2015-05-01 00:29] tkwidmer commented on #235
whats strange is i didn't see a bugsnag hit for this.

[2015-05-13 15:27] aitchabee opened #237 "Typo."
Hi!  I would submit a PR for this, but I'm not sure where the file is that needs to be updated.

On the About page, I believe there is a missing word. One of the sections is "What can we to help?". I thought perhaps that could be "What can we do to help?".

[2015-05-15 20:32] cllns commented on #237
Here's the file, for whoever wants to take this!

https://github.com/RefugeRestrooms/refugerestrooms/blob/master/config/locales/about.en.yml#L12

[2015-05-15 20:53] aitchabee commented on #237
Here is the PR: https://github.com/RefugeRestrooms/refugerestrooms/pull/238 :sparkling_heart:

[2015-05-16 00:57] cllns commented on #237
yay!! thanks!

[2015-05-16 00:57] #237 closed

[2015-06-03 03:00] cboyden commented on #235
Reproduced in Firefox on OSX with the location listed in the screenshot (Maxfield's House of Caffeine). However, I was not able to reproduce this issue using different landmarks with apostrophes (Lalime's, Fred's Deli, Peet's Coffee). I also saw the bug while searching for its street address "398 Dolores Street, San Francisco, CA, United States" and also with just the street name ("Dolores Street,

[2015-06-03 03:04] tkwidmer opened #239 "Release 1.7.0"
Teagan (2):
      Merge pull request #236 from cllns/smaller-background-image
      Merge pull request #234 from RefugeRestrooms/mi-wood/vagrant-helper

[2015-06-03 03:30] cboyden commented on #232
The obstruction happens depending on the height of the browser window and how far down you've scrolled.
![screen shot 2015-06-02 at 8 26 32 pm](https://cloud.githubusercontent.com/assets/725267/7952145/1b1f6e6a-0966-11e5-9938-e10ebfc7d51b.png)
This screenshot is Firefox on OSX with a short window. Social links block the app store link.

[2015-06-03 16:42] tkwidmer commented on #239
on production

[2015-06-03 16:42] #239 closed

[2015-06-19 21:59] tkwidmer opened #241 "Add blockList Bathrooms list"
This allows people to report bathrooms at which the have been harassed by employees at in the past.

[2015-06-19 23:04] strand commented on #241
So, don't read the comments, but you might consider [blocklist/safelist](http://english.stackexchange.com/questions/51088/alternative-term-to-blacklist-and-whitelist).

[2015-06-22 17:33] tkwidmer commented on #241
Thats much better verbage.

[2015-07-01 14:27] apfritts commented on #241
+1

[2015-08-14 19:10] tkwidmer opened #242 "Add a link to the official android app to the homepage"
An easy ticket. We have an official android application now!
We need a link to it on our home page. We already have a link to the iOS application. So we need a matching badge!

Here is the link to the application.
https://play.google.com/store/apps/details?id=org.refugerestrooms

Using a badge and the guidelines from:
http://developer.android.com/distribute/tools/promote/linking.html

![en_generic

[2015-08-18 20:51] hissingpanda commented on #204
https://github.com/RefugeRestrooms/refugerestrooms/issues/242

[2015-08-18 20:51] #204 closed

[2015-08-18 20:52] tkwidmer commented on #204
@hissingpanda :+1:

[2015-09-12 20:15] azelma commented on #242
I made a pull request for this @tkwidmer

[2015-09-12 20:20] azelma commented on #226
@mi-wood are you still on this? I'm happy to take a look.

[2015-09-17 05:12] mi-wood commented on #226
@azelma it's in this PR: https://github.com/RefugeRestrooms/refugerestrooms/pull/230

I forget exactly where I left off. I had fixed the bug but went on to start refactoring stuff...

[2015-09-21 17:22] hissingpanda opened #244 "Donations?"
Do we have anything setup to take donations? Or is this something we want to do? Just received an email on the android app from a user who would like to contribute.

[2015-10-14 23:40] azelma commented on #241
I'll work on this.

[2015-10-15 23:24] valeriecodes opened #247 "Resources link turns grey after click"
If you click on the "Resources" arrow and then mouse away from the link, the link text turns grey and is hard to see.
<img width="192" alt="screen shot 2015-10-15 at 7 23 44 pm" src="https://cloud.githubusercontent.com/assets/5439589/10530141/5cf95c1c-7372-11e5-9d5a-93e4cf5cc0cb.png">

[2015-10-18 02:35] azelma commented on #233
I'll take this.

[2015-10-18 20:20] t-walker opened #249 "Users to own a bathroom with the ability to edit them?"
While submitting restrooms, one of the addresses didn't place properly and I couldn't edit them. Would it be worth implementing a login system so users can own a bathroom that they submit and edit at a later time?

[2015-10-18 21:01] azelma commented on #167
This looks like it's been stagnant for awhile, I'm going to take a crack at it.

[2015-11-08 07:39] hissingpanda opened #251 "Adding highway rest areas to database"
An android user was wondering how to add some rest stops in MI as most rest areas don't have street addresses. An option to add Lat/Lng instead of a street address when submitting a restroom would be a way of solving this.

[2015-11-19 20:28] IvanGoncharov opened #252 "APIs.guru integration"
It really great that you provide Swagger specification for your API.
It allowed me to put it into my [catalog](https://github.com/APIs-guru/api-models). I'm trying to create open catalog of API specification.
It also integrated with couple other projects:
- https://any-api.com/consoles/refugerestrooms.org/v1
- https://sdks.io/SDK/View/refuge-restrooms
- To be continued... :wink:

I opened this iss

[2016-01-04 11:38] drdpedroso commented on #249
What if we leave it all open? For any user to edit?

[2016-01-04 17:43] t-walker commented on #249
That works as well. Perhaps suggested edits could go into a queue for admin approval?

[2016-01-04 17:45] drdpedroso commented on #249
Nice! I'll try to implement that in my free time

[2016-01-04 17:55] tkwidmer commented on #249
@t-walker @drdpedroso There is already a ticket / PR for this #198

[2016-01-04 22:30] tkwidmer commented on #249
But its been stagnet for a while

[2016-01-04 22:42] tkwidmer commented on #167
fixed by #250

[2016-01-04 22:42] #167 closed

[2016-01-13 04:04] mDantas commented on #247
Hey @valeriecodes, what browser? I'm looking on Chrome for mac and it looks fixed?

[2016-01-13 04:07] mDantas commented on #244
hey @hissingpanda just posting for reference should this be something everyone wants to do https://www.paypal.com/webapps/mpp/get-started/donate-button

[2016-01-13 04:14] mDantas commented on #235
FWIW I reproduced on live for Maxfield's House of Caffeine but could not do so locally.

Live:
![image](https://cloud.githubusercontent.com/assets/1493608/12284880/05772e46-b982-11e5-9ab9-1e1874160dbf.png)

Local:
![image](https://cloud.githubusercontent.com/assets/1493608/12284889/102a05e8-b982-11e5-8343-f8c5390f7e87.png)

[2016-02-16 19:42] t-walker commented on #249
I added a bunch of bathrooms and since my university refuses to publish the actual street address of the buildings a lot of them are just pinned to Pullman and I'm not sure how to change that. Perhaps before committing to the db you allow people to see where it is pinned and then drag and drop?

[2016-02-28 01:16] hissingpanda opened #256 "Can't Add Restrooms"
I've gotten several emails from the android app recently about users unable to add restrooms. When I tried to add a restroom on the site I kept receiving this error:

"We're sorry, but something went wrong. If you are the application owner check the logs for more information."

Any ideas?

[2016-02-29 04:50] mi-wood commented on #256
@tkwidmer this is probably (definitely) our heroku row limit. Any idea how much spam is sitting in there? I wonder if that would buy us a ton of space? I don't have admin access.

Alternatively, I will pay for upgrading this, but only the app owner has permissions to do so.

[2016-03-21 23:27] tkwidmer commented on #256
ack, woah, i missed this. It needs to be upgraded. I'll try to figure out how to do this week. @mi-wood @hissingpanda I don't think it can be done on the web, I remember that much.

[2016-03-24 20:45] tkwidmer commented on #256
As of Thursday March 24th, I've updated the database to a Hobby DB costing 9$ a month.

[2016-03-24 20:45] #256 closed

[2016-03-24 20:47] tkwidmer commented on #251
Right now these are hidden fields, we could make them unhidden. And maybe design the experiance a little bit better. Where there could be a link that says, I want to enter the Lat/Long. Alternatively, on the mobile web, I think you can guess your current location which fills in the lat / long -- address fields as well.

[2016-03-24 20:49] tkwidmer commented on #244
I got kind of overwhelmed trying to figure out the best way to do this. Ultimately it has to come to one person who then has to report it as income to the IRS, unless we have an official 501c3 sponsor. And a channel set up that way for donations.

[2016-03-24 21:45] tkwidmer opened #260 "Release 1.8.0"
Teagan (6):
      Merge pull request #238 from aitchabee/patch-1 @aitchabee
      Merge pull request #243 from azelma/develop @azelma
      Merge pull request #245 from cllns/strong-params-on-restroom @cllns
      Merge pull request #248 from azelma/changing-tables @azelma
      Merge pull request #250 from azelma/static-pages @azelma
      Merge pull request #254 from RefugeRestrooms/master

mi-w

[2016-03-24 22:27] tkwidmer commented on #260
I have to upgrade the Ceder stack on both staging and production to be able to release these changes.

[2016-03-24 23:46] #232 closed

[2016-03-24 23:47] tkwidmer commented on #249
@t-walker I think that also sounds like a good solution.

[2016-04-01 23:34] dunn commented on #247
I was just able to reproduce on Opera 36.0.2130.32 with the current `develop` branch.

[2016-04-01 23:39] dunn commented on #247
If you click the other nav links then move the cursor away before the page loads, I see the same behavior.

[2016-04-02 01:11] dunn commented on #247
IDK if it's a bug in Bootstrap or in the browsers but the anchor color doesn't seem to be getting overridden correctly.

[2016-04-28 14:45] hackerwitch opened #263 "Map and list not showing"
It looks like there may be an issue with the google maps API blocking rendering on the site. I tried to view the map for both SF and NYC.

[code]

[2016-04-30 17:02] bniedermeyer commented on #195
I'd be willing to do this.

According to [FB best practices](https://developers.facebook.com/docs/sharing/best-practices) we would need an app id. I can't find any reference to one in the project as it is now. Does one already exist or can someone (preferably whomever has access to the fb page) generate one? I guess I could do it as well but since I'm not a primary contributor I'm not too sure wha

[2016-06-02 04:00] cs09g opened #264 "Location Services Disabled; Tell them they need to enable."
os: window 7
web browser: latest chrome

when click search button with no query, refreshing animation starts with no reaction.
at least it should show what do i do, and stop the animation because it does not search anything.

[2016-06-02 06:14] strixcuriosus opened #265 "Feature Request: optional photo"
I notice that the "submit a new restroom" form in the web app does not have an option for image input. I have encountered some delightfully inclusive restroom doors, and I'd be interested in adding a refugerestrooms feature to document photos of restroom door signs.

Photos may also be helpful for clarifying or providing additional detail to directions. For example, saying "the restroom is located

[2016-06-13 18:41] hissingpanda opened #267 "Filter for Public/Customers only/Controlled access"
Had a great feedback suggestion from the android app to have a flag for public restrooms. This would be especially useful for college campuses, where some restrooms are in dormitories that require keypasses. Probably something that's been talked about, but I didn't see an issue for it.

[2016-06-13 18:48] hissingpanda commented on #251
The current location is a great option, but that particular user said they didn't always have time to log the restrooms at that very instant. Reception probably isn't the greatest in more rural rest stops too. A select box to choose between address and Lat/Long is an option, where if you select Lat/Long it unhides those fields. That way most people could just ignore it. I've noticed a lot of colle

[2016-06-13 18:50] hissingpanda commented on #251
A drag and drop option after submitting is also mentioned in #249, and seems like a good alternative to me.

[2016-06-14 23:15] tkwidmer commented on #251
@hissingpanda Drag and Drop functionality would be great.

[2016-09-19 17:05] bellisk opened #271 "Feature request: API for bulk upload"
I would really like to be able to bulk upload restrooms using the API. Unfortunately, I don't know Ruby or Rails at all, or I'd make a pull request. Also, I know spam is always a concern and the maintainers probably want to avoid potentially opening the site up to more of it, so it seems right to ask: Is this something there'd be an interest in?

[2016-09-20 13:56] clado commented on #271
I'm not a maintainer, but a middle ground could include a csv import that's only accessible as a rake task, rather than an api. You'd have to contact a maintainer and ask them to preform the bulk upload. Which might discourage and screen for spam, but might also be a pain.

[2016-09-20 18:03] t-walker commented on #271
An option for the API is to allow bulk submissions via an API and have them sorted by IP and time stamp that and be able to block malicious IP addresses.

If you expose those endpoints and have someone monitoring them it should be pretty simple.

[2016-10-03 15:49] pedrozan commented on #265
Hello, I think this would be nice. Can I develop this feature?

[2016-10-28 19:15] ams0026 opened #272 "FAQ for Restroom Hosts"
Hi All --

I'm new to the project and have been looking around for a way I can contribute. One thing I notice is that you don't have a FAQ for business owners/restroom hosts who find themselves on the list. I would like to take a first pass at that.

Roughly I'd like to tell business owners:
1.) How they got on this list (Someone used your restroom and thought you should be listed)
2.) Tips on bei

[2016-10-29 19:50] ams0026 commented on #272
I'm not sure how to take this issue but I'm going to get started on it.

[2016-10-31 03:45] t-walker commented on #272
I think a FAQ page would be great! Maybe there could be a sign that includes some printable materials that or ability to order cooler signage so that they can be proud of their bathroom and make it more obvious.

[2016-10-31 05:30] mi-wood commented on #272
I dug up some resources for work a while back, but it looks like I lost them when I switched my slack account :( I'll try to find some again and post them when I get a chance.

[2016-11-02 17:18] teddynicholas commented on #272
I'm also new to the project though I've been watching it for a while. I can help with some design aspects of the project if that's necessary. And I'd also love to help with the composition of the FAQ as well.

[2016-11-10 20:17] sashaperigo opened #273 "Strange UI on iOS App"
I just downloaded the Refuge Restrooms iOS App and went to check out the submit page. I think it might look nicer if there was a little bit of a margin before the different fields on the left!

<img src="https://cloud.githubusercontent.com/assets/8097457/20192619/ea482ac4-a78a-11e6-9f04-fc4e4a5e9f5c.PNG" width=300px>

[2016-11-11 00:11] Hkly commented on #264
What's the expected behavior when searching without a query? The pull request referencing this https://github.com/RefugeRestrooms/refugerestrooms/pull/269 seems to imply that it searches the current location if no query is entered, but when I try that I'm just left spinning.

[2016-11-11 00:15] Hkly commented on #247
https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/app/assets/stylesheets/nav.css.scss#L17-L20

I think adding a `&:focus` color as well will fix the grey.

[2016-11-11 01:36] cs09g commented on #264
It does show the message that a query should be entered, but spinning icon doesn't stop.

[2016-11-11 21:13] dunn commented on #247
I was going to give that a shot, but I can't reproduce this anymore.

[2016-11-15 05:13] Hkly commented on #247
I'll give it a shot, I can still reproduce it.

[2016-12-01 00:42] Hkly commented on #264
Ah so it looks like you have location services blocked or disabled on your browser. When location services is enabled, searching with no query does a search on your current location.

A fix for this would maybe be adding a message letting users know they need to enable location services. And stop the animation spinning too :P

[2016-12-01 01:27] cs09g commented on #264
@Hkly Right! I guessed so. That fix you just mentioned would be great.

[2017-01-21 22:35] jmisacube opened #276 "Play store icon missing from front page"
On the front page of http://www.refugerestrooms.org/, the play store icon seems to be missing. Going by https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/app/views/pages/index.html.haml, it _should_ be present, but isn't in the front page's HTML.

[2017-01-22 18:37] clado commented on #276
I've noticed this as well, and I think it's because the application hasn't been deployed in a while. If you look at the list of closed pull requests, all of the recent updates can be seen on the master/development branch but not in production.
I'm assuming this is either because the person who usually pushes updates to production is busy right now, or because we want to bundle lots of changes befo

[2017-02-12 14:08] #252 closed

[2017-02-23 21:43] lblackwell opened #277 ""List ViewOff"/"Map ViewOff" Button Text"
On the location search results page, the map/list view toggle button reads "List ViewOff" and "Map ViewOff" instead of "List View" and "Map View."

![rr1](https://cloud.githubusercontent.com/assets/5819571/23280383/cbfbbf28-f9cd-11e6-8002-de08a88ea330.png)
![rr2](https://cloud.githubusercontent.com/assets/5819571/23280387/cfa4c2f0-f9cd-11e6-9a31-7e6c49da42ad.png)

Should be a pretty quick fix to j

[2017-02-24 02:45] ianyh commented on #83
Any progress on this? This is a likely limitation for further development of the iOS application as in the past few years they have instituted harsher secure connection requirements.

[2017-02-25 15:19] #277 closed

[2017-02-27 23:32] hissingpanda opened #284 "Admin access to edit restrooms"
Does anyone check the emails for the "contact us about this post" contact form? Or has an updated database just not been deployed for awhile?

I receive a lot of requests to fix bathroom addresses from the android app and then submit them through this form. Is there a better way to go about this, or am I able to access the database myself?

[2017-02-28 18:36] hissingpanda opened #285 "Heroku Server is down"
The heroku server is down at http://www.refugerestrooms.org/

"Application error

An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details."

[2017-02-28 18:37] backspace commented on #285
This is surely [this issue](https://status.heroku.com/incidents/1059), which I believe relates to an S3 outage.

[2017-02-28 23:12] tkwidmer commented on #285
This is due to S3 outage.

[2017-02-28 23:31] tkwidmer commented on #285
https://status.heroku.com/incidents/1059

[2017-02-28 23:33] tkwidmer commented on #284
https://github.com/RefugeRestrooms/refugerestrooms/issues/126 exists, but stalled.

[2017-02-28 23:34] tkwidmer commented on #276
@clado @jmisacube We haven't been able to deploy for a while because of some changes to heroku's infastructure. I'm going to take care of this at the upcoming hacknight on the 13th.

[2017-02-28 23:34] tkwidmer commented on #284
I'm going to close this as a duplicate of #126. Admin access exists, and there are like 5 or 6 people who had volunteered to man this, but they have dropped off.

[2017-02-28 23:35] #276 closed

[2017-02-28 23:35] #284 closed

[2017-02-28 23:36] tkwidmer commented on #271
I'm confortable with either / both solutions

[2017-02-28 23:37] tkwidmer commented on #267
This is gtg, and i'd like to see this happen.

[2017-02-28 23:43] tkwidmer commented on #265
@pedrozan absolutely.

[2017-02-28 23:43] hissingpanda commented on #285
Thanks for the info. It's back up now.

[2017-02-28 23:43] #285 closed

[2017-02-28 23:45] tkwidmer commented on #263
I believe this was just temporary

[2017-02-28 23:45] #263 closed

[2017-02-28 23:48] tkwidmer commented on #272
Thats great. We do have some printable signage on the site. As far as I'm concerned we can start writing the FAQ here, and once we have some good answers we can make a PR

[2017-02-28 23:48] tkwidmer commented on #272
@ams0026

[2017-02-28 23:51] tkwidmer commented on #247
#275 should fix this.

[2017-02-28 23:51] #247 closed

[2017-02-28 23:51] tkwidmer commented on #242
#243 fixes this. Thanks @valeriecodes

[2017-02-28 23:51] #242 closed

[2017-02-28 23:56] tkwidmer commented on #285
We are back up. http://www.refugerestrooms.org/

[2017-03-01 00:04] tkwidmer commented on #273
This is the web view of the submit page, so totally doable in this repo.

[2017-03-01 00:04] tkwidmer commented on #273
Can you speak a little bit more about what you invision?

[2017-03-01 00:05] tkwidmer commented on #191
I dont have the ability to do this.

[2017-03-01 00:05] #191 closed

[2017-03-01 00:07] #97 closed

[2017-03-01 00:09] tkwidmer commented on #83
Open to investigation more on this if anybody has any input

[2017-03-01 00:12] tkwidmer commented on #169
Doesn't seem like OSM is that open to it, there was some conversation about this a long time ago, but they weren't interested. Closing for now.

[2017-03-01 00:12] #169 closed

[2017-03-01 00:13] tkwidmer commented on #137
We should put this information on refugerestrooms.github.io

[2017-03-01 00:34] ianyh commented on #83
Looks like Heroku supports non-paid SSL if you acquire a certificate elsewhere. Details are here: https://devcenter.heroku.com/articles/ssl

Could acquire one from Let's Encrypt for free. Details are here: https://letsencrypt.org/getting-started/

I am willing to assist with either or both of these, but would need access to the Heroku app.

[2017-03-01 18:25] tkwidmer opened #286 "Join the Slack"
I started a slack for Refuge contributors. You should join it.

Hoping this will be a good way for us to stay connected, and hopefully improve our work on Refuge Restrooms. If you are a contributor, or want to be a contributor, you should join the slack group

https://refugelgbt.slack.com/shared_invite/MTU0MjkzOTg5MzM0LTE0ODk0MjQ2NDQtZDU5MGFhYjhmZg

[2017-03-02 11:34] pedrozan commented on #265
Thanks @tkwidmer I'll fork and start ASAP

[2017-03-02 19:29] tkwidmer opened #287 "Upgrade Rails to 5.1"
Rails has been upgrade. We need to try to stay current.

### Upgrade from 4.2 -> 5.0
http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-4-2-to-rails-5-0

### Upgrade from Rails 5.0 -> 5.1
http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-0-to-rails-5-1

[2017-03-02 19:32] tkwidmer opened #288 "Upgrade Heroku Ceder Stack"
# Context

Heroku has depricated Ceder-10 which is what RefugeRestrooms is on. We need to update heroku to Ceder-14.

https://devcenter.heroku.com/articles/cedar-14-migration

<img width="670" alt="screen shot 2017-03-02 at 11 30 17 am" src="https://cloud.githubusercontent.com/assets/5265597/23523410/a30b8dfa-ff3b-11e6-8edb-d5c1ff2a930e.png">

[2017-03-02 19:32] tkwidmer commented on #288
I'm planning to try to take this in the upcoming hack day

[2017-03-02 19:34] tkwidmer opened #289 "Stabilize Rest API"
We need a more featureful API with POST and GET.

This will help us to better serve our Mobile Clients as well as allow us to move the front end into a framework like React / Ember / Angular which would allow for better contributions from front end developers who feel comfortable working in those frameworks.

[2017-03-02 19:35] #215 closed

[2017-03-02 19:36] tkwidmer commented on #220
closing in favor of https://github.com/RefugeRestrooms/refugerestrooms/issues/289

[2017-03-02 19:36] #220 closed

[2017-03-02 19:38] tkwidmer commented on #221
I don't know if we actually have control over this.

[2017-03-02 19:38] #221 closed

[2017-03-02 19:44] tkwidmer commented on #265
@pedrozan awesome, thank you!

[2017-03-02 19:52] tkwidmer commented on #233
Closed by #248

[2017-03-02 19:52] #233 closed

[2017-03-02 19:55] tkwidmer commented on #183
I'm going to close this for now. I think the long term plan is to pick a front end framework and begin implementing with that.

[2017-03-02 19:55] #183 closed

[2017-03-03 14:57] maecapozzi opened #290 "Guidelines for setting up dev environment could be clearer."
I think that it would be useful to add a bit more clarification on setting up vagrant -- I ssh'ed into vagrant, and then tried to copy and paste the commands below, only to realize that `rake vagrant:shell['rails s -b 0.0.0.0']` was within the shell.

I would suggest that we specify that if someone was going to develop while logged into vagrant, they just use the command `rails s -b 0.0.0.0` if th

[2017-03-03 15:05] cllns commented on #290
Thanks! I agree that should be more clear. Can you open a PR? :) it's fine if not

[2017-03-03 15:06] maecapozzi commented on #290
Yes! Planning on it. I wanted to leave this here as a reminder for myself :)

[2017-03-03 15:27] maecapozzi commented on #290
@cllns, here is the PR: https://github.com/RefugeRestrooms/refugerestrooms/pull/291

[2017-03-03 15:30] #290 closed

[2017-03-03 21:34] tkwidmer opened #293 "Yelp just killed Refuge? Whats the way forward? What now?"
So this happened today:

https://www.yelpblog.com/2017/03/now-use-yelp-find-gender-neutral-restrooms?sf59947170=1

Yelp is releasing a gender neutral bathroom flag. It's soon going to be able to be searched as a filter for gender neutral bathrooms.

[2017-03-03 21:47] clado commented on #293
Hmmmm. Interesting. I'm not sure what our web traffic looks like, but I think RefugeRestrooms would still be very useful for many communities. Most of the bathrooms in my area are in schools, churches, or libraries, which Yelp won't be likely to have data on. I still think there's a purpose for RefugeRestrooms, but I guess we'd have to wait and see. However, it would be super neat to try to use Ye

[2017-03-03 21:56] Graystripe17 commented on #293
If yelp makes it non-corporate, then it accomplishes the same goal as Refuge Restrooms, which was nonprofit anyway. Maybe contact Yelp and exchange data.

[2017-03-03 22:07] glassresistor commented on #293
I think a two way sharing of data would be great.  Yelp only listing businesses mean RR would still have an edge, also yelps general purpose means RR can be faster and easier to use especially for those updating the information.

[2017-03-03 22:09] tkwidmer commented on #293
It feels weird to just give our data to a for profit company that is going to find a way to make money off of that data.

[2017-03-03 22:17] tkwidmer commented on #293
Yelp certianly doesn't display high fidelity information about different building on campus at a school

[2017-03-03 22:49] glassresistor commented on #293
I get the desire not to help evil corporations or w/e but if it helps people I'm for it.  I doubt they would bother to link up anyways so its probably mute.

But it would be nice to filter down the restaurants im searching for by ones with bathrooms I can use.

[2017-03-04 04:10] Hkly commented on #293
I also think there is also high value in Refuge being made for and by the community. We all know yelp is just a for profit company. Refuge could provide more insight to the restroom availability/welcomness than yelp can/would. And there are definitely folks who don't use yelp, like me, that would use Refuge.

[2017-03-05 18:43] daguar commented on #293
One approach that might be worth considering is simply asking them for the :+1: to pull the data they collect into RefugeRestrooms.

At the end of the day, they're doing this because (a) some folks there think it's the right thing to do, and (b) they interpret it as a good press opportunity.

If that request really doesn't require much of them beyond saying "yes it's okay to scrape via our API" an

[2017-03-05 18:46] daguar commented on #293
(Also I just tried to add a bathroom to a location on both the web and latest mobile versions of Yelp and it's not actually there yet, so also it's kinda vaporware until it's a live feature.)

[2017-03-10 18:38] mi-wood opened #294 "Need Facilitators for Mar. 13th Hack Night"
Hey all!

Right now we have about 20 RSVPs for next Monday not including folks from Optimizely that will be joining. Ideally, I'd like to have about a 1:5 facilitator to contributor ratio so people can get the proper time setting up their environments and getting familiar with the code base.

With Teagan and I, I'm looking for about 3 more people that have worked on the codebase and are willing to

[2017-03-10 19:34] mi-wood commented on #294
Event invite for reference: https://www.eventbrite.com/e/refuge-restrooms-hack-night-tickets-32423804472

[2017-03-12 01:02] mi-wood commented on #286
@tkwidmer this link is expired. Can you update and/or add me as an admin please :)

[2017-03-12 04:20] jacindaz commented on #286
@tkwidmer Can you also add me as well? Thank you!

[2017-03-13 17:06] tkwidmer commented on #286
updated link @jacindaz https://refugelgbt.slack.com/shared_invite/MTU0MjkzOTg5MzM0LTE0ODk0MjQ2NDQtZDU5MGFhYjhmZg

[2017-03-13 17:06] tkwidmer commented on #286
The links are only good for one week

[2017-03-13 17:17] tkwidmer commented on #294
Yes please, if you are local, it would be wonderful to have you come by.

[2017-03-14 02:48] katarinajuliana commented on #197
I got this!

[2017-03-14 03:07] tkwidmer opened #295 "Guess Your Location does not return valid nearby restrooms"
<img width="590" alt="screen shot 2017-03-13 at 8 04 54 pm" src="https://cloud.githubusercontent.com/assets/5265597/23884178/777bc81c-0828-11e7-9eb9-583d7570a98c.png">

The Guess your location tool should show stuff nearby your location by distance order, currently its showing stuff on the opposite side of the country.

Related PRs: https://github.com/RefugeRestrooms/refugerestrooms/pull/112
https

[2017-03-14 03:44] lgdean opened #297 "Google Maps API needs key?"
Running the app locally, I searched in San Francisco, clicked on one of the results in the list (http://localhost:3000/restrooms/10), and got a page with info about the bathroom, and an error from Google instead of a map.

In the JS console, I found a `Google Maps API error: MissingKeyMapError` error, and two warnings.

See attached screenshot.
<img width="1433" alt="screen shot 2017-03-13 at 8 39

[2017-03-14 03:45] lgdean commented on #297
My friend tried too, and was sometimes getting the error, and sometimes not.

The wifi is too slow, at the moment, to see whether the same problem happens in production.

[2017-03-14 03:46] bbax412 commented on #272
Hi everyone!  Took a stab at these here at Hack Night -- all edits are most welcome!  Feel free to spin up into a FAQ and adjust as you'd like :)

**1) What is Refuge Restrooms?**
REFUGE is a web application that seeks to provide safe restroom access for transgender, intersex, and gender nonconforming individuals.  Read more about us on our [About page](https://www.refugerestrooms.org/about).

**2

[2017-03-14 04:36] mi-wood commented on #197
Thanks @katarinajuliana!

[2017-03-14 04:36] #197 closed

[2017-03-14 20:28] micahcochran opened #298 "OpenStreetMap"
OpenStreetMap (OSM) is Google Maps like mapping service that provides open data.  OpenStreetMap has a database of spatial data with tags.  Currently, it tags `amenity=toilets` and `unisex=yes` for unisex toilets.  Unisex is OSM's terminology for tagging.

I am working on a proposal for OSM for [tagging single-stall toilets and unisex toilets within businesses](https://lists.openstreetmap.org/piper

[2017-03-14 20:50] tkwidmer commented on #298
we've talked about some of this:
https://github.com/RefugeRestrooms/refugerestrooms/issues/169
https://github.com/RefugeRestrooms/refugerestrooms/issues/80

One of the issues is all of our lat/longs are geocoded with google maps, so we would have to re-geocode our addresses using OSM to start with.

In the past we looked into holesale importing our data into OSM, but OSM isn't cool with that. We h

[2017-03-14 20:53] tkwidmer commented on #298
http://wiki.openstreetmap.org/wiki/Legal_FAQ#2a._Can_I_trace_data_from_Google_Maps.2FNokia_Maps.2F....3F

[2017-03-14 21:11] glassresistor commented on #298
@micahcochran I think its great your doing this on OSM i was the person pushing to do that but ran into issues that @tkwidmer

Even though importing RRs stuff into OSM is likely not plausible it would be great to import them into RR.  Also it possible OSM can take new data from RR if it doesn't have the Google lat/long issues.

I'm researching at ETL from yelps bathroom data as well.

[2017-03-14 23:33] tkwidmer opened #299 "[DEV] Vagrant File Sync not seeming to operate properly."
I'm having trouble with the Vagrant not syncing changes I make into the VM.
Not sure what the issue is, am able to sync it by doing `vagrant reload` guessing the requirements changed for the syntax or something

[2017-03-15 07:15] dannypaz opened #301 "Create PR template for contributions"
Might be nice to have a PR template (something with description of problem, changes made... screenshots etc) so that it will be easier for others to context switch and review changes.

[2017-03-15 07:18] dannypaz commented on #231
@mi-wood @tkwidmer What features (other than starting a server, which already exists) would we want to see? Off the top of my head....

1. Start server (done)
2. Bundle update
3. SSH (nice to have consistency)
4. DB migration

Bundle install should be covered by `provision` although we might need to add more? documentation around that?

[2017-03-15 07:28] dannypaz commented on #297
@lgdean This looks to be an issue w/ the data from `db/export.csv`. Philz Coffee and the associated data [no longer exist at 3901 18th st](https://www.yelp.com/biz/caf%C3%A9-ub-san-francisco-2).

The 2 warnings from Google Maps API should not affect the features of the application.

[2017-03-15 07:34] dannypaz opened #302 "`last_comment` is deprecated. Please use `last_description` instead."
This occurs due to the rspec version. We will need to update rspec to remove these deprecation warnings when running rails server in VM.

More info [here](https://github.com/ruby/rake/issues/133#issuecomment-217581285)

[2017-03-15 07:43] dannypaz opened #303 "Update export.csv data"
`db/export.csv` hasn't been updated in almost 3 years, so the data _may_ be stale. We should make sure these locations are correct/up to date.

[2017-03-15 07:46] dannypaz commented on #297
@lgdean I've made a separate issue to address this https://github.com/RefugeRestrooms/refugerestrooms/issues/303

[2017-03-15 15:04] mi-wood commented on #299
@tkwidmer can you post your fix for this? I'm going to re-setup my dev environment and try to matte out and quirks in a bit, but I think you used `rsync-auto` right?

[2017-03-15 15:18] mi-wood commented on #231
@dannypaz this ticket might be outdated as the wrapper already exists. Maybe the documentation needs to be clearer than you can run any command from the wrapper script?

[2017-03-16 04:48] mi-wood commented on #297
I'm heading on vacation until next week, but if this is still up when I get back, I'll take a stab at this along with #299

[2017-03-16 05:17] mi-wood commented on #297
Taking a first glance and it seems like the last time we deployed was 12 months ago and as of last June they started requiring an API key for the JS API: https://maps-apis.googleblog.com/2016/06/building-for-scale-updates-to-google.html

We'll need to follow this and distribute the key: https://developers.google.com/maps/documentation/javascript/get-api-key

Haven't gone through the setup yet, but

[2017-03-16 05:19] mi-wood opened #306 "How do we share secrets/accounts?"
We should look into using a shared secret DB for some of our administrative keys. For accounts that allow multi-user access (ex. heroku) we should use that and make sure at least a few users have access to it. Otherwise, we should have somewhere to grab credentials from.

[2017-03-16 17:11] micahcochran commented on #298
@tkwidmer Thank you for sharing RR's history with OSM and the relavant legal info regarding OSM.

I'm not so confident of the OSM's ability to nationally geocode addresses.  It could be worth testing because some of the addresses will definitely be in there.

It'd definately take some work to try to import RR data into OSM.

I can understand OSM's reluctance to allow breaking their TOU.  Still, th

[2017-03-16 17:49] tkwidmer commented on #297
Yeah, limiting seems to be my only concern here. Since as i understood it the last time I had a conversation with google folks. The advantage with doing client side was we wouldn't be rate limited. We tried geocoding searches on our servers but we quickly hit the limit. I can probably try to take care of this. I may have some time on Sunday afternoon to work on it.

[2017-03-16 17:51] tkwidmer commented on #288
https://github.com/RefugeRestrooms/refugerestrooms/issues/297 Needs to be resolved before we can deploy again.

[2017-03-16 17:51] #294 closed

[2017-03-16 17:52] #293 closed

[2017-03-16 17:57] tkwidmer commented on #288
Something about Piwik or our setup of it is blocking the application from functioning on the new Heroku Cedar-14. I reverted some of the work in #206 and was able to get the app functioning for the most part. The maps are still broken on https://refuge-staging-14.herokuapp.com/, but it's in better condition. I'm using a test branch to try to do this work. I'll have to disable Piwik to get deploys

[2017-03-17 03:22] dannypaz commented on #287
I've been doing a little bit of research on our upgrade path. Here is some info

#### Gems to update

- rails
- coffee-rails
- dotenv-rails
- quiet_assets (Removal)
  - See more info [here... deprecation](https://github.com/evrone/quiet_assets#deprecation)
- devise
- jquery-rails
- turbolinks
- rack-contrib (See below)

#### Blockers

`rack-contrib` does not work with Rack 2, which is required for

[2017-03-17 06:27] dannypaz commented on #287
@tkwidmer I have absolutely no idea what files can be removed from the repo, so i'll probably need some help in identifying these

[2017-03-17 07:12] dannypaz opened #308 "Clean up old PRs (older than 30 days)"
I think it would be good to either 1. close or 2. fix and merge open PRs that are older than 30 days.

This will:
1. Allow us to figure out next milestones for the application
2. remove the impression of a stale project/repo

[2017-03-17 07:14] dannypaz commented on #231
@mi-wood that sounds good (The docs are pretty good for it). Do you think it would be beneficial to have a few stand-alone commands?

Either way, it looks like we are safe to close this issue.

[2017-03-17 07:17] dannypaz commented on #83
@ianyh +1 for letsencrypt. I think you still technically to `pay` for SSL w/ heroku containers tho :-/. Either you pay for the dyno, or pay for the addon.

```Heroku SSL is included for free on any app that uses paid dynos```

[2017-03-17 07:18] dannypaz commented on #299
@mi-wood the only way I have been able to get vagrant to update repo is with `vagrant reload --provision`

[2017-03-17 13:15] ianyh commented on #83
Ah. Good point. Well, depending on what the app's dyno usage looks like l would be willing to cover some cost.

[2017-03-19 06:54] kurtcarpenter opened #309 "rbenv issue on vagrant up"
On first-time start of the vagrant box, rbenv fails to install ruby 2.3.1:

[code]

[2017-03-19 19:23] dannypaz commented on #309
@kurtcarpenter I took a look at this issue this morning and was able to find more information on this issue [here](http://stackoverflow.com/questions/29357603/ruby-build-definition-not-found-2-2-1).

It looks like the ruby-build that is being used in vagrant could/maybe/notsure is a local copy (from your local machine).

Could you post the following commands:
`ruby-build --version` and `brew updat

[2017-03-20 05:09] kurtcarpenter commented on #309
I don't have ruby installed on the host machine- ~~I believe this is an issue with ruby-build's version cache not being up-to-date on setup.~~ turns out this was really an issue with newlines on .ruby-version not being stripped by the setup script

On the guest machine:
[code]

[2017-03-24 18:04] #309 closed

[2017-03-24 20:22] vernistage commented on #303
**Discrepancies:**
- 12, Mission Creek Cafe is permanently closed per Yelp & Google.
- 14, Rainbow Grocery Co-op is listed as "Rainbow Grocery"
- 17, Cafe Roma is listed as "Caffe Roma"
- 18, Maxfield's House of Caffine is "Maxfield's House of Caffeine"
- 19, Cafe Espresso is permanently closed per Yelp & Google
- 21, Muddy Water's is "Muddy's Coffee House" and is now at 1304 Valencia St San Franc

[2017-03-26 03:26] micahcochran commented on #298
I have written my proposal for OSM:  [Proposed_features/Toilet_Tagging_Improvements](https://wiki.openstreetmap.org/wiki/Proposed_features/Toilet_Tagging_Improvements)

It came out a little more passionate than I thought it would.

[2017-03-26 04:20] mi-wood opened #312 "Contributor Skill Guide"
I'm wondering if there's a good way that we could organize contributor's skill sets. Since we're a somewhat sparse community and not all of us know each other's work, it could be good for when a an issue or code review needs to be assigned. It would also be great so that new contributors could be paired for a PR and help them get better adjusted.

Haven't thought too much about what this would loo

[2017-03-26 04:27] mi-wood commented on #308
@dannypaz, I agree it'd be great if everything was current. Part of it is that @tkwidmer and I don't get the chance to dedicate the proper time to each PR to get it through and that also lends to people not following up.

I just went ahead and checked on a few of the older ones (including closing one of my own 😅 ). I've got some free time tomorrow and will follow up on some others.

I also opened

[2017-03-26 22:21] DeeDeeG opened #314 "Geocode (map pin) preview when submitting a new restroom"
Hi all,

It would be great to see the pin on the map before hitting submit, to avoid misplaced locations. Particularly because deleting or editing entries can't be done by a regular user right now.

I submitted a restroom and included the address copy-pasted from the place's website. This didn't geolocate properly, and ended up in the middle of the nearest town.

See:

http://www.refugerestrooms.o

[2017-03-26 23:54] DeeDeeG commented on #273
I'm not @sashaperigo, obviously, but I'm inferring two meanings here.

1) There should be blank space on the left/right of the text input boxes. That would give them room to breathe from the edges of the screen. (much more noticeable when [viewed fullscreen.](https://cloud.githubusercontent.com/assets/8097457/20192619/ea482ac4-a78a-11e6-9f04-fc4e4a5e9f5c.PNG))

2) There should be more of a blank s

[2017-03-27 00:51] DeeDeeG commented on #273
Looking into this a bit.

For my interpretation number 1:

There are margins of empty space on the left/right, but only for screens greater than 640 pixels wide. Looks good to me that way, with the margins of empty space, even on a narrow screen. Maybe the rule that says these margins go away at smaller screen sizes should be removed?

diving into the CSS a bit: There is a div.container element, a

[2017-03-27 04:31] mi-wood opened #317 "Test New Production"
it's been a very long time since we've deployed, but I've got the newest develop branch running with a few changes in a separate environment.

It would be great if people could try and break refuge-production.herokuapp.com. Note that this is using the prod database, so don't create any improper listings!

[2017-03-27 04:42] mi-wood opened #318 "Setup prod logging addon"
Haven't looked into a solution yet, but heroku only retains 1,500 lines of logs. Would be nice to stream them elsewhere. @tkwidmer mentioned sumologic

[2017-03-27 04:43] mi-wood opened #319 "Set PG backup cadence"
I had to restore from backups today and the latest one was 23 days ago. We should set this up to automatically backup

[2017-03-27 04:50] mi-wood commented on #319
I've enabled daily backups, which will be retained for 7 days. This is part of hobby-basic.

Unfortunately, you can't keep monthly backups at this tier, but we can keep 5 manual backups if we do that every once in a while.

If anyone sees a seamless way to do long term backups, let me know. I'll leave this up for a bit. I figure daily are more important for our use case though (breaking deploys).

[2017-03-27 04:57] mi-wood opened #320 "Allign accessibilty filter icons"
Icons get aligned with the start of the distance text. This means that they aren't aligned between listing, which seems a little odd to me. Maybe we can align right instead.

[2017-03-27 04:57] mi-wood commented on #320
For some reason, image uploads are broken for me right now. Will upload screenshot when I can

[2017-03-27 04:58] mi-wood commented on #320
Might make more sense to just align the distance text instead too.

[2017-03-27 05:05] mi-wood commented on #83
I'll take a look at this some time this week. I've got all the heroku/dns info, so I should be able to figure out something

[2017-03-27 05:10] #231 closed

[2017-03-27 05:11] mi-wood commented on #286
Maybe we can just say to make a github issue if you want to be added to the slack? I don't know if there's an easier way. Would like to close this though :)

[2017-03-27 05:13] mi-wood commented on #244
I think I'm going to close this for now. It's an ongoing discussion that we can chat about in slack or something.

[2017-03-27 05:13] #244 closed

[2017-03-27 05:14] mi-wood commented on #272
I'll go ahead and add a new page to link from the FAQ.

[2017-03-27 05:43] mi-wood commented on #235
Trying to figure out what's different here:
[code]

First one is prod, second is seed DB. Don't see anything that would cause this error in there :/ I can reproduce in prod thoough

[2017-03-27 05:47] mi-wood commented on #211
Closing this. Feel free to reopen if someone wants this as a feature

[2017-03-27 05:47] #211 closed

[2017-03-27 05:51] mi-wood opened #321 "Make Contributing Guide More Generic and Accessible"
Link contributing guide from readme and/or github.io

[2017-03-27 05:51] mi-wood commented on #137
Closing in favor of https://github.com/RefugeRestrooms/refugerestrooms/issues/321 since contributing doc exists

[2017-03-27 05:51] #137 closed

[2017-03-27 17:09] #301 closed

[2017-03-27 17:19] tkwidmer commented on #312
I'm in favor of this.

[2017-03-27 17:43] tkwidmer commented on #318
https://elements.heroku.com/addons theres an area for logging. Most of the plans only have 7 days of data retention.

[2017-03-27 18:13] #302 closed

[2017-03-27 18:14] tkwidmer commented on #317
Link to new production: https://refuge-production.herokuapp.com/

[2017-03-27 18:15] tkwidmer commented on #317
When you create an issue, please attach a milestone tag 'Ceder-14 Upgrade'

[2017-03-27 18:17] mi-wood commented on #319
Backup succeeded last night. Going to go ahead and close this for now.

[2017-03-27 18:17] #319 closed

[2017-03-27 18:17] tkwidmer opened #322 "Text Search from Home Page is Broken [Ceder-14]"
The auto complete, and search functionality seems to be broken on the ceder-14 production. This should be a simple fix. In addition the popular cities do not seem to show any results when you click on them.

![screen shot 2017-03-27 at 11 16 46 am](https://cloud.githubusercontent.com/assets/5265597/24371176/e5245648-12de-11e7-97f9-957810b50c4f.png)
![screen shot 2017-03-27 at 11 16 33 am](https://

[2017-03-27 18:17] tkwidmer commented on #317
Opened #322

[2017-03-27 18:19] tkwidmer commented on #260
I'm going to close this, since we will probably skip to 1.9.0 when we are able to deploy again.

[2017-03-27 18:19] #260 closed

[2017-03-27 20:16] tkwidmer commented on #299
I think this is closed, we determined the only way to do it is to run the rsync-auto command

[2017-03-27 20:18] tkwidmer commented on #273
@DeeDeeG I think thats what is being referred to. Happy to have this as a PR. And thanks for getting involved!

[2017-03-28 17:28] micahcochran commented on #314
I assume the "Contact us about this post!" link is how to get entries fixed.

[2017-03-29 01:36] DeeDeeG commented on #321
I started a pull request https://github.com/RefugeRestrooms/refugerestrooms/issues/324 that does the easy part of this, but if it needs changes feel free to make them/let me know what to change. If this isn't what you had in mind and you want to start from scratch that's okay, too.

[2017-03-29 19:13] DeeDeeG commented on #314
I did report it via the "contact us" link, but it hasn't been deleted. I hope that doesn't mean there is an issue receiving comments from users. Maybe it's just that there's a backlog, or something like that. But I don't have enough information to say either way, so those are just guesses.

[2017-04-01 03:56] DeeDeeG commented on #317
I looked for things that don't work, but I didn't see anything that wasn't in an open issue already. I ran into #322 and #295 but I'm not recalling much else being an issue.

[2017-04-01 04:32] DeeDeeG commented on #83
Just a comment, Chrome 50 onward have geolocation disabled over http non-secure.
For geolocation buttons on the site, the spinning animations show, and there is a warning message in the console. I'd say most users wouldn't know what's going on.

https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins

https://mobiforge.com/news-comment/n

[2017-04-01 06:06] DeeDeeG commented on #235
Not sure if it's relevent to the error, but the entries are both missing the 'e' in 'caffeine'.

Maybe prod fails when trying to bring up the entry, due to the typo?

I can reproduce on production by typing "Maxfield's" and hitting enter,
"Maxfield's House of Caffeine" and hitting enter, or
"Maxfield's" and clicking on the location from the dropdown.

Other businesses with "Maxfield's" in the name

[2017-04-01 06:16] DeeDeeG commented on #235
Also FWIW, when I get the error by typing "Maxfield's", or "Maxfield's House" etc. without clicking on the full address, I get this lat and long in the url: http://www.refugerestrooms.org/restrooms?utf8=%E2%9C%93&lat=43.4549719&long=-85.0437973&search=Maxfield%27s

43.45 North,
-85.04 West, which is apparently dead-centered on the town of Wyman, Michigan.

[2017-04-01 06:55] DeeDeeG commented on #235
Does anyone know the commit id, for when the live site went up? I (or anyone) can test it locally using that commit and see what errors there are on the command line of the vagrant box.

[2017-04-01 07:37] DeeDeeG commented on #295
I think searching by lat & long is broken, but only with a bad search query. I would infer that the guess button is generating a bad search query.

- This URL works fine (just a typical restroom search in the search box): http://refuge-production.herokuapp.com/restrooms?utf8=%E2%9C%93&lat=52.1540341&long=4.501732299999958&search=Text+Search%2C+Plantsoen%2C+Leiden%2C+Netherlands

- When I edit the

[2017-04-01 08:16] DeeDeeG commented on #265
Someone managed to get a picture posted in the comments section.

http://www.refugerestrooms.org/restrooms/22898

I didn't know that was possible... The fact that this issue exists and has 4 thumbs up suggests most people wouldn't think they could add a photo in the comments. Maybe there should be a note encouraging people to add/informing people they can add photos in the comments? Or maybe a fea

[2017-04-02 07:23] dannypazz commented on #322
@tkwidmer what is the URL for this test env?

[2017-04-03 01:54] DeeDeeG commented on #322
I'm not tkwidmer, obviously, but I believe the URL is: https://refuge-staging-14.herokuapp.com/

[2017-04-03 02:18] DeeDeeG commented on #321
Still to do would be to add contributing.md to github.io, which I take to mean https://refugerestrooms.github.io

Not much going on there yet, and the page looks like it's about all of Refuge, including housing and so on. So it's hard to make a segue from the site being about all of Refuge, to "here is how to tinker on and test the website for Refuge Restrooms."

(When I put it that way, we could

[2017-04-03 02:36] DeeDeeG commented on #299
I've been doing `vagrant rsync-auto` and it has been working as expecting, keeping files in sync and such.

[2017-04-03 03:00] #299 closed

[2017-04-03 03:04] mi-wood commented on #321
@DeeDeeG I think making the contributing doc more generally would be great. We could always move the current one to `setup.md` or something and link it from `contributing.md`

[2017-04-03 03:08] mi-wood commented on #265
@DeeDeeG this seems totally reasonable to me. offloading the photos to disqus seems kinda nice imo. Maybe the task should be putting that in the faq or post submission as a fyi.

@pedrozan have you started working on this yet?

[2017-04-03 03:08] DeeDeeG commented on #295
Think I figured it out. Or at least found a workaround:

Compare: http://refuge-production.herokuapp.com/restrooms?utf8=%E2%9C%93&lat=52.1540341&long=4.501732299999958&nearby=true (broken, and resembles the current guess button behavior)

http://refuge-production.herokuapp.com/restrooms?utf8=%E2%9C%93&lat=52.1540341&long=4.501732299999958&search=%22%22&nearby=true (working, modified version of the

[2017-04-03 03:09] mi-wood commented on #308
Closing this as it's cleaned up to the point where people have responded recently.

[2017-04-03 03:09] #308 closed

[2017-04-03 03:31] #273 closed

[2017-04-03 17:17] tkwidmer commented on #235
@DeeDeeG That I don't have any clue for. The original versions of the site were not tracked with releases, that has been a more recent thing for us. At the time we went live, it was just me pushing code. ^.^

[2017-04-04 05:18] DeeDeeG commented on #322
Text search is working right now at https://refuge-production.herokuapp.com.

Popular cities from the homepage isn't working anywhere... [refuge-staging-14](https://refuge-staging-14.herokuapp.com), nor [refuge-production](https://refuge-production.herokuapp.com), nor [refugerestrooms.org](http://www.refugerestrooms.org).

Looks like it tries to just search for the text Seattle WA, whereas the sea

[2017-04-04 05:51] mi-wood commented on #322
Thanks for the write-up @DeeDeeG. I'm wondering if the easier solution to this problem is just getting rid of popular cities? @tkwidmer  how do you feel about that? I'm not sure how useful searching all of SF or Seattle from the landing page is.

[2017-04-04 08:48] DeeDeeG commented on #226
FWIW, a lot of sites use cookies to store user preferences. I have no idea how to set a cookie but I thought I'd mention it.

[2017-04-04 09:33] DeeDeeG commented on #226
I wonder: is there a way to just "click" the filter buttons during page load? I am thinking from javascript.

If so, we could persist data the way you've done so far with URLs, and no need for messing with cookies.

(This may reveal that I don't fully understand your PR, but I think these are the right questions to start from/to get the ball rolling [again]).

[2017-04-04 23:53] DeeDeeG commented on #235
Any longitude from `-122.422` to `-122.428` causes this.

I suggest we fudge the longitude to be outside that range.

Also I am very confused by this, but y'know, we have a solution.

[2017-04-05 02:12] DeeDeeG opened #326 "Minor Vagrant issues"
Hello,

I don't know if this interests anyone, but it's been very helpful to me.

Setting up the directory structure like this lets you mess around a lot more freely with commits, adding/deleting files.

- [folder, name this whatever you want]
  - `Vagrantfile`
  - `.vagrant`
  - [refugerestrooms]
     - `project files from github`

Used to be that if you moved around too much (eg `git reset --har

[2017-04-05 02:12] DeeDeeG commented on #326
Oh goodness, I hit enter too soon. I promise this makes sense.

[2017-04-05 02:36] DeeDeeG commented on #299
I know this is closed, but I discovered that going from
config.vm.synced_folder ".", "/vagrant/", type: "**rsync**",
to
config.vm.synced_folder ".", "/vagrant/", type: "**virtualbox**", in the Vagrantfile eliminates the need to run `rsync --auto`.

[2017-04-05 02:43] DeeDeeG commented on #322
Just a note:

I checked out the 1.5 release tag to see how this used to work.

It used to show you the results page with no results, for a moment, then redirect to a properly geocoded search.

[2017-04-05 03:00] DeeDeeG commented on #326
You could have repos set up so that you do these steps to fetch the repos:

git clone https://github.com/RefugeRestrooms/refuge-vagrant
cd refuge-vagrant
git clone https://github.com/RefugeRestrooms/refugerestrooms

and these steps to get vagrant up:

cd ..
vagrant up

[2017-04-05 03:09] DeeDeeG commented on #326
Setting up vagrant outside the main repo requires two changes in the Vagrantfile:

config.vm.synced_folder ".", "/vagrant/", type: "rsync"  `->`
config.vm.synced_folder "**./refugerestrooms**", "/vagrant/", type: "rsync"

and

config.vm.provision "shell", path: "setup/setup_vagrant.sh", privileged: false `->`
config.vm.provision "shell", path: "**refugerestrooms**/setup/setup_vagrant.sh", privileg

[2017-04-05 03:21] tkwidmer commented on #299
Oh, let's do that! @DeeDeeG we should get a PR open with that change. @mi-wood

[2017-04-05 03:22] tkwidmer commented on #322
I'm ok cutting this feature

[2017-04-05 03:25] mi-wood commented on #326
@DeeDeeG I'm not entirely sure what the root cause is here. The `.vagrant` file is under `.gitignore` and shouldn't change unless you manually `rm` it or something similar.

I feel like adding a layer of repositories might be slightly more confusing to setup for newcomers.

[2017-04-05 03:31] mi-wood commented on #299
@DeeDeeG @tkwidmer the reason it's using `rsync` is to use the `exclude` option that other providers don't offer. I can't remember the exact issue (was two years ago), but syncing `.bundle` can cause some issues`

[2017-04-05 03:35] DeeDeeG commented on #299
I couldn't find .bundle in my repository, I think it's in the .gitignore?

[2017-04-05 03:45] mi-wood commented on #299
Yes, but Vagrant isn't aware of `.gitignore` when it syncs files

[2017-04-05 03:54] DeeDeeG commented on #299
I meant that, I figured if it's ignored by git, I'm not getting it when I clone from github.

(I note now from the git Docs that that isn't necessarily true: https://git-scm.com/docs/gitignore#_description)

Still, I didn't see it in my local folders anywhere.

(Maybe this is only an issue if you are a general ruby developer? I see here that there can be a .bundle folder in the home directory, at

[2017-04-05 03:57] mi-wood commented on #299
Yeah, `.bundle` is created during `bundle install`. You can see it's part of the `setup.sh` file. If you've run that, it will actually be in the repo in your Vagrant box and without the exclude would be synced back to your local directory

[2017-04-05 04:26] DeeDeeG commented on #299
Okay, I'm poking around in my vagrant instance to double check this, and it looks alright to me:

We are syncing between the GitHub folder `refugerestrooms` on the real host, and `/vagrant` on the vagrant box. We should be safe from syncing the .bundle file, since it's not in either folder, or any of either folder's subfolders.

For my double-checking: I did a `ls -la` and I didn't see it in `/vag

[2017-04-05 04:35] DeeDeeG commented on #326
Yeah, agreed.

It's not really good as a default, kinda clunky, but it solves a problem I was having.

I don't know what causes it, but there's no proper known solution, either.

Here is a thread about it, which says you have to keep proper track of the machine ID (stored in .vagrant directory) or the VM may be unable to be started:

https://github.com/mitchellh/vagrant/issues/2969#issuecomment-50

[2017-04-05 04:48] mi-wood commented on #299
Hmm, looks like it's not actually from `bundle install` but holds config files. It's been awhile since I've looked at this stuff. Since it doesn't appear to be an issue right now, but file syncing is, we can move back to using the default vagrant sync functionality and get rid of the declaration altogether. Vagrant automatically syncs the repo root to `/vagrant` I believe

[2017-04-05 05:06] #295 closed

[2017-04-05 16:45] tkwidmer commented on #322
Changing the title to refect the remaining issue, since #327 is open to remove the top cities.

[2017-04-05 16:55] tkwidmer commented on #322
Wait. this seems to be working now on staging. http://staging.refugerestrooms.org/, I'm going to go ahead and close this. Something we've done fixed this.

[2017-04-05 16:55] #322 closed

[2017-04-05 16:56] tkwidmer commented on #288
Now that #327 is merged, and #322 is closed. I think we may be good to go on the switch over

[2017-04-06 20:30] pedrozan commented on #265
@mi-wood  I managed to find time to start, but now I'm having difficulties to find the time to finish it =P

[2017-04-07 20:41] DeeDeeG commented on #226
I ran this branch https://github.com/RefugeRestrooms/refugerestrooms/tree/mi-wood/bug/226-persistent-filter in vagrant a bit, and I saw the issue you mentioned with maps appearing gray. I don't know why, but resizing the page after initially loading the map in makes the map show as expected.

[2017-04-07 20:43] mi-wood commented on #226
Maybe we can re-open and tidy it up then 😅

[2017-04-07 22:28] DeeDeeG commented on #226
I am at a loss for what makes this happen, so I'm not sure I would be of much help. Javascript isn't one of my strong areas.

If I understood how we are applying the search filters on `develop` branch, I'd be more comfortable with trying to make it work here. So I'll take a look at that as a start.

[2017-04-07 23:02] DeeDeeG commented on #226
I have to say, the current setup looks complicated to me. Take this with a pound of salt, since I don't know javascript very well. I wonder if an alternate approach would be easier.

My instinct for this feature would be to try to do it like this:

- Filters off by default or if no filter "state" detected.
- [users click the filter buttons as usual, current page updates instantly] (same as current

[2017-04-07 23:07] DeeDeeG commented on #226
Or to sidestep the issue of how to do filters, since you got that working already (somehow I keep forgetting that that is already solved): Are there any changes to how the map is being shown that can be undone? That part with the gray map really mystifies me the most.

[2017-04-07 23:25] mi-wood commented on #226
So, I know about 0 JS and that's part of why this PR is a mess btw :)

Since the actual results are not a very large payload, I think a big upgrade would be to do pagination client side. That's obviously a lot more work and I wouldn't personally know where to start.

The goal of this PR was to simulate what client side filtering might look like. Filters get selected and are sticky within a search

[2017-04-10 19:43] DeeDeeG opened #332 "Add a page for "Other Bathroom Directories", under the Resources dropdown"
Hi,

I was reading @micahcochran's proposal over at Open Street Map ([link](https://wiki.openstreetmap.org/wiki/Proposed_features/Toilet_Tagging_Improvements), [discussion](https://wiki.openstreetmap.org/wiki/Talk:Proposed_features/Toilet_Tagging_Improvements)) ...

and this restroom database for all of Australia was mentioned: https://toiletmap.gov.au/

Maybe there are other bathroom databases ou

[2017-04-10 21:33] micahcochran commented on #298
I reported an issue OSM's iD editor for `amenity=toilets` being a radio box that wouldn't allow you to report multiple "genders".    Got some great guidance about a way to address this.
 https://github.com/openstreetmap/iD/issues/3954

iD editor is the top 1 or 2 editors of OSM and is the one that requires no extra software to be installed (only a Javascript enabled web browser).

There was an ear

[2017-04-10 21:44] micahcochran commented on #332
Very good idea.

There is also the "Great British Toilet Map". However, I think it might need a little bit of a push to make work for TIG populations.  I don't think their database is quite as extensive.  It does include unisex facilities.
 https://greatbritishpublictoiletmap.rca.ac.uk/

[2017-04-12 01:04] juliofarah commented on #306
Hi there!
Hope you're doing great.

Please, correct me if I got it wrong, but I don't believe you need a secret DB (if you're concerned only about sharing passwords and access keys - `.pem` files).

In my current project, we currently use `git-crypt` as a solution for sharing sensitive information such as passwords and access keys in a secure way.
All the passwords are checked in with the code, bu

[2017-04-12 01:30] juliofarah commented on #200
Hi there!

I hope I'm not crossing any lines here, I just got here and would like to contribute with the project (running `vagrant up` right now :smile:), but I'd like to as why you'd rather use Piwik instead of Google Analytics.

One issue I've faced with GA is that it's quite hard/impossible to analyze data from China due to the _great firewall_ (fortunately we have a VPN to redirect users to Ho

[2017-04-13 22:09] mi-wood commented on #306
Thanks @juliofarah! I'll take a look into when I get a chance!

[2017-04-13 22:12] mi-wood commented on #200
@juliofarah Welcome and thanks! @tkwidmer might no a little more about this, but I'm pretty sure we're trying to move off of google services and that's why we use Piwik instead.

More info here: https://github.com/RefugeRestrooms/refugerestrooms/issues/80

[2017-04-18 19:16] DeeDeeG opened #334 "Interested in making a "Maintainers'/Newcomers' Manual" for working on the Refuge Restrooms site"
Hi all,

I have this idea in my head about a great resource for newcomers, with some advanced tips/tricks thrown in.

This could take the form of a "GitHub Wiki", or could just be a variety of text files in the repo.

My goals for the content of this guide would be to include brief primers on core technologies we are using

- Ruby and Rails
- HAML
    - Mostly just link to this: http://haml.info/t

[2017-04-18 20:15] DeeDeeG commented on #332
It looks like the main thing Great British Toilet Map would have to change is filtering for "unisex" toilets. I say that because, as you point out, they do already have the unisex facilities in their data.  Does that sound right to you @micahcochran?

I am going to reach out to them if everyone doesn't mind, to see if they can add what we would want for our users (and for the benefit of their user

[2017-04-19 17:37] micahcochran commented on #332
@DeeDeeG Yes, I agree.  Thank you for volunteering to reach out to them.

[2017-04-20 20:26] DeeDeeG commented on #187
Other than the ideas for alternative icons presented here, which I think are interesting and worth looking into, I did notice something about the current logo. The arms/legs are borrowed from the original icons, but this ends up being thinner on the left and wider on the right. I think it would look less unusual if the arms/legs were the same width on each side.

Since the width of the arms/legs c

[2017-04-20 20:59] DeeDeeG commented on #187
Quick mock-up in MS-Paint (sorry, my art skills aren't the best) of the back-to-back R style of logo.

Would probably be done with much-nicer letters, so this is just a rough sketch.

![R R logo](https://cloud.githubusercontent.com/assets/20157115/25252302/7383d972-25ea-11e7-8e2b-5b5e350b3675.png)

[2017-04-20 22:26] DeeDeeG opened #335 "Retina city-photo.jpg images aren't being used on high-density screens"
As far as I can tell, the high-density images aren't being used.

Looking at some references/documentation, it seems like an easy fix.

### Leaving my research links here:

#### How to Implement

Example implementation (out of date?) https://gist.github.com/marcedwards/3446599

(Simpler example, and more recent. Might miss some browsers, though. Also goes through a fairly exhaustive list of "outda

[2017-04-21 17:48] DeeDeeG commented on #326
Not to clog up the issues page, I found another Vagrant issue.

Vagrant 1.9.3 (latest version) errors out during "vagrant up" on Windows.

This is addressed at Vagrant/master on GitHub. There is also a workaround described here, while Windows users wait for the next release of Vagrant to come out:  https://github.com/mitchellh/vagrant/issues/8395#issuecomment-288379271

[2017-04-21 18:23] DeeDeeG opened #336 "Avoid installing (i.e. compiling) ruby from source during vagrant up?"
#Hi all,

One of the biggest time sinks right now when running vagrant up is compiling ruby from source. I wonder if we could compile once, host the compiled version in, say https://github.com/refugerestrooms/third-party-ruby or something like that, then download and install the binary from there, instead of compiling every time we make a new vm?

Right now vagrant up runs somehwere near and hour

[2017-04-21 19:37] DeeDeeG commented on #336
#### Research links

How to make a package as a .deb https://ubuntuforums.org/showthread.php?t=910717

[2017-04-21 20:43] DeeDeeG commented on #297
Acrcording to #316 this is fixed, looks like this issue here can be closed.

[2017-04-24 03:49] #297 closed

[2017-04-24 03:57] mi-wood commented on #336
Another way to do this might be creating our own vagrant base box that already has ruby and the other dependencies set up. We could host this somewhere. Maybe there's something free, or s3 will cost practically nothing for this. Then people just have to download that box and it's all set up. The setup script is idempotent, so it can always be run for minor updates after that.

[2017-04-24 04:04] mi-wood commented on #334
All for this! Happy to work with you on this where I can help. Honestly, even I'd benefit quite a bit from this 😂

I'd like if the `README.md` was a little bit lighter too (for finding a quick description and index). I'm always a big fan of hierarchical index structure where needing help outside of the project itself (ex. git tips) would then be linked from corresponding pages (contributing guide

[2017-04-24 04:07] mi-wood commented on #332
I'm all for this. I'm wondering if there's also a way (accidentally just wrote "gay" 😅) to integrate this directly with our search process (depending on the time it takes to query), that way we can also get ratings and comments from our users to vet it for more than just being unisex.

[2017-04-24 14:55] DeeDeeG commented on #336
I learned a new vocab word today!

That all sounds good to me. Just popping in again to say that Nokogiri is the other large-ish consumer of time during vagrant up, as it too compiles from source. Although I see on its website that is by design.

Wow, that would be amazing.

I found a link to a lengthy but relatively easy-looking tutorial for creating the box: https://github.com/hollodotme/Helpers

[2017-04-24 15:27] DeeDeeG commented on #334
Yep. Didn't want to presume this idea was the way to do #321, without anyone else's input, since I just made it up myself and it's kind of a project-wide thing, but it's pretty much in response to that. Glad to hear you're for it!

I am leaning toward a wiki for my own sake, since I'm familiar with editing Wikipedia, but my gut also tells me that `xyz.md` is more accessible to newcomers and possib

[2017-04-24 15:45] DeeDeeG commented on #334
I'm going with a very informal, but hopefully direct and to-the-point style. I hope this will be engaging and pleasant to deal with, and also helpful.

Any comments on this, or any change of direction on that, I am open to it.

[2017-04-28 23:04] DeeDeeG opened #338 "Manually add "changing_table=true" for old restroom entries that mention baby changing stations."
There are some restrooms with "changing station" or "baby changing station" in the description, and it would be nice if we could edit them to come up as having changing stations.

http://www.refugerestrooms.org:80/api/v1/restrooms/search.json?query=changing%20station

http://www.refugerestrooms.org:80/api/v1/restrooms/search.json?query=baby%20changing

[2017-05-01 05:52] mi-wood commented on #334
@DeeDeeG I'd definitely say just have at it and I'm happy to review and update it more. Thanks!

[2017-05-01 05:54] mi-wood commented on #338
Could probably update this with a quick "select if contains" query to postgres. I'll look into this if I get a chance. If someone else also wants to write the command, I'm happy to vet it and run it against prod.

[2017-05-01 17:30] DeeDeeG commented on #334
I did everything on my list in post 1, Except: Cucumber (couldn't find any sources to learn from yet.) and Rails.

Rails would be great to document, so I might look into that. Anyone with Rails expertise would be quite welcome to go and do it, though, obviously. 😁

[2017-05-01 17:47] DeeDeeG opened #339 "Consider using Maps API differently for optimal performance, best features, low quota usage"
I have some questions about how we use the Maps API, since there are a ridonkulous number of options and ways to use the API.

Particularly my questions are:

- There are simple, embedded graphical maps that don't use the quota at all. Should we be using those anywhere? (example: on the info page for a single restroom) https://developers.google.com/maps/documentation/embed/

Right now we show only

[2017-05-01 17:47] DeeDeeG commented on #339
(Note: I know we are trying to move away from Maps API, but for now while we are using GMaps, it might be nice to get the most out of it. I do understand that integrating further with GMaps might make it less appealing to switch to OpenStreetMaps, so I thought it would be pertinent to mention that here. I was inspired to do this post after writing the Wiki page for Google Maps API, which is [here]

[2017-05-07 04:15] dannypaz opened #341 "Remove rack-jsonp for rack-cors"
Please see the following comment https://github.com/RefugeRestrooms/refugerestrooms/pull/307#issuecomment-299679611

After we have updated RR to Rails 5, we should remove our dep on `rack-jsonp` and replace with `rack-cors`

Reasoning:
1. More Secure
2. Still relatively maintained (Feb of this year vs. 3 years ago

TLDR from @DeeDeeG:
```I read on Wikipedia that jsonp is insecure, and is being rep

[2017-05-09 18:30] DeeDeeG commented on #341
I did some quick research on this.

Short version:

- We use rack-jsonp and also rack-cors right now, and we only use them to access our restrooms API.
- Move away from any use of jsonp in favor of CORS? more research to find out how to do that.
- (Not sure switching will help much, since all the domains in question are ours, so if we are hacked we probably have a bigger problem than using jsonp o

[2017-05-10 05:53] DeeDeeG opened #342 "Remove top cities RSpec tests ("specs")"
The Rails 5 PR only seems to be failing on some tests that check top cities. Since we recently removed the top cities feature entirely, we can just delete the tests.

The tests are located here: [spec/models/restroom_spec.rb](https://github.com/RefugeRestrooms/refugerestrooms/blob/c96bdcd36a28a0420ddb96d895745be94d24faf4/spec/models/restroom_spec.rb#L49)

(Should be a roughly less than 5 minute fi

[2017-05-10 15:23] mi-wood commented on #287
Deployed at https://refuge-production.herokuapp.com/ !!

[2017-05-10 16:34] DeeDeeG commented on #342
Fixed by @dannypaz in the Rails 5 PR, #307.

[2017-05-10 16:34] #342 closed

[2017-05-10 17:28] tkwidmer commented on #287
Now just to get from 5.0 to 5.1!

[2017-05-10 19:41] #317 closed

[2017-05-10 19:42] mi-wood commented on #288
Yay this is deployed!

[2017-05-10 19:42] #288 closed

[2017-05-10 19:43] mi-wood commented on #286
Going to close this and maybe add something to the readme

[2017-05-10 19:43] #286 closed

[2017-05-10 19:45] mi-wood commented on #265
Let's maybe add this to the FAQ and close it :)

[2017-05-10 21:16] DeeDeeG opened #343 "Caching issue when accessing the new refugerestrooms.org"
Hi all,

Here is what's up with this:

- Trying to visit the site with "www" in the URL ("http://www.refugerestrooms.org") gave me an "internal server error". Visiting "http://refugerestrooms.org" *without www in the URL*, worked fine.
    - The problem went away after I cleared my browser cache, so this will be solved for all users automatically, after their caches expire. Users can clear cache t

[2017-05-10 21:55] DeeDeeG opened #344 ""Guess location" and search by location on homescreen aren't getting the user's location"
Edit (Note): Not sure this is a general problem or just me. Original post below...

Hi,

I tried searching at the homepage, http://www.refugerestrooms.org, by pressing the magnifying glass button. It seems to be trying to search by my location, and the spinner is spinning, but it doesn't go anywhere. (doesn't search or show my location in the text box.) I did grant permission to access my location

[2017-05-10 23:45] DeeDeeG commented on #344
I'm going to try checking our code against this example from the Google Maps API documentation. If there'sanything radically different, it should be easy to notice (they even have code snippets.)

https://developers.google.com/maps/documentation/javascript/geolocation

[2017-05-11 01:13] DeeDeeG commented on #344
I'm having trouble reading our JavaScript/CoffeeScript "Promises", but I think some of them don't throw errors to the console when they fail?

(I don't really have a strong ability with JavaScript, but I can say that whatever isn't working, isn't throwing any errors or messages to the console.)

[2017-05-11 06:13] DeeDeeG commented on #344
So my browser can't do geolocation at https://www.openstreetmaps.org or https://maps.google.com

I'm not certain this is a problem with our site, actually.

[2017-05-11 13:39] mi-wood commented on #343
I had to clear my cache and it worked. Not sure what the best way to handle that for everyone else is though.

[2017-05-11 18:18] DeeDeeG commented on #343
In my experience, sites much bigger than us have dealt with cache issues, by finding a way to message to users that there is a fix, albeit via rather obscure "help/support" pages... And then other than that just wait it out. :| we could let our Twitter followers know. But... That involves broadcasting to the world a technical glitch many may not be aware of, so there's the plus side and the down s

[2017-05-11 19:08] DeeDeeG commented on #343
From my previous comment, I looked at how to disable caching.

Here's a config file where we set up (explicitly disable) caching when developing:

https://github.com/RefugeRestrooms/refugerestrooms/blob/bcdcb275bcb91191d1f1a6af18991dbf4fb20f30/config/environments/development.rb#L24 (disable caching)

https://github.com/RefugeRestrooms/refugerestrooms/blob/bcdcb275bcb91191d1f1a6af18991dbf4fb20f30/c

[2017-05-11 20:20] DeeDeeG commented on #343
Whoops, I think what I was looking for was HTTP Cache headers.

Such as:

[code]

From: [config/environments/development.rb](https://github.com/RefugeRestrooms/refugerestrooms/blob/bcdcb275bcb91191d1f1a6af18991dbf4fb20f30/config/environments/development.rb#L21)

We should just add something like that to our production config. If we want to deploy a hotfix, to this caching issue, I mean.

[2017-05-11 20:42] DeeDeeG opened #345 "HTTPS is 99% working, except the certificate points to *.herokuapp.com, instead of Refugerestrooms.org"
We have a working https connection, sort of: If you click through your browser's "this connection is not secure" warning, https://www.refugerestrooms.org will deliver you encrypted assets.

The problem is, our certificate is set up to work on herokuapp.com, so we need that edited to work on Refugerestrooms.org

I think this guide from Heroku is the most relevent support doc for this problem (no ex

[2017-05-17 12:42] pedrozan commented on #265
@mi-wood maybe its best, sorry for not being able to finish this =/

[2017-05-17 15:47] mi-wood opened #346 "Add reply-to to contact form."
The default is to reply back to the refuge email. Would be nice to have this be the user's email so I don't mess up and respond to the wrong email

[2017-05-18 03:12] DeeDeeG commented on #336
If we would be comfortable moving away from rbenv, I would be interested in moving forward with the .deb packaging of ruby. That seems less daunting to me than the vagrant box solution.

The Ubuntu bug tracker thingy, "Launchpad.net," has a .deb package hosting solution, for free, baked into it, so we wouldn't have to worry about hosting costs/logistics.

For integrating it with our `vagrant up` s

[2017-05-18 03:29] DeeDeeG commented on #344
This is a Firefox bug. https://bugzilla.mozilla.org/show_bug.cgi?id=1363966

[2017-05-18 03:29] #344 closed

[2017-05-18 03:31] DeeDeeG commented on #341
I am tempted to try just removing everything jsonp-related from the project, test it and see if anything breaks.

[2017-05-21 04:44] DeeDeeG opened #347 "Switch production web server from WEBrick to Puma or similar"
Hi folks,

I was reading on the Heroku site, and I saw that the recommended web server software to run is Puma, according to Heroku. https://devcenter.heroku.com/articles/ruby-default-web-server

(There is also a web server called "Unicorn". Who knew?)

The way this is described in the guide, it's not actually too hard to switch. (Mostly just change our repo's Procfile (which is one line long) and

[2017-05-21 04:58] DeeDeeG commented on #347
I could do this. Testing would involve setting up a Heroku instance, which I've never done before, so it would possibly take me longer to test it than anyone who has already deployed to Heroku, but I think it would be surmountable.

[2017-05-21 23:06] DeeDeeG commented on #336
I've been working on this. I made the box, but adding it manually, it or having it hosted so it will download automatically, are still a bit complicated.

Here's a link to grab the box file I made: https://www.dropbox.com/s/pc7wi24swy5iql2/refugerestrooms-box-test-1.0.box?dl=0

You can add it with
`vagrant box add file:///[path-to-box-file-wherever-you-downloaded-it-to] --name [some-name]`,
 and t

[2017-05-30 01:03] DeeDeeG commented on #343
I think the caching issue is resolved formost users by now. In any case this one fixes itself over time! Closed.

[2017-05-30 01:03] #343 closed

[2017-05-30 01:06] DeeDeeG commented on #334
Closing because the guide exists now!

[2017-05-30 01:06] #334 closed

[2017-05-30 01:09] DeeDeeG commented on #326
Closing this, since neither of these is an ongoing problem as far as I can tell. (Also: they've only affected me so far, and I know how to deal with them!)

[2017-05-30 01:09] #326 closed

[2017-06-11 04:44] #346 closed

[2017-06-11 05:08] mi-wood commented on #287
fyi, this is currently blocked due to a transitive dependency between rails and devise. Will probably just wait for a release of devise

[2017-06-13 22:48] kurtcarpenter commented on #320
Considered also displaying the filter icons horizontally instead of vertically? If/when more filter icons are present, three or more won't really fit as is.

Also, illustration of what mi-wood was mentioning:
<img width="879" alt="misaligned" src="https://user-images.githubusercontent.com/9683513/27107921-a66b15e6-5068-11e7-84e9-e676e85fee5b.PNG">

[2017-06-13 22:54] kurtcarpenter opened #352 "Cleanup the map view's marker box"
Currently, the box looks out of place (solid white background, 1px solid black border, no padding), and the filter icons are vertical and spill out of the box. It would be nice if it didn't block out the map (i.e. partially transparent), had padding, and filters icons were horizontal (maybe with tooltips?)

<img width="303" alt="map-details" src="https://user-images.githubusercontent.com/9683513/2

[2017-06-13 23:25] #335 closed

[2017-06-27 22:36] Hkly commented on #352
And I way to close the modal could be helpful too!

I think I would like to tackle this one.

[2017-07-01 00:52] #320 closed

[2017-07-02 07:34] ShayShayBeekay commented on #241
As this is attached to another issue, anyone know if it's safe to close?

[2017-07-03 17:03] strand commented on #241
@ShayShayBeekay Thanks for pinging on this,

[2017-08-11 14:48] stardust66 opened #357 "Prevent the same person from rating more than once"
There's no good way to do this completely, but I think it's good to set a cookie so the average user can't upvote or downvote multiple times.

[2017-08-12 23:22] mi-wood opened #361 "Set up heroku dev deploy"
I'd like to be able to preview changes in dev, but there's some environment stuff that needs to be set up. Mostly just adding keys to env variables. We might be able to copy this from the old staging environment

[2017-08-13 19:46] stardust66 commented on #345
This is important because I don't think location services work through HTTP, at least that's what it said in the Google Chrome js console. The HTTP site should redirect to the HTTPS site.

[2017-08-18 02:23] mi-wood commented on #345
I originally tried to set up that with heroku's wildcard cert which causes issues with "www". I'll take a peak at this once I get a sec. We have some funds we could use if it's easy to just pay heroku to manage it for us.

[2017-08-18 02:24] mi-wood commented on #345
Linked to: https://github.com/RefugeRestrooms/refugerestrooms/issues/83

[2017-08-18 03:20] mi-wood commented on #345
Ah, looks like it's changed a bit. If we just upgrade our dynos to hobby ($7/month) we can enable ssl with a single command. I think that's worth it. @tkwidmer sound good?

[2017-08-18 17:27] Hkly commented on #345
As an aside, is there a way for folks to contribute financially to help offset the costs of stuff like this?

[2017-08-18 18:08] mi-wood commented on #345
@Hkly We've got funds from Fund Club to pay for this :)

[2017-08-18 20:01] #345 closed

[2017-08-18 23:06] mi-wood commented on #361
https://refuge-staging-14.herokuapp.com/ is deploying again

[2017-08-18 23:06] #361 closed

[2017-08-19 11:43] #314 closed

[2017-08-19 11:49] mi-wood opened #365 "Change gray form text to black"
For some reason form text is gray and it's kind of hard to read in contrast on white

[2017-08-19 18:29] mi-wood opened #366 "Preview does not load with "Guess current location""
The preview works great if I fill in an address, but "Guess current location" causes the button to not work. I'll take a quick peak as to why. Still going to deploy to master, since this is a minor issue

[2017-08-19 18:30] mi-wood commented on #366
@stardust66 @Hkly fyi

[2017-08-19 18:45] mi-wood opened #368 "https://refugerestrooms.org showing wrong cert"
Not really sure why it's showing this...  Has been confirmed on other people's computers and safari/chrome/firefox

![screen shot 2017-08-19 at 11 44 28 am](https://user-images.githubusercontent.com/3472115/29489348-e5116760-84d3-11e7-8a62-493cb16a5b51.png)

[2017-08-19 19:08] stardust66 commented on #366
Oops I found the problem. I forgot to put `@_map.classList.remove("hidden")` in the `updateMap` function. Instead I put it in the call back for when the preview button is clicked, so clicking the guess button doesn't unhide the map. I'll move it.

[2017-08-19 22:58] DeeDeeG commented on #345
@Hkly There's also the Patreon (which was mentioned on Twitter once, I think).

https://www.patreon.com/refugerestrooms

[2017-08-19 23:04] mi-wood commented on #345
@DeeDeeG Hi!!

[2017-08-19 23:27] DeeDeeG commented on #345
Hi, I'm still around, just been busy! Hoping to keep contributing as I can/when I've got more free time!

[2017-08-19 23:32] mi-wood commented on #345
No worries! I was just excited to see your name :)

[2017-08-21 20:14] tkwidmer opened #371 "Set up Maintenece Mode on Heroku"
Directions Here: https://devcenter.heroku.com/articles/error-pages#customize-pages

[2017-09-03 12:10] ShayShayBeekay commented on #365
Can this issue be set to closed if resolved by 370?

[2017-09-04 14:42] stardust66 opened #372 "Guess location doesn't fill in country in the form"
After clicking guess location when submitting a new restroom, the country selector in the form is left blank.

[2017-09-06 18:49] Hkly commented on #365
Whoops sorry, my bad, must have missed it when I reorganized the stylesheets.

[2017-09-09 04:41] eroncanc opened #375 "Feature request: autocomplete addresses."
Hi all,
I found about RR in a NB support fb group. Great work!

Would love to contribute. Is an autocomplete for addresses on app and website desired? Ive used the google maps autocomplete api before and it was pretty nice.

I saw talk about move to OSM, is that happening anytime soon?

[2017-09-17 15:12] DeeDeeG commented on #368
For what it's worth, here is the main support article for automatic SSL setup on Heroku:
https://devcenter.heroku.com/articles/automated-certificate-management

from the [Troubleshooting](https://devcenter.heroku.com/articles/automated-certificate-management#troubleshooting) section, some setups won't work:

I wonder if any of those apply to us?

(If they do, then we can't use Automatic Cert Manag

[2017-09-20 21:46] DeeDeeG commented on #375
That sounds cool. I think as long as it doesn't cause any issues with our API rate limit (or increase fees) that would be a great addition.

Actually, I think we are already supposed to have auto-complete, at least on the splash page. Maybe it's not working because of some HTTPS issues we are having as of late? (#368)

OpenStreetMaps will happen whenever anyone researches how, and proves it can be

[2017-09-20 21:57] DeeDeeG commented on #365
Hi all.

On the latest develop branch, typed-in or filled-in form fields now have black text. (*placeholder text* is still gray, which I think it's supposed to be.)

![form text is black now](https://user-images.githubusercontent.com/20157115/30669670-2ba1b488-9e2d-11e7-85da-2697cb700221.png)

(Also It's not deployed to https://refugerestrooms.org yet, so form text is still gray there even when fi

[2017-09-20 22:05] DeeDeeG commented on #357
A few ideas (these are in order of how easy they are to circumvent):

- Desensitize the button with javascript until refresh
- Set a cookie listing the restrooms already rated, and desensitize with javascript on pages matching the cookie
- Do some sort of user fingerprinting, e.g. record I.P. address, and record which restrooms have been rated by that user/identity, store on the server (Kind of ex

[2017-09-20 22:18] DeeDeeG commented on #306
There is something kinda similar to this in Rails 5.1, but I'm not sure if that covers the whole set of secrets/passwords you're referring to, @mi-wood.

http://edgeguides.rubyonrails.org/5_1_release_notes.html#encrypted-secrets

[2017-09-27 23:40] DeeDeeG commented on #83
Geolocation won't work on Firefox 55+ without HTTPS.

https://www.mozilla.org/en-US/firefox/55.0/releasenotes/

[2017-10-26 01:30] #372 closed

[2017-10-26 01:48] mi-wood opened #378 "Label search buttons for VoiceOver"
@DeeDeeG :

[2017-10-26 01:49] mi-wood opened #379 "Limit navbar widh"
@DeeDeeG :

[2017-10-28 14:52] DeeDeeG commented on #298
Hi all,

I've been in touch with some legal advisors at OpenStreetMap to try to clear up these questions/roadblocks toward using OpenStreetMap instead of Google Maps. Here's my correspondence so far:

Hello,

I am a volunteer developer helping Refuge Restrooms, a public, free-to-use, crowd-sourced database of restrooms.

https://www.refugerestrooms.org

https://github.com/RefugeRestrooms/refugeres

[2017-11-03 19:38] mi-wood commented on #368
I think I fixed this. There was a lingering A-record pointing to a heroku IP. Deleted this and I think we're good.

[2017-11-03 19:38] #368 closed

[2017-11-03 19:40] #365 closed

[2017-11-03 19:40] #366 closed

[2017-11-03 20:12] #287 closed

[2017-11-03 20:14] mi-wood opened #384 "Make App Store icon work with VoiceOver"
@DeeDeeG :

[2017-11-03 20:46] DeeDeeG commented on #264
I believe this is fixed by #359.

[2017-11-03 21:17] #264 closed

[2017-11-09 16:42] eroncanc commented on #375
thanks for the reply!
sorry for the late response, i was away but will begin to look into this and will use this issue to implement.

i believe the autocomplete endpoint uses separate rate limit, but will double check.

[2017-11-11 23:29] DeeDeeG commented on #375
​Hi again eroncanc,

As I mentioned in my reply above, I thought we might already have auto-complete, but I did agree it wasn't working properly. I can confirm now: We do have it, it just doesn't load right away. It is blocked because of a thing happening with Piwik. If we were able to fix the Piwik issue, we would get autocomplete back.

If you want to know the full details, here is what I found

[2017-11-16 17:56] iforgotband opened #387 "Libxml2"
Nokogiri is affected by series of vulnerabilities in libxml2 and libxslt, which are libraries it depends on. When handling the expansion of XML external entities (XXE) in libxml2, you can specify documents to be read. Opting into the DTDLOAD option and opting out of the NONET option in Nokogiri allows unknown documents to be loaded from the network. This can be used by attackers to load specially

[2017-11-16 18:24] iforgotband opened #388 "HTML injection vulnerability."
Overview

cucumber is behavior Driven Development with elegance and joy.

Affected versions of the package are vulnerable to HTML Injection. The HTML formatter appends any scenario output to the HTML without escaping HTML tags in the messages. This way, any output from the steps gets injected into the report page. In the simple case, this won't display the message as expected. When combined with f

[2017-11-17 23:27] stardust66 commented on #384
What do you mean by this?
<img width="1232" alt="screen shot 2017-11-17 at 6 25 31 pm" src="https://user-images.githubusercontent.com/11802391/32973322-ccf4ad8a-cbc4-11e7-8b98-5ea7048050c8.png">
Voiceover on Mac with Google Chrome seems to be able to focus on the button.

[2017-11-17 23:34] DeeDeeG commented on #384
It may be a quirk with the software on iOS 9, because iPad 2 (the model I have) only updates to iOS 9.3.5.

I can give it a quick try again.

Also might be specific to touch screens?

I was thinking of attempting to fix this by giving the App Store button an HTML attribute [`tabindex=0`](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex) (and seeing if that fixes it).

A

[2017-11-18 00:08] DeeDeeG commented on #384
I went and confirmed it again.

When visiting the site (as hosted at refugerestrooms.org as of Nov 17 2017) on an iPad 2 or iPad 3, with iOS 9.3.5 installed, the App Store button can't be focused with VoiceOver.

I don't have any bluetooth keyboards or anything, I'm just using the touchscreen.

[2017-11-18 01:51] DeeDeeG commented on #384
I knew I read somewhere that this was a Safari/Webkit bug. Here's the very bug report itself: https://bugs.webkit.org/show_bug.cgi?id=145263

Old versions of Safari used with VoiceOver totally skip SVGs in \<img> elements. Fixed in either iOS 10 or iOS 11. My old iPad 2 and iPad 3 are still affected, along with anyone else using the same models or earlier. Thankfully, newer models aren't affected,

[2017-11-18 05:35] DeeDeeG opened #390 "Can't follow footer icon links with VoiceOver on outdated mobile Safari"
This issue is similar to #384. However, unlike the icon in #384, the footer links are focusable, and can be "tapped," but surprisingly nothing happens when the links are tapped using VoiceOver on mobile Safari.

I suspect this might be limited to old iOS versions from before iOS 10, like #384 is, but haven't tested it widely enough to determine that. (Outside of screen-readers, the links "just wor

[2017-11-30 00:00] #379 closed

[2017-11-30 00:02] #384 closed

[2017-12-06 02:58] stardust66 opened #394 "Piwik scripts blocks Google Maps Autocomplete script"
On page load, the autocomplete feature on the search bar isn't available for about thirty seconds or more because the autocomplete script has been blocked by the synchronous piwik script, and the search bar is blank.

<img width="879" alt="screen shot 2017-12-05 at 9 54 42 pm" src="https://user-images.githubusercontent.com/11802391/33642284-43fc6ae4-da07-11e7-8937-f6f0515c9e4a.png">

<img width="9

[2017-12-19 18:03] MatheusFreitag opened #396 "Translations for REFUGE RESTROOMS"
## Would it be possible to translate this service to other languages?

I'm from Brazil, a country with over **200 million people**, and unfortunately the country with the **highest rates of violence against trans people** in the world.

Services like this can help **hundreds of individuals** to be **safe**, but in our reality, most of them **do not** have access to higher education, and therefore

[2017-12-19 19:25] cllns commented on #396
I think this would be amazing.

In terms of implementation, there are a few steps I can think of:
1) Go through the codebase and replace the English text with i18n (internationalization) keys and helpers. See the comments here: https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/config/locales/en.yml

2) Add some mechanism for inferring someone's language. English by default, then Braz

[2017-12-19 22:52] tkwidmer opened #397 "Add a Link to Patreon"
We have a Patreon, but we don't link to it anywhere from the site. We should fix that.
This is a perfect entry level item for somebody to take on.

https://www.patreon.com/refugerestrooms

[2017-12-20 08:15] KurtPrice commented on #397
Where would we like to place it? In its own page or in the footer?

[2017-12-20 08:58] KurtPrice opened #399 "Prevent duplicate locations when adding bathrooms"
Currently, duplicate bathrooms can be submitted due to very small differences in addresses.
For example: In Bellingham, Wa the restroom in The Black Drop Coffeehouse appears twice because one address is listed as
300 West Champion
and the other restroom as
300 W Champion
There is only one restroom at this location, but it is listed as two separate restrooms, with two separate ratings because of th

[2017-12-20 17:33] tkwidmer commented on #397
I think adding a link in the footer is great.
I also think one option is to put it on the home page in a more high profile location.

I'm attaching a mockup with button placement, and with a button that could easily be used.

![patreon mockup](https://user-images.githubusercontent.com/5265597/34220236-c4b95aae-e568-11e7-88ca-cb2a89a0698c.png)
![become_a_patron_button-1](https://user-images.githubu

[2017-12-20 17:39] tkwidmer opened #400 "Header Brand Text is misaligned"
![header brand text is misaligned](https://user-images.githubusercontent.com/5265597/34220445-8fe044ea-e569-11e7-91db-55ac97b9f91e.png)

See Above Screenshot. Readability isn't great. Should be vertically aligned with the logo.

[2017-12-20 17:42] tkwidmer opened #401 "Footer text is cut off"
![footer is cut off](https://user-images.githubusercontent.com/5265597/34220576-f1b7957e-e569-11e7-9814-0ee8dbf4fcbf.png)

 Footer text is cut off, cannot read full text in footer, specificly the copyright. Should be an easy fix.

[2017-12-20 17:46] tkwidmer commented on #312
I think we can create a wiki page for now.

[2017-12-20 18:05] tkwidmer commented on #312
https://github.com/RefugeRestrooms/refugerestrooms/wiki/Contributor-Skill-Guide, @mi-wood and others can update what skills they have.

[2017-12-20 18:14] #394 closed

[2017-12-20 18:20] tkwidmer commented on #375
Closed thanks to #395.

[2017-12-20 18:20] #375 closed

[2017-12-20 20:33] Arinzeokeke commented on #399
Yeah, it should ignore case sensitivity for data uniqueness. On the other issue, the workable solution will be to show a confirmation prompt if a new bathroom is too similar to an already saved one.

[2017-12-20 20:33] DeeDeeG commented on #400
Hi, I think this is fixed in #386 but just not deployed yet.

Should be good once the release discussed in #402 goes live.

[2017-12-20 20:50] tkwidmer commented on #400
oh word. Marked as a duplicate.

[2017-12-20 20:50] #400 closed

[2017-12-20 22:45] KurtPrice commented on #397
Do we have documentation somewhere to set up a testbed for the site under development?

[2017-12-20 22:47] tkwidmer commented on #397
@KurtPrice Almost everything you should need for that is here: https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/CONTRIBUTING.md we use vagrant to spin up a virtual machine for development. It 'should' be pretty seamless.

[2017-12-20 22:48] KurtPrice commented on #397
Thanks! I'll set that up so that I can make sure this looks decent when I am finished.

[2017-12-20 22:51] tkwidmer commented on #397
I also deployed your branch here: https://refuge-staging-14-pr-398.herokuapp.com/, when you update your branch I can update the deploy.

[2017-12-20 23:06] tkwidmer commented on #401
Review Build: https://refuge-staging-14-pr-403.herokuapp.com/

[2017-12-20 23:09] #401 closed

[2017-12-21 05:49] KurtPrice commented on #397
Thank you. I have made some adjustments and made sure that I actually added the image this time. I appreciate the staging site for my debugging. I am trying to set up vagrant now, and I understand why it 'should' be seamless haha. Thanks for the help.
The latest changes should be pushed now.

[2017-12-25 03:12] DeeDeeG opened #406 "Piwik tracking isn't working, consider disabling it for now?"
Hi all.

As I mentioned in #395, Piwik tracking isn't actually working right now. Users' browsers request the piwik.js file from enspiral.info, which times out after taking a really long time trying to download the file. ~~I think the file is gone from enspiral's servers.~~ [Edit: not gone, just HTTP-only (not available over HTTPS) ]

We should probably either disable/remove Piwik from our site, o

[2017-12-25 04:16] DeeDeeG commented on #396
Here are some guides, I'm still reading through them:

- https://phraseapp.com/blog/posts/rails-i18n-guide/
- http://guides.rubyonrails.org/i18n.html

[2017-12-25 04:36] DeeDeeG commented on #406
Actually, the javascript file is still there. You can test it's still there by visiting:

https://analytics.enspiral.info/piwik.js

Not sure what's going on at this point, but I'm trying to find out (doing some research).

[2017-12-25 04:52] DeeDeeG commented on #406
If we still want Piwik tracking, it would be super awesome if Enspiral would be willing to set up their servers to serve piwik.js over HTTPS. That would solve our being unable to download the file.

It would also be better than our having to try to fetch it over HTTP [non-secure]. I'm not even sure whether that would be allowed by most browsers or not. But that would be another option to look into

[2017-12-26 07:14] jodylecompte commented on #406
I'm not familar with Piwik, but glancing at their website it appears there is also the option of downloading and running a self hosted copy.
https://piwik.org/docs/installation/

[2017-12-26 10:14] stardust66 commented on #406
That would be a good option, but I don't think we can make it work with Heroku.

[2017-12-26 15:57] DeeDeeG commented on #406
Maybe we could get another Heroku instance that acts as the Piwik server.

[2017-12-26 18:46] jodylecompte commented on #406
It looks like there is a pre-packed installer for it utilizing Docker for Heroku, available with a one click install. Not sure if the cost is feasible as I am not familar with y'alls organization but looks to be pretty painless going that route (and LAMP is a tad painful compared to other stacks with Heroku).

https://github.com/dz0ny/heroku-docker-piwik

[2017-12-26 19:11] DeeDeeG commented on #406
Seems like everything in there is potentially free except for JawsDB MySQL (free tier only gives you a 5mb database, larger tiers are $10/month and up)
https://elements.heroku.com/addons/jawsdb#pricing
https://elements.heroku.com/addons/jawsdb-maria#pricing

Also if we needed a paid Heroku instance for performance reasons, or if the "free dyno hours" get used up, we'd be paying monthly for that as

[2017-12-27 21:38] #378 closed

[2017-12-28 01:35] #397 closed

[2017-12-28 21:22] DeeDeeG commented on #336
Here's how I've been making the .box file:

Clone the repository:
 - `git clone https://github.com/RefugeRestrooms/refugerestrooms`

Get the vm provisioned:
 - `cd refugerestrooms`
 - `vagrant up`

SSH into the vagrant box: `vagrant ssh`

Delete unnecessary software (I found that these things take up a lot of space):

 - `sudo apt purge juju juju-core`
 - `sudo apt purge libicu52`
 - `sudo apt pur

[2018-01-02 19:25] babadabeer commented on #378
As far as voice over is concerned, I found samples  a few days ago and they keep appearing on audio video portals like http://hindi.media so references can be taken and if possible research over the Web itself can be helpful.

However, there are some soft tools offered by high tech portals as YouTube itself offers video audio editing to its creators.

[2018-01-05 22:33] Intimaria commented on #396
Hi, I so agree with this! Thanks to the clarity of the current .en.yml files, I was able to start to make ome translations for the app into Spanish.

[2018-01-07 00:53] padalah opened #411 "Vagrant up timeout"
I am newcomer to OSS and I really want to contribute this project. When I run the command "vagrant up", I keep getting a time-out error.

[2018-01-07 16:25] mi-wood commented on #411
Hi @padalah and welcome! Could you please past your error and let us know what operating system you're using?

[2018-01-07 16:27] mi-wood commented on #396
@Intimaria that sounds great! I agree on breaking each language down into a subdirectory. Seems like it would make things a little easier to work on.

[2018-01-08 05:53] mi-wood opened #416 "IRC => Slack in docs"
We should update the docs to have people request slack invites, since we don't user IRC anymore

[2018-01-08 12:45] Intimaria commented on #396
Hey! I tried to do a pull request with the translations, but it seems to have failed the checks. I am not sure what failed, as it did say at the time that it was up-to-date with base branch. Bit of a newbie so any info on how I can sort the errors is appreciated.

[2018-01-08 19:09] DeeDeeG commented on #411
Hi @padalah

If the error looks something like this:

[code]

That is normal. You only need to wait a minute or two, and it will connect successfully.

Then you should see something like this:

[code]

I also found some threads on stackoverflow.com where people discussed similar-sounding issues:
 - https://stackoverflow.com/questions/22575261/vagrant-stuck-connection-timeout-retrying
 - https://st

[2018-01-08 19:25] DeeDeeG commented on #416
A [search](https://github.com/RefugeRestrooms/refugerestrooms/search?utf8=%E2%9C%93&q=IRC) of the repo's code turns up two mentions of IRC:
 - [`travis.yml`](https://github.com/RefugeRestrooms/refugerestrooms/blob/641357535b01c9ed8454392e2e26520dd0a5a93a/.travis.yml)
- [`README.md`](https://github.com/RefugeRestrooms/refugerestrooms/blob/2598fa29bd068061d906661a568ae7e0d28b0060/README.md)
The Trav

[2018-01-08 20:03] DeeDeeG commented on #416
For what it's worth, I looked into just linking people to `refugelgbt.slack.com`, thinking there would be a "request invite" link, but there isn't one. It simply says to contact the administrators:

![refugelgbt_slack-not-signed-in-with-arrow_scaled-down](https://user-images.githubusercontent.com/20157115/34689777-b72902a6-f484-11e7-8823-edb9d9f5e834.png)

[2018-01-08 20:59] DeeDeeG commented on #396
@Intimaria I'm taking a look. Thanks so much for getting the ball rolling!

And generally thanks everyone for pitching in/helping out here!

[2018-01-08 22:09] DeeDeeG commented on #396
The documentation for the built-in `Rails I18n` system is pretty confusing to me, honestly.

There is this other way to do it that is advertising itself as being simpler, and it's also free for open-source projects: https://translation.io/

Might be worth switching to that? (Thoughts?)

[2018-01-09 06:17] padalah commented on #411
My operating system is Windows 10. Here is the error I am encountering:
<img width="454" alt="refrest1" src="https://user-images.githubusercontent.com/19918773/34707287-88aa8c6e-f4c1-11e7-9ca0-043664c631cc.PNG">
<img width="381" alt="refrest2" src="https://user-images.githubusercontent.com/19918773/34707290-8e81f690-f4c1-11e7-83da-b285621e8a38.PNG">

[2018-01-10 01:16] Intimaria commented on #396
@DeeDeeG Glad to help out! It is sorely needed here in Argentina too and I bet there are Spanish speakers all over the world who will be able to access the app once it gets implemented. There are so many incidents of violence and transfemicides related to the discrimination around bathroom use for transgender, intersex and gender non conforming individuals here. Luckily it is becoming a bit more v

[2018-01-10 23:20] DeeDeeG commented on #411
I would run `vagrant destroy`, delete any `.vagrant` folder within your RefugeRestrooms folder, then try `vagrant up` again.

I think there was just a mis-configuration when bringing up the virtual machine the first time, and starting over might clear it up.

If that still doesn't work, maybe your version of Vagrant or VirtualBox is out-of-date?

I also found a blog post about dealing with this pr

[2018-01-11 02:33] DeeDeeG commented on #396
My plan is to keep going through [this guide](https://phraseapp.com/blog/posts/rails-i18n-guide/) step by step until I get a working demo app with multiple languages... Making the same functionality happen in a separate working branch of refugerestrooms as I go. If there is a lot of interest in collaborating on this, I can try to get a Pull Request open for people to look at as soon as possible. B

[2018-01-11 02:39] stardust66 commented on #396
@DeeDeeG Check out https://github.com/Intimaria/refugerestrooms/pull/1. I think I've figured out a good way to set the language of the website. What do you think?

[2018-01-11 20:25] DeeDeeG opened #419 "Some pages aren't translation-ready"
From #413:

Solving this helps us to progress with #396 and ensure we can more-comprehensively complete #413

[2018-01-13 09:01] DeeDeeG commented on #396
The PR @stardust66 mentioned above got turned into #420, which was just merged.

This sets the language automatically. (It selects the language we have that is the most-preferred according to the user's browser settings, or if we have no language the user prefers, it defaults to English.) I am still hoping/planning that we will have an in-app language switcher, so that users can set the language t

[2018-01-15 08:02] gitgamer opened #424 "A proposal logo"
Hi !!!

i maked a proposal logo for refuge ...

You can see a full develop here

https://steemit.com/utopian-io/@orelmely/proposal-logo-to-refuge-restrooms-web-application-that-seeks-to-provide-safe-restroom-access-for-transgender

[2018-01-15 17:24] chaseleinart commented on #34
This feature seems quite useful to me. I have some ideas about its implementation and would  be happy to work on it, assuming it's still open for review.

[2018-01-15 21:31] Intimaria opened #425 "Problem local testing Vagrant/Rails Server"
Hi, I have tried to set up a loal testing environment now both with vagrant on a friend's machine and with the rails server (as per @stardust66's instructions in #413 ) and I have gotten the same error messages. I have a feeling it has to do with the way my local git repo is doing but I would really love someone to give me a hand with it as I want to get it going. These are the error messages whic

[2018-01-15 21:34] stardust66 commented on #425
`invalid API key` isn't the issue. Can you show me your `config/locales/es/business_info.es.yml`?
 There seems to be a syntax error in there that prevents the server from starting up.

[2018-01-15 21:39] Intimaria commented on #425
Yes! I'll copy and paste on here as I can't attach the yml files.
[code]

[2018-01-15 22:02] Intimaria commented on #425
I guess you mean this line - could this be a problem with the fact that my translation branch doesn't have all the requirements to have it up and running?

`I18n::InvalidLocaleData: can not load translations from /Users/make/Development/git/refugerestrooms/config/locales/es/business_info.es.yml: #<Psych::SyntaxError: (/Users/make/Development/git/refugerestrooms/config/locales/es/business_info.es.y

[2018-01-15 22:04] stardust66 commented on #425
I deleted `config/locales/es/business_info.es.yml` and it runs fine. There's something wrong with the file but I can't quite figure it out. You do have some weird double quotes in there though, but I removed them and it's still a problem. I'm almost done copying and pasting all the statements into a copy of the english version of the file to see which line causes the problem.

[2018-01-15 22:05] Intimaria commented on #425
thanks for your help @stardust66! I'm chuffed it is one step closer towards being able to test locally.

[2018-01-15 22:06] stardust66 commented on #425
Oh, I don't think your postgres server is running. That's what the `PG::ConnectionBad` is about.

[2018-01-15 22:12] Intimaria commented on #425
🤣  I forgot I did `brew services stop postgresql`after my lst try and didn't start up again.

This is what it looks like now...

![firefox_screenshot_2018-01-15t22-11-21 718z](https://user-images.githubusercontent.com/4869398/34963545-e652002a-fa27-11e7-8992-ceaefd9ddb79.png)

error says:

[code]

[2018-01-15 22:14] stardust66 commented on #425
@Intimaria. I fixed your file. I probably should do a PR or something but just copy paste this. Basically, on the lines with `second` and `p6`, there are a weird quotes `“` instead of `"`, and on the line with `p5`, you had a period(`.`) on the outside of the quotes that was breaking the file.
[code]

In addition, run the command
[code]
and you should be good to go!

[2018-01-15 22:18] Intimaria commented on #425
💯 🥇 🙌
Yay!

[2018-01-15 22:33] Intimaria commented on #425
Hmmm... Am still getting `
ActiveRecord::PendingMigrationError - Migrations are pending. To resolve this issue, run:

        bin/rails db:migrate RAILS_ENV=development

`
even after running `rails db:migrate`, but my head is getting foggy so I think I'll take a break and maybe if I restart everything it will be fine.

[2018-01-15 22:35] stardust66 commented on #425
Oh, have you run `rails db:create`. I think you need to create the databases before you run migrations. Sorry I didn't think of that.

[2018-01-15 22:43] Intimaria commented on #425
Yeah! you mentioned it in your step by step in #413, I tried running it again, but it says
[code]
This is what it specifies the problem is, which I'm not sure I understand (my rails is outdated?)

[code]

[2018-01-15 22:44] stardust66 commented on #425
Can you run `rails --version`? You should take a break if you want to.

[2018-01-15 22:45] Intimaria commented on #425
I am getting `Rails 5.1.4`. Yeah, I think I will. My head feels heavy!

[2018-01-15 22:45] stardust66 commented on #425
Okay. Feel better.

[2018-01-15 22:50] Intimaria commented on #425
Thanks I'll be back later and will try again! Thanks for all your help!

[2018-01-15 23:12] stardust66 commented on #425
I found the issue and submitted a PR. The migrations need to have versions because of rails 5.

[2018-01-15 23:52] Intimaria commented on #425
Brilliant!

[2018-01-16 00:33] DeeDeeG commented on #425
Whoops, I missed this thread entirely, somehow. Haven't been checking my e-mail today!

I can say, regarding this: . . .

Your suspicions are definitely correct. If your working folder has the translations for a page, but not the page itself, an error may come up that prevents the Rails server from starting.

(So if you have `config/locales/[lang_subfolder_here?]/business_info.[lang].yml`, but don

[2018-01-16 15:47] stardust66 commented on #425
@Intimaria For now just change all instances of `ActiveRecord::Migration` to `ActiveRecord::Migration[4.2]` in files under the `db/migrate` directory. Then, run
[code]
again and the server will actually run this time.

[2018-01-16 18:21] Intimaria commented on #425
OK, I'll give it a try when I get home and do have a look at the PR too!

[2018-01-17 00:11] Intimaria commented on #425
Finally able to try this - addind the [4.2] on the end of `ActiveRecord::Migration` in all the files in migrate which had that instance, let me run the app locally without problem! 🙌 💯 😀

[2018-01-17 01:48] stardust66 commented on #425
Yay! Glad it worked.

[2018-01-19 15:52] DeeDeeG opened #428 "Make a language switcher for the site"
Hi all,

In discussions about how best to show users the various languages we will have available, now that we are getting translations merged in, it was mentioned that a language switcher has advantages over purely automatic system. [[1](https://github.com/Intimaria/refugerestrooms/pull/1#issuecomment-357035097)]

Basically, a user may be automatically detected as needing one locale, but they may

[2018-01-19 16:13] DeeDeeG commented on #428
There is [this](https://rubygems.org/gems/language_switcher) [gem](https://github.com/teonimesic/language_switcher) to implement a language switcher. I don't know if it fits our needs, but it could be worth giving it a try.

[2018-01-19 18:27] DeeDeeG opened #429 "Remove tumblr links from the app"
Here's what I get when I visit https://blog.refugerestrooms.org/

![wrong_ssl_certificate](https://user-images.githubusercontent.com/20157115/35165463-5ee2beac-fd1c-11e7-9ada-5ba9f51ea05e.png)

[2018-01-19 20:51] stardust66 commented on #429
Probably a setting in tumblr.

[2018-01-22 14:56] Intimaria commented on #428
This sounds awesome!

[2018-01-27 19:20] DeeDeeG commented on #396
Translations are working, when tested in Vagrant. (Although users' browsers must be properly configured to request the right language, at the moment...)

The in-app language switcher functionality still needs some figuring out, basically writing and testing the Ruby code to make it happen. That is discussed in issue #428.

[2018-01-28 02:24] ashishwadekar opened #431 "Hindi Translation"
Hi there,

I am willing to add Hindi translation for the website based on @DeeDeeG & @Intimaria working for Spanish translation.

I am more than happy to do my little part for the community in India & folks who will be using it while travelling.

Cheers,
Ashish

[2018-01-28 04:25] DeeDeeG commented on #338
I think this is fine as an automated database query, *with the caveat* that there are some false-positives in most, if not all of these queries, and manual vetting is still highly recommended, IMO.

[2018-01-28 18:59] stardust66 opened #433 "Make poltergeist tests easier to debug"
This should be incorporated into a guide. By using the `:poltergeist_debug`(#432) driver, you can write `page.driver.debug` statements in the cucumber step definitions to have it pause and show a browser window with a web inspector hooked up to the tests, in which you can see javascript errors and the DOM. See my PR for more information.

[2018-01-28 20:49] DeeDeeG commented on #433
Getting a full devtools up seems powerful and flexible. It also takes a bit of learning to know how to activate this, and it's a lot of steps to then actually change and run the tests manually to get the devtools up for debugging.

The second link you gave has a section about just "re-raising" the JavaScript errors in PhantomJS as errors in the overarching test framework (Capybara, so also Cucumbe

[2018-01-29 01:10] #416 closed

[2018-01-29 01:55] mi-wood commented on #321
I think maybe we can link the wiki from the readme and close this? I didn't realize how much work was put into it already :) What'd you say @DeeDeeG @tkwidmer ?

[2018-01-29 04:36] DeeDeeG commented on #321
+1 for linking to the Wiki from README, and also +1 for closing this as fixed, since I think the Wiki is currently trying to be not much short of comprehensive docs for working on the site.

Suggest linking to it right below `CONTRIBUTING.md`

[code]

[2018-01-29 06:11] mi-wood commented on #321
@DeeDeeG how's this look? https://github.com/RefugeRestrooms/refugerestrooms/pull/436/files

[2018-01-29 15:30] stardust66 commented on #433
Your intuition is correct that `:js_errors => true` is on by default. See [this line](https://travis-ci.org/RefugeRestrooms/refugerestrooms/builds/328442173#L2429) in the travis logs of my map detail PR. In those particular tests however, the stack trace wasn't very helpful. I don't think we have to worry about not having them when remote debugging is turned on because we get the javascript errors

[2018-01-29 22:29] Intimaria opened #437 "Weird nesting for locale folder?"
Hi, I noticed this just now as I was looking through the code,
the en folder is oddly nested withing the locales folder (image attached).
I did notice it in  the Spanish-1 branch when I was looking to merge the reviewed translations but I thought it was an error. It's a minor issue, but wondering is this an error or is it the correct setup?

![weirdlocalefolder](https://user-images.githubuserconte

[2018-01-30 00:24] #352 closed

[2018-01-30 00:43] mi-wood commented on #437
@Intimaria are you referring to the fact that the `en` appears on this page rather then once `locales` is clicked? This is the default behavior for GitHub when only one subfolder exists

[2018-01-30 00:49] mi-wood commented on #406
I am ok with disabling this for now, since A) It's not working and B) I don't think anyone looks at it. I think we should just set a separate ticket for adding analytics (whether that is piwik or not).

@tkwidmer any thoughts?

[2018-01-30 00:53] mi-wood commented on #406
https://github.com/RefugeRestrooms/refugerestrooms/compare/remove-piwik?expand=1 should we decide to go through with this

[2018-01-30 01:49] #411 closed

[2018-01-30 01:49] #336 closed

[2018-01-30 01:50] mi-wood commented on #406
I signed up for piwik's hosted service, which has a 30 day trial and is $7 after.

I just had to change the js to use https: and it should be good to go.

PR is here: https://github.com/RefugeRestrooms/refugerestrooms/pull/440

[2018-01-30 02:47] mi-wood commented on #341
@DeeDeeG did you ever code this up, or should I give it a try?

[2018-01-30 02:47] #312 closed

[2018-01-30 02:51] #83 closed

[2018-01-30 02:54] mi-wood commented on #387
Closing this since we're on nokogiri 1.8.1

[2018-01-30 02:54] #387 closed

[2018-01-30 02:58] #265 closed

[2018-01-30 03:13] mi-wood opened #443 "clean up org permissions"
I think most of our org members are from a day where we wouldn't work off forks. We should probably clean it up so not everyone has all that access along with making it easier to identify core contributors for newcomers

@tkwidmer this might be a task for you?

[2018-01-30 03:23] mi-wood commented on #388
Looks like someone put in a fix, but it didn't get merged https://github.com/cucumber/cucumber-ruby/pull/1056

[2018-01-30 03:30] #272 closed

[2018-01-30 03:31] mi-wood commented on #249
closing since this is a dupe of https://github.com/RefugeRestrooms/refugerestrooms/issues/126

[2018-01-30 03:31] #249 closed

[2018-01-30 03:50] DeeDeeG commented on #341
Nope, I never got to it, so if you want to, go ahead!

Noting that the API uses either JSONP or CORS, so the thing I expect to break would be the API. I think that *ALSO* means that the API reference page should kinda break, meaning that (I assume) testing the API reference page should be the easiest way to confirm this doesn't break anything.

[2018-01-30 04:01] DeeDeeG commented on #437
Yes, GitHub is just trying to save you the effort of clicking into `locales` only to find there is nothing there but another folder, `en`.

If you imagine this long set of folders with nothing in them but other folders:

`Folder` -> `subfolder-1` -> `subfolder2` -> `subfolder3` -> `subfolder4` / `some file.txt`

GitHub would just show this as `Folder/subfolder1/subfolder2/subfolder3/subfolder4`, a

[2018-01-30 04:34] DeeDeeG commented on #433
I think trying is the only way to find out, so we'll just see how it goes.

[2018-01-30 04:41] Intimaria commented on #437
Oops, my bad. Sorry. I think I’m a bit burnt out! I’ll close this now.

[2018-01-30 04:41] #437 closed

[2018-01-30 04:50] DeeDeeG commented on #336
Hard to believe this is so fast and easy with RVM/Docker! Thanks!

(Haven't tried Docker yet, but looking forward to it! I saw in the Travis log that it just downloads a binary, pre-built ruby!)

[2018-02-01 04:54] DeeDeeG commented on #341
By the way, as far as I can see this is a really simple issue.

Steps:

1) Remove `rack-jsonp` gem from the Gemfile
2) Deal with any errors (eg when starting rails, or when navigating the site) (I don't expect there will be any errors, but you never know.)
3) Check that nothing broke
  - Try submitting a new restroom
  - Try an API search on the `Resources` -> `API` page
4) Maybe test with a super

[2018-02-02 03:58] DeeDeeG commented on #341
I tried this out here: https://github.com/DeeDeeG/refugerestrooms/tree/no-rack-jsonp, but there's still some stuff to fix.

This does currently break the api page at `127.0.0.1:3000/api/docs`.

Also, I noticed this file is the only thing left in my branch with the word "jsonp" anywhere in it: [public/api/docs/lib/jquery-1.8.0.min.js](https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/

[2018-02-05 06:00] mi-wood opened #445 "Analyze Thread Safety"
https://github.com/RefugeRestrooms/refugerestrooms/pull/442 brought up whether our app is thread safe or not. If for whatever reason we need to use multiple threads for the app, we should evaluate if we can

I found this article, which seems to be a pretty good start:
https://bearmetal.eu/theden/how-do-i-know-whether-my-rails-app-is-thread-safe-or-not/

[2018-02-05 06:01] #347 closed

[2018-02-05 06:02] #396 closed

[2018-02-07 11:40] vinzruzell commented on #445
Requesting for filipino translation

[2018-02-09 17:31] DeeDeeG commented on #431
Hi @ashishwadekar, thanks again for volunteering to do this.

I think the English translation files are finally sorted out, and they are stable for now.

By the way, the hindi locale is abbreviated `hi`, so you could make a `hi` folder in this repo's `locales` directory and copy the English `filename.en.yml` files in there if you want to get started.

(the full path for the folder would be `config

[2018-02-10 04:10] stardust66 commented on #433
I think it's a good idea to write about this in the Wiki. Where would be a good place?

[2018-02-10 23:39] DeeDeeG commented on #433
Good idea. I'd say this could be added in articles about the existing testing frameworks:

https://github.com/RefugeRestrooms/refugerestrooms/wiki/What-is-Cucumber%3F-What-is-Test-Driven-Design%3F

https://github.com/RefugeRestrooms/refugerestrooms/wiki/What-is-RSpec%3F-How-do-I-create-unit-tests-for-Ruby-code%3F

Or in its own, new article. If you do make it its own article, that article can get

[2018-02-11 14:14] vinzruzell opened #451 "Requesting for Filipino Translation"
Hi I want to contribute for Filipino Translation.

[2018-02-11 16:56] DeeDeeG commented on #396
@MatheusFreitag we are now able to accept translations for the website! If you are interested in adding Portuguese, that would be very cool!

We are also trying to prepare the apps for translation. If you are familiar with translating iOS or Android apps, maybe you can help out with that? That' being discussed in these issues:

- https://github.com/RefugeRestrooms/refugerestrooms-ios/issues/116
-

[2018-02-12 02:05] vinzruzell commented on #451
Thank you for the response.

[2018-02-12 18:30] #321 closed

[2018-02-13 01:17] mi-wood commented on #451
Thanks @vinzruzell for volunteering!

@DeeDeeG do you want to add the translations steps to the wiki? Even what you wrote in that comment should work :)

[2018-02-13 12:12] vinzruzell commented on #451
Yes much better

[2018-02-13 17:01] DeeDeeG commented on #451
Okay, here is the Wiki page: https://github.com/RefugeRestrooms/refugerestrooms/wiki/How-do-I-translate-Refuge-Restrooms.org%3F

I hope this helps.

[2018-02-13 23:09] vinzruzell commented on #451
By the way.I have already created a new branch which is Filipino-Base

On Feb 14, 2018 1:01 AM, "DeeDeeG" <notifications@github.com> wrote:

[2018-02-14 04:16] vinzruzell commented on #451
Hi is it correct? Ive made anothet branch. Do i need to make another branch or just to commit into the master? Thank you.

[2018-02-14 04:22] mi-wood commented on #451
Hi @vinzruzell, you can create a pull request into the main refugerestrooms/develop branch. If you're not familiar with how to do that, there is documentation here: https://help.github.com/articles/creating-a-pull-request/.

Let me know if you need any help!

[2018-02-14 04:43] vinzruzell commented on #451
Thank you for the information its a great help.

On Feb 14, 2018 12:22 PM, "Mikena Wood" <notifications@github.com> wrote:

[2018-02-14 11:59] vinzruzell commented on #451
Hi. I have submitted a new pull request. Which requires review...pls review
my translation..thank you.

On Feb 14, 2018 12:43 PM, "Vincent Rosell" <vrosell2015@gmail.com> wrote:

[2018-02-14 15:33] vinzruzell commented on #451
I would like to ask for help..because there is an error in my pull request.
Thank you.

On Feb 14, 2018 8:20 PM, "Vincent Rosell" <vrosell2015@gmail.com> wrote:

[2018-02-16 04:14] mi-wood opened #456 "Convert CoffeeScript to JS"
It's probably time we solidify around just using JS. CoffeeScript is not a common language to use and it doesn't make sense to have two scripting languages at once (the map views use js for example)

I found https://decaffeinate-project.org/, which probably get's a lot of the easy stuff done, but will require finding what bugs that produces and patching them.

[2018-02-16 13:01] ashishwadekar commented on #431
@DeeDeeG Thanks for the heads up, information & help.

[2018-02-16 21:52] stardust66 commented on #456
I just tried out decaffeinate, and it works, except that it uses ES6, which Phantomjs and older browsers don't support. It's in the "assumptions" section of their [conversion guide](https://github.com/decaffeinate/decaffeinate/blob/master/docs/conversion-guide.md).

https://github.com/ariya/phantomjs/issues/15287

What do you think about adding Babel so we can use decaffeinate and write more moder

[2018-02-16 23:50] mi-wood commented on #456
@stardust66 thanks for getting started on this! I would say go ahead and use babel if that's what you think is best. going to defer to your judgement since you've been working with the js the most

[2018-02-18 19:29] mi-wood opened #458 "Allow Docker to Launch Browser for Poltergeist"
This will allow debugging browser tests. My thoughts are we need to
- Install chromium
- Use this to get an idea of running a desktop app in docker: https://blog.jessfraz.com/post/docker-containers-on-the-desktop/
- Figure out X11 path through

[2018-02-20 14:53] MatheusFreitag commented on #396
@DeeDeeG Thank you so much and I loved how people engaged in this!

[2018-02-22 03:39] DeeDeeG commented on #419
The API documentation page still isn't translated, since all the text for that is hard-coded into a javascript file.

And looking forward, if we add new text to the app, said text should use the i18n API.

But this is basically done, so I'm closing this! Woo!

[2018-02-22 03:39] #419 closed

[2018-02-22 03:41] DeeDeeG commented on #406
Our free trial will end at roughly February 28th.

Any thoughts as to whether to renew the subscription when the free trial ends?

[2018-02-22 04:51] DeeDeeG commented on #390
The footer links do work on an iPhone with iOS 11.2.5 (Safari 604.1).

This is probably an "older iOS" only bug.

[2018-02-25 00:36] jodylecompte commented on #406
Digital marketing and analytics is a large majority of my work, so I definitely understand getting analytics how you want them is difficult and having to re-do things sucks. So myself and another GitHubber (@jdorman0) collected $40 dollars to go towards paying up for a few months, or if y'all end up deciding Piwik doesn't provide enough value to warrant paying for then maybe it'll cover a few mont

[2018-02-25 21:34] tkwidmer opened #468 "Implement Homepage Redesign"
We had a pull request from @fionawhittington over on refuge_assets to update our homepage.
I think it's a pretty great redesign of our home page. So this

![refuge_wireframe](https://user-images.githubusercontent.com/5265597/36646736-893f585a-1a30-11e8-8433-b80bb3d8d508.png)

[2018-02-25 21:35] tkwidmer commented on #424
Thanks so much for the proposal, we're going to take a look as a team and evaluate it as a possible change in branding. =)

[2018-02-26 00:02] DeeDeeG opened #469 "CI is failing on certain tests that use Poltergeist"
Starting this issue to track efforts to solve this problem.

Routes to solve the problem:

- Tweak tons of small things, see if any of them fix the failing tests

- Switch away from Poltergeist for another headless browser

Switching away from Poltergeist is supposed to be pretty easy, and should not require re-writing any tests. Capybara abstracts away all browser capabilities, and since we use C

[2018-02-26 00:02] DeeDeeG commented on #469
Filed an issue upstream at the Poltergeist repo in case this might be a genuine bug in Poltergeist: https://github.com/teampoltergeist/poltergeist/issues/917

[2018-02-26 19:42] DeeDeeG commented on #469
[Comment](https://github.com/teampoltergeist/poltergeist/issues/917#issuecomment-368621291) in the upstream issue:

---

If you run it with `selenium` as the driver you can see the same things happens, and see the browser is waiting for a request from `csi.gstatic.com`. The issue appears to be that the map display hangs requesting resources to populate the iframe it adds to the page. You can get t

[2018-02-26 19:50] DeeDeeG commented on #469
So, this porbably isn't a Poltergeist or PhantomJS bug; it happens even with Selenium, which I think uses Firefox. But in any case, Selenium has nothing to do with Poltergeist.

This looks like a problem on the Maps API side. Maybe our maps API quota is being maxed out? Or some other issue with GMaps?

[2018-03-05 18:47] mi-wood commented on #469
Thanks @DeeDeeG that's a huge help! I think I'm going to disable those tests for now in favor of having all tests run, and we can create an issue about map tests.

[2018-03-05 19:08] mi-wood commented on #469
Actually, this is hanging in production too, so I'll try to figure out what's up.

[2018-03-05 21:00] mi-wood commented on #469
This is fixed here: https://github.com/RefugeRestrooms/refugerestrooms/pull/457

Just stopped using the experimental version of the maps API

[2018-03-05 21:32] mi-wood commented on #469
Fix is now deployed

[2018-03-05 21:32] #469 closed

[2018-03-05 22:30] tkwidmer commented on #456
i'm in favor of introducing ES6. This allows us to maybe eventually decouple the two.

[2018-03-08 15:40] zealousAnemone commented on #468
Hi there - I'm new to contributing to others repositories so please excuse me if I'm being completely daft. Do you need somebody to do a CSS styling of the page to make it look like this? I would love to help with this project if you still need help.

Thanks :)

[2018-03-08 18:21] DeeDeeG commented on #468
Hi, and welcome to our GitHub repo!

Yes, I'd say that is about right. Might require some changes to the HTML as well? Or maybe not?

In any case, we are definitely open to contributions here. We are an all-volunteer team, and contributions to improve the project are greatly appreciated. If you need any hints or help, we are here to give it. (Leave a comment anywhere and we'll get a notification).

[2018-03-08 19:11] DeeDeeG commented on #468
For more info about the repo's technology, we do have a Wiki as well: https://github.com/RefugeRestrooms/refugerestrooms/wiki

The way to test changes on your own machine is described in [CONTRIBUTING.md](https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/CONTRIBUTING.md)

A lot of our site is compiled from a source language into standard HTML, CSS, and JavaScript... We use HAML -> HT

[2018-03-08 20:10] zealousAnemone commented on #468
@DeeDeeG Thank you so much for your prompt and detailed response! That is super helpful. I'll fork it and take a crack at it. :)

Veronica

[2018-03-08 20:14] fionawhittington commented on #468
Veronica,

Thanks for taking this project on! I was going to try and code it myself, but I haven’t been able to find the time. Let me know if you need any help or have any questions about the design!

If I have any free time this weekend or next week, I will try to mock up designs for the other pages and for mobile.

Best,
Fiona

[2018-03-09 22:40] mi-wood opened #472 "How do we update translations?"
Every time we write new text, we're going to need to add translated versions of it. I'm curious how we want to handle this. My first thought it to have a list of translators and ping them every once in a while to do a bulk update of new text.

[2018-03-10 01:48] DeeDeeG commented on #472
That sounds like a step up compared my idea: I was thinking we could do a best guess with Google Translate, then find a reviewer to see if this is correct. (The only advantage there is if we can't find a reviewer, we still have something that might be close.) But assuming we do have a reviewer, I think your suggestion is better (contacting the reviewer and see if they can do a translation.)

Maybe

[2018-03-10 18:04] zealousAnemone commented on #468
@fionawhittington @DeeDeeG ... So I took a look at it, and I think my lack of Ruby knowledge is going to get in the way of me being able to do this. :( I thought I could kind of suss out the parts I knew and make some stylesheets, but I'm having a harder time navigating the code than I thought I would. (I am more a MERN type of person.) I still really want to help though! Is there anything you nee

[2018-03-10 18:45] mi-wood commented on #406
@jodylecompte Sorry for the late reply, but thanks so much! That will definitely help with subscription costs for a while!

[2018-03-10 18:46] #406 closed

[2018-03-10 18:46] #200 closed

[2018-03-10 18:48] mi-wood commented on #468
@zealousAnemone I'm happy to invite you to slack and help you navigate the codebase if that would help! Otherwise, I can spend a little time digging through other issues to find something else.

Thanks for volunteering!

[2018-03-11 01:24] DeeDeeG commented on #468
I'm thinking over a bit how this should happen whenever we get to it.

This is indeed going to be some concerted work to actually implement this (whoever feels comfortable doing it), since we use a lot of styles from the "Bootstrap" gem right at the moment, and (I assume?) the default CSS from the various components' gems (`simple_form`, for example.) So we would have to start writing a bunch more

[2018-03-11 01:49] DeeDeeG commented on #451
Hi @vinzruzell, we are still interested in accepting more translations, if you are still interested.

[2018-03-11 01:53] DeeDeeG commented on #451
On another subject:

Apparently Firefox doesn't work with the `fil` (Filipino) locale, but it does work with `tl` (Tagalog).

On the other hand, Chrome supports `fil`. So it is a good idea for us to support both `fil` and `tl`. I recommend when we have a complete Filipino translation, we copy the `fil` files into a `tl` folder and change the filenames from `.fil.yml` -> to `tl.yml`, and also chang

[2018-03-11 02:08] vinzruzell commented on #451
Thank you for that.

On Mar 11, 2018 9:53 AM, "DeeDeeG" <notifications@github.com> wrote:

[2018-03-14 02:36] DeeDeeG commented on #429
Yes, this does appear to be a quick settings change over at tumblr.

From: https://security.tumblr.com/post/166219476810/support-support-ssl-security-which-has-been

[2018-04-09 05:48] DeeDeeG opened #476 "SMS service isn't working"
### Service isn't working

I just tried texting `1 (415) 367-3288`, per [text-msg-demo.png](https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/app/assets/images/text-msg-demo.png) and also as mentioned at https://refugerestrooms.org/text.

I got this in response:

I get the sense that the number our SMS service was using, once upon a time, is not still attached to our SMS service.

##

[2018-04-09 22:47] cindychangy commented on #468
are you guys still looking for someone to code up the design?

[2018-04-10 15:56] DeeDeeG commented on #468
Hi @cindychangy,

Yes, we are still looking for someone to do this! We are, as always happy to help with/consult over anything you may run into along the way.

[2018-04-10 15:59] DeeDeeG commented on #468
By the way, I have been trying to mock this up in plain HTML/CSS in order to make it clearer how to implement this on the web. If anyone is interested in my work-in-progress of that, let me know and I'll post it up on GitHub somewhere. (Mostly it's just a bare-bones HTML version of the splash page, but it's ready to add styles now. I have an odd-looking version of the purple square for the nav are

[2018-04-10 16:08] cindychangy commented on #468
@DeeDeeG : great, do you want to post what you have for the page - can most likely use it as a base to build up from/add styles too. The purple square and nav ordering can most likely be solved with a 'z-index' ordering of the items which will allow you to place one behind the other.

[2018-04-10 16:12] fionawhittington commented on #468
I know of another student that would be willing to design the other pages in May, if that is of interest to the team. I don’t know Ruby or HAML, so I’m not sure I’m the best person to assist with coding bugs. However, I am versed in HTML and CSS though, if any more questions pertaining to style or structure arise.

Best,
Fiona

[2018-04-10 16:26] DeeDeeG commented on #468
@fionashittington,

Yeah, I think everyone would be down for that. We're generally very happy for contributors around here! (We try to be good mentors as well, even though some issues do arrise that we don't immediately know how to tackle oursleves... Students who are able to handle unexpected hiccups will probably do best? And we can't guarantee every project will go 100% smoothly if that's the l

[2018-04-10 16:29] DeeDeeG commented on #468
Whoops typo in that last comment, I apologize.

[2018-04-10 16:29] DeeDeeG commented on #468
@cindychangy

I'll post what I have in a minute or two, and possibly improve it over the next hour or so...

[2018-04-10 16:38] DeeDeeG commented on #468
Okay, here it is: https://github.com/RefugeRestrooms/refugerestrooms-redesign-web-mockup

(It is very basic, but it's a start.)

[2018-04-10 19:28] DeeDeeG commented on #468
I made a few improvements so that it's getting closer to matching the PNG of the re-design. It's maybe 25%-50% done.

Going to take a break, but I'm hoping to come back to it soon as/when I have time.

[2018-04-10 20:01] DeeDeeG commented on #468
@fionawhittington,

Do you happen to recall the font and font sizes that are used in the wireframe?

(I found [Lato](https://fonts.google.com/specimen/Lato), which looks similar but it's not an exact match.)

[2018-04-11 13:56] fionawhittington commented on #468
@DeeDeeG Sorry for the delayed response! The font type is Interstate
<https://store.typenetwork.com/foundry/fontbureau/series/interstate?src=GoogleFonts>.
The
font sizes I have won't translate to the web because I made it in
Photoshop.

Best,
Fiona

On Tue, Apr 10, 2018 at 4:01 PM, DeeDeeG <notifications@github.com> wrote:

[2018-04-11 15:48] DeeDeeG commented on #468
@fionawhittington Thanks!

[2018-04-18 17:43] cindychangy commented on #468
@DeeDeeG : sorry for the late reply, I see your repo online for the design so far, do you want me to help finish building out the remainder of what is left on the mockup?

[2018-04-18 18:53] DeeDeeG commented on #468
@cindychangy yes, that would be great! I'm a bit of novice at building web stuff from scratch; My forte is bug fixes... The [web-tech mockup](https://github.com/RefugeRestrooms/refugerestrooms-redesign-web-mockup) should be even more helpful if it's more complete (and perhaps made responsive for various screen sizes.)

(The end goal is, of course, to translate this all to HAML and Sass for the rea

[2018-04-18 19:01] DeeDeeG commented on #468
And of course, there is no obligation or expectation of having to get 100% finished with the project once you start. Any progress is progress, in my opinion, and we're glad for the contributions.

[2018-04-18 19:18] cindychangy commented on #468
@DeeDeeG, sounds good, I forked the repo and will put a link to the repo to review when some progress has been made.

[2018-04-18 20:05] DeeDeeG commented on #468
I just updated some of the branches, hopefully that won't cause any issues. Particularly, `master` now more-closely matches the `work` branch.

The "work" and "footer-fix-WIP" branches are attempts to make alignment work better, but I'm not 100% sure what approach to take there. The main thing that's confused me in those branches is how to get the footer to be responsive without becoming detached

[2018-05-01 02:10] DeeDeeG opened #477 "Reduce complexity / Make app more maintainable"
[EDIT 10 April 2019: My main reason for posting this issue, not feeling personally up to the task of maintaining a Rails app, has been addressed by continued learning and practice. (And also I have a better idea of why we need a framework such as Rails, i.e. so that we have a server without having to code every bit of that from scratch by ourselves, essentially. We start with a base that "just wor

[2018-05-01 02:37] DeeDeeG commented on #477
To get the ball rolling, I feel like there are a couple of broad strategies we could take:

- Reduce dependencies
  - Drop bundled extra features we don't use that come along with the features we do use
  - Replace pre-packaged features with direct, hand-coded code in some places
    - (Implement just the feature we need, rather than the general purpose version from the package)
---
- Start over

[2018-05-04 19:35] cindychangy commented on #468
@DeeDeeG : I've done a first pass at completing the homepage based off of your start - [forked repo](https://github.com/cindychangy/refugerestrooms-redesign-web-mockup-master)
I see you guys are using bootstrap and pulled the same link on the live site into the header to assign sections into columns, but it seems like there are custom styles in the bootstrap stylesheet, which overwrite the general