[2018-05-04 22:49] DeeDeeG commented on #468
This looks good, thank you for the update!

I personally feel the bootstrap CSS file is a bit heavy for what we get out of it, so if we can manage without it that would be cool. However, I am a bit of a junior member of the team, just the one most available to comment on this right now; I don't want to override anyone else's opinion on this if anyone else is particularly fond of bootstrap.

(Boots

[2018-05-04 23:04] DeeDeeG commented on #468
Update about footer alignment:

The way the deployed site gets away with this is just by not having a footer with an opaque/rectangular background. With a tall enough screen, the footer floats well away from the bottom edge of the user's screen.

The deployed site also is tall enough (has enough pixels of height) that it will tend to have a vertical scroll bar, whereas the photoshop re-design mock

[2018-05-17 05:32] kurtcarpenter opened #478 "Cannot switch back to List View in web app"
- Search for any location (e.g. Current Location)
- Click Map View (map gets rendered)
- Click List View

Observe that Map is still present, although the toggle button has been toggled. Repeated clicks toggle the button, but do not change to the List. No browser console errors.

[2018-05-17 05:46] kurtcarpenter opened #479 "Filter buttons (ADA/inclusive) do not apply to Map View"
- Search a location, e.g. https://www.refugerestrooms.org/restrooms?utf8=%E2%9C%93&lat=37.7749295&long=-122.41941550000001&search=San+Francisco
- Enable/disable some filters and notice the List removes some items
- Toggle to Map View
- Enable some filters and notice the Map always shows all items, even though they do not match filters

Given some of the issues present in filtering (see #226), migh

[2018-05-17 06:00] kurtcarpenter opened #480 "List View has text overlap on small screens"
We should probably make the list responsive - maybe on small widths stack the elements vertically to prevent overflow?

<img width="128" alt="screen shot 2018-05-16 at 22 53 58" src="https://user-images.githubusercontent.com/9683513/40159144-b1928a0a-595c-11e8-8028-fc86e0784160.png">

[2018-05-18 19:53] stardust66 commented on #478
I think this was fixed by #471 but it hasn't been deployed to Heroku yet.

[2018-05-19 00:02] DeeDeeG commented on #478
@stardust66 agreed.

This looks fixed now that the most recent commits are live.

Thank you @tkwidmer for deploying!

[2018-05-19 00:03] #478 closed

[2018-06-02 16:58] DeeDeeG commented on #477
Another idea I just had, is to make jumping to new Rails versions easier, at some point we could try to re-implement Refuge on top of a fresh copy of the default "hello world" Rails 5.2 app, or eventually rails 6.0.

I expect this would mostly be copy-pasting stuff as needed from the existing repo onto the "hello world" app from 5.2, and checking that it works properly. So we'd have the more up-to

[2018-06-02 17:00] DeeDeeG commented on #477
Also, I find updating the Gemfile and Gemfile.lock much easier with Vagrant than with Docker.

If it wouldn't bother other maintainers, I'd be happy to set up/maintain a branch where Vagrant is re-enabled instead of Docker, specifically to make dealing with the Gemfile/Gemfile.lock easier.

[2018-06-07 02:07] tylerbmcsilva commented on #480
Hello! Can I give this a shot? 😄

[2018-06-08 15:49] DeeDeeG commented on #480
Hi @tylerbmcsilva,

Yeah, go for it!

(sorry I didn't reply sooner, my email inbox fills up a little too quickly sometimes!)

[2018-06-13 20:51] #480 closed

[2018-06-14 22:11] #456 closed

[2018-07-06 00:01] janaipakos commented on #468
I think flexbox for a footer is a good strategy. `https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/`
`main` would push footer to the bottom of the viewport

<img width="314" alt="screen shot 2018-07-05 at 7 59 18 pm" src="https://user-images.githubusercontent.com/8454622/42353420-2c1f6a2e-808e-11e8-8ff6-bb7ce7d4a5b8.png">

I removed the

[2018-07-06 15:48] DeeDeeG commented on #388
We removed Cucumber from the project recently, in favor of just using Rspec for all tests.

Closing the issue since we're no longer potentially affected. (see [Gemfile.lock](https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/Gemfile.lock) to confirm...)

Thanks for this report, @iforgotband.

[2018-07-06 15:48] #388 closed

[2018-07-19 18:30] tkwidmer opened #488 "Adapt a Code of Conduct."
We are being included in Github's Social Impact Collection. But they are asking us to add a code of conduct. This is something we should have probably already done.

Github's overall document about Code of Conducts: https://opensource.guide/code-of-conduct/

Contributor Covenant: https://www.contributor-covenant.org/version/1/4/code-of-conduct.md

The contributor Covenant is a drag and drop code o

[2018-07-19 18:43] DeeDeeG commented on #488
Sounds good to add a code of conduct.

Assuming we put a lot of thought into picking or making one, I think off the top of my head ours should:

- Read similarly to how we already actually feel about contributions and contributors* (or where the code of conduct and our status quo differs, where we reasonably aspire for our outlook to be, toward contributors and contributions)
- Be encouraging and

[2018-07-19 18:55] DeeDeeG commented on #488
As a tiny additional, personal comment: I like Mozilla a lot, and I think their culture is great. Pasting their code of conduct for reference purposes...

[Community Participation Guidelines](https://www.mozilla.org/en-US/about/governance/policies/participation/) (Kinda huge and more specific to a large corporation with lots of passionate fans and contributors, but I like what's there.)

[Bugzilla

[2018-07-19 19:12] DeeDeeG commented on #488
I do think the Contributor Covenant is really good. It might not be adjusted for the exact tone or spirit of this project, but it's solid and sets the right general expectations and such without, as far as I can see, leaving anything out.

[2018-07-19 21:38] DeeDeeG commented on #488
Example commit (on its own branch at the moment) adding the Contributor Covenant without changes: https://github.com/RefugeRestrooms/refugerestrooms/commit/66a647161e6e77bab5d089480d0e1652674b042e

(Well, no changes other than putting in our specific contact email.)

[2018-07-23 14:50] DeeDeeG commented on #488
Hi @tkwidmer,

Do we have a time frame that we should do this by?

And if any other project members (or contributors more generally) have thoughts, those are certainly welcome. It is easy enough to change this later, if we have ideas and improvements later on. So if we need to apply this in order to be available to the GitHub collection, we can change to a better code later down the line. -- (if t

[2018-07-24 17:12] tkwidmer commented on #488
@DeeDeeG Just got a timeframe from Github. We need to address this within the week.

I think it's pretty easy and straightforward to change this later if we want to improve on it. My proposal is we add the Contributor Covenant pretty much as is for now from your commit here https://github.com/RefugeRestrooms/refugerestrooms/commit/66a647161e6e77bab5d089480d0e1652674b042e. This will allow us to be

[2018-07-25 00:09] DeeDeeG commented on #488
Sure. Will do this evening.

[2018-07-25 03:40] DeeDeeG commented on #488
Other things came up, so while I will be able to add the code of conduct to `README.md` and `CONTRIBUTING.md` later, I unfortunately can not finish that up this evening. Expecting to get a chance in the next couple of days. If anyone wants to do this before I get to it, that's totally fine also. Regards.

[2018-07-27 23:10] DeeDeeG commented on #488
There are PRs for this now.

#490, #491.

[2018-07-29 19:34] DeeDeeG commented on #488
This was auto-closed by PR #490, but will keep open for now. This is a good place for any feedback or suggestions from contributors/the community.

[2018-08-08 20:41] stardust66 opened #492 "Exclude third party files from code climate"
Most of the Code Climate issues are actually in third party libraries. We should exclude the `public/api/docs/lib` directory in the Code Climate settings.

https://docs.codeclimate.com/docs/configuring-your-analysis#section-exclude-patterns

[2018-08-30 22:44] jamisonordway commented on #371
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2018-09-19 17:05] DeeDeeG opened #493 "Disable "x3" background image for splash page"
~~Will update with details in a moment.~~ Updated!

Basically, the x3 `city-photo.jpg` never shows up much sharper than the x2 `city-photo.jpg`... It's almost always fine to use the x1 or the x2 photo.

However, the x3 image uses more data, making our page slower, and making the site costlier for those on "limited data plan" internet connections.

I think the x1 and x2 image are good enough.

## H

[2018-09-19 17:10] DeeDeeG opened #494 "[CSS] Add additional good-quality fonts to the web app"
## Scope / difficulty

We just need to change one line in our [`_variables.scss`](https://github.com/RefugeRestrooms/refugerestrooms/blob/ee25f6af625d06269c77377a3ea594308a644de4/app/assets/stylesheets/sass/_variables.scss#L3) file.

## Impact

This would make the app look a bit nicer on most operating systems and browsers.

## Details

Basically, we already have "Ubuntu" as a really nice font, an

[2018-09-19 17:37] DeeDeeG commented on #493
### Bonus info (neat to know):

For reference, these are the background images we load, based on how "pixel-dense" a user's screen is:
- https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/app/assets/images/city-photo.jpg
- https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/app/assets/images/city-photo-2x.jpg
- https://github.com/RefugeRestrooms/refugerestrooms/blob/develo

[2018-09-19 18:07] DeeDeeG opened #496 "Confirming Interest in Participating in Hacktoberfest"
Hi @bescalante,

I'm opening this issue to respond to an email sent to another of our maintainers, @tkwidmer.

We've been discussing Hacktoberfest on our project's Slack since yesterday. I think the general consensus was that we'd like to participate.

I haven't been able to confirm whether @tkwidmer has replied to your e-mail already; It seemed from your message that the deadline to respond was t

[2018-09-19 18:15] DeeDeeG commented on #493
See Pull Request #495, where this is being worked on.

[2018-09-19 18:19] tkwidmer commented on #496
I responded by email this morning at 11:18am. So we should be confirmed.

[2018-09-19 19:38] bescalante commented on #496
Thanks for opening this up @DeeDeeG! Yes, I received Teagan's email this morning confirming y'all will be participating. I'll be responding by the end of this week - if there's anyone else I should be cc'ing on communications about Refuge Restrooms/Hacktoberfest, please let me know.

So excited! This project has been one of my faves for years now! ❤️

[2018-09-19 19:54] #493 closed

[2018-09-23 18:35] DeeDeeG opened #497 "[Gemfile] Update to (at least) Rails 5.1.6"
(Note for Hacktoberfest participants: Upgrading Rails is usually a complex, multi-stage process. But it is important to keep a web app up-to-date with recent software that has received security updates and other improvements. Here, the process of updating Rails is laid out into all of the individual stages, so anyone can try to complete the upgrade. I am not expecting this to be easy, but hopefull

[2018-09-23 18:40] DeeDeeG commented on #108
Sorry for commenting on such and old issue, but anyway: Is this fixed? As in, are these entries moved to a better lat/long, or perhaps have the entries been deleted? Thanks.

Best,

\- DeeDeeG

[2018-09-24 16:35] tkwidmer commented on #492
Done as of Monday, September 24th.

[2018-09-24 16:45] #492 closed

[2018-09-24 16:47] tkwidmer commented on #443
I did some cleanup of this earlier this year.

[2018-09-24 16:47] #443 closed

[2018-09-24 16:50] tkwidmer commented on #390
Closing this as not a priority since its an older IOS bug

[2018-09-24 16:50] #390 closed

[2018-09-28 18:07] DeeDeeG commented on #371
@tkwidmer, I don't know if you saw this and had some time to work on this?

 cc @mi-wood

Thanks.

[2018-10-01 01:51] DeeDeeG commented on #428
This is finally in-progress!

I am having trouble making hard-coded links behave themselves, they need to have a `?locale=[locale]` parameter added to the end of them and it's not super clear how to format the links to fix this, but it seems eminently possible.

All that is left is fixing the hard-coded links, and then adding (not hard-coded) links to each locale in the footer!

It won't be glamor

[2018-10-01 08:38] lucas-carl commented on #494
I would like to work on this.

[2018-10-01 13:44] DeeDeeG commented on #494
Hi @lucas-carl.

Thanks for volunteering! We would be glad to have you work on this.

I think there might be a time-zone difference, but we'll try to answer any questions you have in a reasonable amount of time.

Best regards,

\- DeeDeeG

[2018-10-02 06:05] hiteshpr commented on #494
Can I work n this?

[2018-10-02 15:14] DeeDeeG commented on #494
Hi @hiteshpr.

I think @lucas-carl has finished this task. See this pull request: #501.

If you want to work on this also, for the sake of learning, that would be okay. I think we are likely to accept pull request #501, however.

We won't be able to accept two PRs for this. You are welcome to open one if you like, since you asked very close to when the other pull request was submitted.

[2018-10-02 23:35] Brodan commented on #479
I think I'm gonna take a crack at this one!

[2018-10-03 04:20] manchicken commented on #303
Is this still open?

[2018-10-03 05:55] DeeDeeG commented on #303
Hi @manchicken,

Thanks for your interest in contributing to our project, and I hope you are having a good Hacktoberfest so far!

This is still open, but it's a fairly low-stakes issue at this point. It turned out to be a bit of a non-issue, and fixing it proved problematic at the time as well.

(longer explanation: It turned out that these are only "dummy locations," used to populate our site dur

[2018-10-03 10:45] manchicken commented on #303
This seems like something that you’d want to automate. Can you think of any way you’d want to automate this task?

~ Michael D. Stemle, Jr.

[2018-10-03 12:43] wellingtongvs commented on #468
Is anyone else still working on this? If not, I would like to work on this issue.

[2018-10-03 14:34] DeeDeeG commented on #468
Hi @wellingtongvs,

Yes, there was an update to this just yesterday. But it is not done yet, and we are glad to have help finishing it. See this repo: https://github.com/RefugeRestrooms/refugerestrooms-redesign-web-mockup

I think that mockup is mostly finished. It only needs the "resources" dropdown menu implemented, and to work better on narrower screens, such as smartphones.

Help on this is st

[2018-10-04 12:45] wellingtongvs commented on #468
Great! I'll see what I can do about the responsiveness of the mockup for now.

[2018-10-04 21:38] #494 closed

[2018-10-05 00:10] DeeDeeG commented on #303
Hi again Michael,

We do have an API to access (more-or-less real or current) database entries: https://refugerestrooms.org/api/docs/#!/restrooms

I'm not very familiar with how to use this, I don't personally do a lot of coding and backend stuff. But I think getting a few entries somewhere in San Francisco with the API would be a good way to populate this .csv with real, current data (to the exte

[2018-10-05 12:47] btyy77c commented on #497
Just checking: is there a reason you want to upgrade to 5.1.6 and not 5.2.0 or 5.2.1?

[2018-10-05 14:46] DeeDeeG commented on #497
Hi @btyy77c, thanks for stopping by this issue.

If you (or anyone else) wanted to target a mew minor version of rails, that would be great! :+1:

---

Here was my reasoning for targeting the patch-level upgrade: My instinct was to try to make this a more bite-sized issue, so as to keep it within reach for more potential contributors.

(I think minor version upgrades are usually a bit more involve

[2018-10-06 11:16] btyy77c commented on #477
Rails allows you to install React, Angular, VueJs, Elm, and Stimulus (https://github.com/rails/webpacker).  You could keep your same application, move your views into a frontend framework, and use Rails for api calls. This would only work though if you have frontend developers who want to contribute. Did you mention React because you know some React Developers who want to help?

Any changes where

[2018-10-06 14:09] DeeDeeG commented on #477
Thanks for the feedback.

My impression of the team is that we are:
1) Largely self-taught as it pertains to Rails and/or React (I might be wrong about this! I certainly am self-taught, though.)
2) Volunteers working in our spare time.

So the sky is hypothetically the limit, and the actual limit is time and the ability to self-teach. I think if we self-taught these new frameworks, and came to pre

[2018-10-06 15:17] DeeDeeG commented on #492
As @tkwidmer mentioned in Slack, we might want to also consider installing swagger-ui as a proper node package.

Our `public/api` directory is mostly (entirely?) a copy of the `swagger-ui` project from the 2.0 series: https://github.com/swagger-api/swagger-ui/tree/2.x/dist

I suspect we could install (the 2.0 version?) of the nodejs package and then update as needed.

[2018-10-07 16:28] DeeDeeG opened #507 "Move from "sass" gem to "sassc""
## Context

See this blog post: http://sass.logdown.com/posts/7081811

And this issue over at sass-rails: rails/sass-rails#420

## Summary

The ruby implementation of sass is designated as "deprecated", so it's in maintenance-only mode. They will be archiving the ruby-sass repo and not accepting issues or pull requests after March 29 2019. So it is going to eventually get stale.

## Solutions

We

[2018-10-08 19:47] DeeDeeG opened #509 "Simplify and streamline the Dockerfile"
## Scope / difficulty

Just need to update the [`Dockerfile`](https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/Dockerfile). Some discussion beforehand for consensus would be great.

## Impact

Would make `docker-compose build` run faster, and maybe make things easier to maintain; Should help the Docker config be more readable and easier to work with. Makes dependencies more obvious

[2018-10-08 20:51] DeeDeeG commented on #509
Examples of speed boosts:

- After downloading the ruby `2.3.7`base image, our [`develop`](https://github.com/RefugeRestrooms/refugerestrooms/tree/develop) branch built in **_9 minutes_** and 1 second on my computer.

Whereas...

- After downloading the ruby `2.3.7-alpine-3.7` base image, this branch built in **_8 minutes_** and 4 seconds on my computer: https://github.com/btyy77c/refugerestrooms/

[2018-10-08 21:02] DeeDeeG commented on #509
Size of built images:
[code]
Size of base images:
[code]

[2018-10-11 13:35] DeeDeeG opened #511 "Restrooms were submitted with latitude: null, longitude: null (geocode the backlog of old entries)"
## Context

See:
- https://github.com/RefugeRestrooms/refugerestrooms-ios/issues/148
- https://github.com/RefugeRestrooms/refugerestrooms-android/issues/59

## Summary

Lots of our restroom entries these days have `latitude: null` and `longitude: null`.

(Any use-case of the app focused on a map view, or search-by-location, will highlight this problem. Since those are mostly how the mobile apps ar

[2018-10-11 13:42] DeeDeeG commented on #511
To verify this is happening, query the "latest restrooms" API endpoint. Inspect `latitude` and `longitude` fields to see they are set as `null`.

<details>
  <summary>Example data (10 most recent entries as of writing):</summary>

[code]

</details>
^ click to expand.

[2018-10-11 14:21] DeeDeeG commented on #339
Here is an optimization guide, in case we need this: https://developers.google.com/maps/optimization-guide

[2018-10-11 18:49] DeeDeeG commented on #511
I believe we are over our query limit. This is the full output of what heppens in testing when I submit a new restroom:

[code]

particularly of note is this line:

[code]

And that the new restroom entry page sent `"latitude"=>"", "longitude"=>""` to our API when `POST`ing the new entry to [in this case the testing version of] our db.

[2018-10-11 19:04] DeeDeeG commented on #507
We will be seeing this deprecation message when installing Gems, after the Rails 5.2 update:

[2018-10-12 14:59] DeeDeeG opened #512 "Avoid geocoding when seeding the db during development"
## Context

See this comment (bullet point number 3) by @btyy77c that brought this to my attention: https://github.com/RefugeRestrooms/refugerestrooms/pull/508#issuecomment-427796840

## Scope and Proposal

Not too hard, I hope.

- Add an environment variable (`SEEDING_DONT_GEOCODE`) or similar.
  - Probably set this in [`setup/entry`](https://github.com/RefugeRestrooms/refugerestrooms/blob/develo

[2018-10-12 22:22] wellingtongvs commented on #468
I made a pull request over at the mockup repository. I tested the finished version on Emmet Re:view and everything seems fine. My CSS could use some polishing, but for a mockup version I think it should be fine.

I tried to stay true to the pure HTML+CSS approach, but I think Bootstrap would have made things a lot easier to implement. On that note, I'm not too sure if it's a good idea to drop it f

[2018-10-13 16:01] DeeDeeG opened #514 ""GitHub Services" are deprecated; Move integrations (such as Travis CI) to Webhooks and "GitHub Apps" by February"
## Context

From https://github.com/RefugeRestrooms/refugerestrooms/settings/installations:

---

From https://developer.github.com/changes/2018-04-25-github-services-deprecation/:

---

## Scope / difficulty

We currently have the following as services:

- Travis CI
- IRC

Shouldn't be too hard to move Travis to a GitHub Apps or webhooks-based setup. I'm less familiar with IRC, and it's a lower p

[2018-10-13 16:05] DeeDeeG commented on #514
If I set this up for Travis CI, the free "bill" of "$0.00 a month" would be billed to my account.

This is obviously not a problem for me, but it might be neater if someone such as @tkwidmer or @mi-wood took care of this and had the billing officially go to their account.

I'm not totally clear how easy it is to switch who is "billed" once this is done, so I'm holding off for now.

[2018-10-14 04:50] DeeDeeG opened #516 "Update restrooms API for newer grape and grape-swagger (enables support for the OpenAPI 2.0 spec)"
## Context

The latest `grape` and `grape-swagger` gems would update our API to the OpenAPI spec version 2.0. We should double-check to make sure our API works as expected with the OpenAPI 2.0 specification and format.

## Impact

Allows us to confidently use up-to-date `grape` and `grape-swagger` gems.

## How to actually do this

Change this file I think: https://github.com/RefugeRestrooms/refug

[2018-10-14 09:53] MauroCoppola opened #517 "Italian translation"
## Scope / difficulty

Translation will be added in a dedicated subfolder in [config/locales](https://github.com/RefugeRestrooms/refugerestrooms/tree/develop/config/locales)

## Impact

Improved internationalisation.

## Rationale

Let the project be understandable even for italian people who don't know english language or any other Language currently available

## Proposal

Add the italian transl

[2018-10-14 22:16] tcmal commented on #477
I'm relatively comfortable with React/ES6 so I'd be willing to contribute if needed.

Laravel has webpack integration by default and is pretty well suited all round, however I'm not sure how well supported Geo-coding is.

It would be entirely possible to use vanilla react + a REST API for the most part, as there's only a few requests going on for the most part (search & display).

[2018-10-14 22:19] DeeDeeG commented on #517
Hi @MauroCoppola,

An Italian translation would be great!

We have some instructions for translating Refuge Restrooms here if anyone wants to take a look: https://github.com/RefugeRestrooms/refugerestrooms/wiki/How-do-I-translate-Refuge-Restrooms.org%3F

[2018-10-14 22:32] DeeDeeG commented on #517
By the way, if anyone wants to get started on this: The Italian locale is abbreviated `it`, so one could make an `it` folder in this repo's `locales` directory and copy the English `filename.en.yml` files in there.

(the full path for the folder would be `config/locales/it`)

Then for each file,
- rename from `filename.en.yml` to `filename.it.yml`.
- And change the top line of each file from `en:`

[2018-10-14 22:52] DeeDeeG commented on #514
For the record: We don't need to update Code Climate, since it's integrated via WebHooks.

(There is a GitHub App for Code Climate, [here](https://github.com/marketplace/code-climate),  but it only covers their paid services.)

[2018-10-15 16:46] tkwidmer commented on #477
I'd feel pretty good about moving to React / Redux. The only real barrier imo, is really cleaning up solidifying the API, and strictly using an API to make all requests including POST requests. In general I think it would make our project a lot more attractive to FE folks wanting to contribute. There are a few issues to figure out logisticly.

Moving translations, etc. (I've actually used a packag

[2018-10-16 04:12] DeeDeeG commented on #516
Whoops, it seems like this is actually not a problem.

#506 works just fine, and that pairs our current API code with the new and updated `grape` and `grape-swagger` Gems. If we can confirm this isn't a problem, it's fine to close this issue.

[2018-10-16 20:30] MauroCoppola commented on #517
Great! Thank you for the details :)

[2018-10-18 20:42] DeeDeeG commented on #303
To clarify that this is not an active problem that we need to fix, I'm going to be closing this issue. Thanks everyone for your comments and input.

---

If we do update this (for sentimental reasons?) at some point, I recommend we do an API query against a location in San Francisco as described above to get the data. This is consistent with the current set of dummy entries being in San Francisco.

[2018-10-18 20:42] #303 closed

[2018-10-19 04:50] translatorzepp commented on #357
I can grab this!

[2018-10-19 15:10] DeeDeeG commented on #468
The pull request is merged now. It is a fairly complete mockup now (in HTML and CSS)!

It is recommended for anyone working on this issue to take a look at the web mockup for guidance when implementing this in the actual app. Although I think we are still ultimately aiming to replicate the photoshop mockup, the web mockup gives a clear picture how this is doable on the web.

Thanks @cindychangy an

[2018-10-19 21:48] DeeDeeG commented on #357
Cool, and thanks @translatorzepp!

If you have any questions, or need anything, let us know!

And Happy Hacktoberfest!

[2018-10-19 21:59] DeeDeeG commented on #516
I updated this issue to more accurately reflect the situation. We can optionally go in and make sure this works 100% perfectly with the new gems. But it already works fine apparently in #506.

I think addressing this issue can only really affect the docs page. The results given by the API (actual `json`-formatted restroom entries) in PR #506 look the same as before, at least to my eyes.

[2018-10-24 20:39] #497 closed

[2018-10-28 15:03] DeeDeeG commented on #511
Here's a FAQ entry for addressing this issue, over at the Maps API documentation.

https://developers.google.com/maps/faq#over-limit-key-error

[2018-10-29 21:32] #517 closed

[2018-10-30 18:18] DeeDeeG opened #522 "Update Heroku Stack by April 2019 (Cedar 14 is deprecated)"
Hi folks,

According to Heroku, [Cedar-14 is now deprecated.](https://devcenter.heroku.com/changelog-items/1413)

## Scope / Difficulty

EASY. Surprisingly easy. It's just a button press, actually.

## Impact

Not much, for now. The current release of our web app will keep running as-is. But starting in April Heroku will stop accepting *new builds* of our app targeting `Cedar 14`.

Switching to th

[2018-10-30 18:34] DeeDeeG opened #523 "Update Ruby (the Ruby 2.3 series hits end-of-support in April 2019)"
Hi folks,

According to Ruby-lang.org, [Ruby 2.3 is in its "security maintenance phase."](https://www.ruby-lang.org/en/news/2018/10/17/ruby-2-3-8-released/)

## Impact

The best security, and the most current feature updates are available on more-recent Ruby. It would theoretically be a plus to move to newer series of Ruby.

## Proposed solution

We can update to Ruby 2.4, or Ruby 2.5.

For detail

[2018-10-30 19:07] #512 closed

[2018-10-31 00:38] DeeDeeG commented on #523
See these branches I made. As far as I can tell, both work 100%:
- https://github.com/RefugeRestrooms/refugerestrooms/tree/ruby-2.4
- https://github.com/RefugeRestrooms/refugerestrooms/tree/ruby-2.5

[2018-11-10 16:47] DeeDeeG commented on #511
Extra Credit: We might spend some time ensuring how we use our API key matches these guidelines:

https://developers.google.com/maps/documentation/geocoding/web-service-best-practices
https://developers.google.com/maps/api-key-best-practices

(As usual with Maps API documentation, there's at least two pages for almost identical subjects, and it's not always clear which one pertains to our particul

[2018-11-11 20:07] mi-wood commented on #511
Reopening because I still have to fix all the old entries

[2018-11-14 13:48] #431 closed

[2018-11-24 16:03] DeeDeeG commented on #522
The new `Heroku 18` stack doesn't work with Ruby 2.3 or older.

So this depends on us updating Ruby, which is #523.

[2018-11-24 19:56] mi-wood commented on #371
Hi @jamisonordway ! Thank you for this and sorry it took me so long to get to it. Can you share the files you used? I'm going to set up an S3 bucket so the maintainers can have authorization to change the permissions on it.

If you want, you can create a pull request with the files in a `heroku/maintenance` directory and we'll merge those in :)

[2018-11-24 20:09] #523 closed

[2018-11-24 20:30] DeeDeeG commented on #241
For the historical record:
- `edit_id` field for each revision
- Users can propose changes
- db has `approved` boolean for each revision

All introduced in: #530

[2018-11-24 20:32] mi-wood commented on #306
An FYI on this, since I did this. I have a family plan for 1password and shared a vault with @tkwidmer. This should suffice for the time being. I think they recently introduced some sort of plan for nonprofits/charities, so if we ever need to upgrade we can look into that.

[2018-11-24 20:32] #306 closed

[2018-11-24 20:35] mi-wood commented on #172
Just adding a note, that this would be incredibly helpful for the contact form. We get a lot of spam

[2018-11-24 20:36] DeeDeeG commented on #306
Relatedly, we could set up a "Heroku Team" to share access to the Heroku instance, if need be. Seems very similar to "Organizations" here on GitHub.

[2018-11-24 20:37] mi-wood commented on #306
@DeeDeeG We're using this currently. The transition is what deleted the DB awhile back 😬

[2018-11-24 20:39] DeeDeeG commented on #306
If GitHub had a shocked/horrified emoji reaction, this would be the time I'd press it.

Welp.

[2018-11-24 20:40] mi-wood commented on #158
I'm going to close this for the time being and keep an eye on web performance (both through heroku and innocraft). If something becomes an issue, I'll create a specific issue to target one of these items.

[2018-11-24 20:40] #158 closed

[2018-11-24 20:46] mi-wood commented on #126
This should have been autoclosed, but I messed up the linking

[2018-11-24 20:46] #126 closed

[2018-11-24 20:48] DeeDeeG commented on #158
Historical note:

Some recent things that hopefully should help:

- We switched from WEBrick to Puma: https://github.com/RefugeRestrooms/refugerestrooms/pull/442
- We activated static asset serving (still in `develop` branch/staging at the moment): https://github.com/RefugeRestrooms/refugerestrooms/pull/532
- Updated Rails and Ruby a few times, bumped lots of packages

[2018-11-24 20:49] mi-wood commented on #445
I'm going to close this until we need multi-threading, because I don't think that will be for a long time and this will just cloud the issue list.

[2018-11-24 20:49] #445 closed

[2018-11-24 20:58] DeeDeeG commented on #126
For the historical record:

The PR that implemented this was https://github.com/RefugeRestrooms/refugerestrooms/pull/530

[2018-11-24 20:58] mi-wood commented on #188
I just tested this using swiftkey. Since our app, swiftkey, and iOS have all had major updates, I'm going to assume something fixed this along the way. If anyone else notices an issue, we can reopen this.

[2018-11-24 20:58] #188 closed

[2018-11-24 21:00] mi-wood commented on #429
@tkwidmer if you share the tumblr login with me, I'll fix this

[2018-12-03 20:30] hnarasaki commented on #451
I would like to help with this.

[2018-12-03 21:02] DeeDeeG commented on #451
Hello @hnarasaki, we would be happy to have a Filipino translation.

If you have any questions, feel free to ask! Would be glad to help. I see you are already started, so I hope it goes smoothly, and good luck!

[2018-12-03 21:17] DeeDeeG commented on #451
For `devise.en.yml`, some translations can be copied from here: https://github.com/tigrish/devise-i18n/blob/master/rails/locales/tl.yml

[2018-12-04 18:33] hnarasaki opened #540 "Please fix text display issue under Resources > "Download Unisex Restroom Sign""
## Scope / difficulty

Might be easy/Minor display issue.

## Proposal

Please fix this so the text isn't overflowing out of the box.

<img width="1253" alt="screen shot 2018-12-04 at 10 29 20 am" src="https://user-images.githubusercontent.com/29487319/49464532-f4036200-f7af-11e8-8900-f05d5fbe5bb7.png">

## How to actually do this:

Maybe make the box bigger? Not sure if making the font smaller wo

[2018-12-04 19:13] DeeDeeG commented on #540
I should be able to take care of this issue. Thank you for reporting it.

(On the other hand, if you would like to solve this issue yourself, @hnarasaki, feel free to say so and I can leave it for you to do!)

[2018-12-04 20:53] hnarasaki commented on #540
@DeeDeeG Yes, would you mind leaving it for me to try? :) I just want to finish up the translations one and then I’ll work on this one. Thanks!

[2018-12-04 21:35] DeeDeeG commented on #540
No problem!

[2018-12-04 22:04] DeeDeeG opened #541 "Data from db/export.csv should get "edit_id" values matching their "id" values (currently all set to zero)"
## Scope / difficulty of fixing this

Not too hard I hope?

## Impact

Only affects local testing (in Docker, Vagrant, etc.) with the `db/export.csv` data. Fixing this will make the data from `db/export.csv` behave properly alongside the new user edit proposals system.

_This has no bearing on our production instance, because the data there all have proper`edit_id` values._

## Problem

Data in `d

[2018-12-04 22:19] DeeDeeG commented on #541
I'm also unsure if we should even be grouping by `edit_id`.

I think that value should always be unique, and we should group by `id` instead?

If I understand it correctly:

1. A new restroom is added. Its `id` and `edit_id` match
2. A user proposes a change and we accept it
3. The changed version of the restroom has the original `id` but a fresh `edit_id`

Thus no two entries have a shard `edit_i

[2018-12-05 23:54] DeeDeeG commented on #451
Here is the updated branch with your pull requests added in: https://github.com/RefugeRestrooms/refugerestrooms/tree/Filipino-Staging-Rebase

[2018-12-06 23:43] hnarasaki commented on #451
Progress Update: I translated a file and made a commit https://github.com/RefugeRestrooms/refugerestrooms/compare/Filipino-Staging-Rebase...hnarasaki:patch-12. (I was using the UI on GitHub.com) However, I just downloaded the GitHub for Desktop app. My plan is to make all the changes at once and then 1 PR when I'm done.

[2018-12-07 00:03] DeeDeeG commented on #451
Thank you for the update!

[2018-12-07 00:21] hnarasaki opened #553 "Documentation Edit - Add Notes to "How do I translate Refuge Restrooms.org?""
**Translating the Files Section:**

## Scope / difficulty

Easy/Minor documentation edit.

## Impact

A user might miss this and translate something that should not be translated.

## Proposal

On this page https://github.com/RefugeRestrooms/refugerestrooms/wiki/How-do-I-translate-Refuge-Restrooms.org%3F I would like to propose adding a note that if you see a value that is not in quotes, don't tra

[2018-12-07 01:15] DeeDeeG commented on #553
I think we can update that Wiki page, for sure. Thanks for the feedback.

I want to address the comments you have given here.

Actually if this phrase ("Public API") can be translated well into Filipino, that would be great! Of course, if it will make more sense without translation, that is fine also.

We should probably add quotes to the English translation file for this. (**Public API** --> **'P

[2018-12-07 03:03] DeeDeeG commented on #553
Here is an update on one of these points. I agree that the `en.yml` file is confusing at the moment. I moved it out of the `en` folder and renamed it to `about_translations.yml`

(I decided to keep the file in some form, since it has some interesting technical information about how the translations work.) See: #554

 If other members of the team agree with this, or if they don't comment on it for

[2018-12-09 20:00] DeeDeeG commented on #553
Actually, it appears that I was wrong, and translations in `config/locales`don't need to be surrounded by quotes.

Here are some examples in the official documentation without quotes:

from https://guides.rubyonrails.org/i18n.html#lazy-lookup :

[code]

from https://guides.rubyonrails.org/i18n.html#using-safe-html-translations :

[code]

[2018-12-09 20:18] DeeDeeG commented on #553
I removed the `en.yml` file from the `config/locales/en/` folder.

It is moved to the base folder of `config/locales/`, and renamed to `about_translations.yml`

[2018-12-11 17:36] tkwidmer commented on #429
In light of Tumblr's recent policy changes that really position them against sex positive / LGBTQ communities, I think we should look to a different source for this entirely.

[2018-12-11 17:36] tkwidmer commented on #429
The tumblr is on my account, which i'm in the process of closing out.

[2018-12-12 17:18] evanodell opened #555 "State/Province validation in submission form"
## Scope / difficulty

Add validation for state/province names, to ensure consistent naming of those locations.

I suspect this is something that could be implemented without very much difficult through the `geocoder` gem already used in the project. This could be in the form of a drop-down list or a validation/suggesting system. Depending on what is available through `geocoder` this could also in

[2018-12-12 17:39] DeeDeeG commented on #555
Hi @evanodell, and thank you for the suggestion!

I think this would be solved if we can merge #529 (which is based on #519).

This approach involves sending the restroom's coordinates (which we get from a first round of geocoding) through a second round of "reverse-geocoding" to get the proper address for that location. This should be much more uniform, since we're getting the full text of the ad

[2018-12-17 19:22] hnarasaki commented on #451
Progress Update: Still working on this. I have 5 of the 13 files translated.

[2018-12-17 20:13] DeeDeeG commented on #451
Thank you again for the update. We definitely appreciate the work you're doing!

(I don't know if this has already been mentioned, but I wanted to mention about our process for translations: Usually, when the translations for a given language are all submitted, we try to get in contact with a second native speaker of the given language, who can then review and make any suggestions or corrections.

[2018-12-17 20:21] hnarasaki commented on #451
@DeeDeeG Great, thanks! :) Should this be added to the Wiki (https://github.com/RefugeRestrooms/refugerestrooms/wiki/How-do-I-translate-Refuge-Restrooms.org%3F) so contributors will know what to expect? "Usually, when the translations for a given language are all submitted, we try to get in contact with a second native speaker of the given language, who can then review and make any suggestions or

[2018-12-17 20:32] DeeDeeG commented on #451
Sure, yes. That sounds like good idea.

Yes, I would like to do that. I will look into exactly how to do so, since it's not clear yet how I can do this. Sjould be able to figure it out in about half an hour? Hopefully?

[2018-12-17 20:50] hnarasaki commented on #451
@DeeDeeG Cool, thanks!

[2018-12-17 21:05] DeeDeeG commented on #451
I reached out to @mi-wood and @tkwidmer, who have permission to add you to the new "Wiki Editors" team of our GitHub organization. That should give you access to edit the wiki here.

If we don't hear back from them soon, I can also temporarily open the wiki to be editable for all GitHub users, so you can make any changes that are needed.

[2018-12-17 21:14] DeeDeeG commented on #451
@hnarasaki I went ahead and opened up wiki edit access to all GitHub users, for now. Hopefully there won't be any vandalism?? But I don't expect any. If there is, we can fix it, so it's not a big deal anyway.

[2018-12-18 21:09] hnarasaki commented on #451
@DeeDeeG Thanks! I edited the Wiki with a "What's Next?" section https://github.com/RefugeRestrooms/refugerestrooms/wiki/How-do-I-translate-Refuge-Restrooms.org%3F

[2018-12-18 23:43] DeeDeeG commented on #553
Sure.

Might add something to the wiki later about quotation marks, if I can think of what would actually be helpful rather than unnecessary (or even accidentally confusing)... But for now we can close this. :+1:

[2018-12-18 23:51] #553 closed

[2018-12-19 00:18] DeeDeeG commented on #522
Some explanation or insight, in case this is useful: From what I gather, updating the Heroku stack is about running on a newer Ubuntu operating system release. We are on Ubuntu 14.04 right now (the release from 2014)... And Heroku 16 is Ubuntu 16.04 (April 2016)... Likewise, Heroku 18 is Ubuntu 18.04 (April 2018).

Nothing about that kind of operating system upgrade necessarily breaks a Rails app,

[2019-01-05 20:20] DeeDeeG commented on #509
I have a branch where I updated the Dockerfile to be simpler, build a smaller image, and build faster. (This branch is still based on the [`ruby:2.5.3-slim` Docker image](https://hub.docker.com/_/ruby/)).

https://github.com/RefugeRestrooms/refugerestrooms/blob/update-Dockerfile/Dockerfile

The charts in the previous two comments are updated to show how it stacks up.

This is the second-fastest bu

[2019-01-05 20:46] DeeDeeG commented on #514
I can go ahead and set this up now if nobody minds. cc @tkwidmer, @mi-wood

[2019-01-10 16:30] DeeDeeG commented on #514
Will try to switch Travis to the "GitHub Apps" system some time today.

[2019-01-10 22:13] DeeDeeG commented on #514
Apparently we need to disable our old integration with Travis (via _travis-ci.**org**_) in order to get the new version working (via _travis-ci.**com**_)

I did reach out to Travis CI support, but their hours are 10 AM - 10 PM Central European Time, and it was just after 10 PM there when I emailed, so we probably won't hear back before tomorrow.

I posted more details on Slack, but that's the gist

[2019-01-31 23:52] DeeDeeG commented on #514
Travis CI is migrated over for this repo (`RefugeRestrooms/refugerestrooms`), as well as `refugerestrooms-android` and `refugerestrooms-ios`.

(I suppose we will be letting the old IRC integration close down, at least for now. But as far as I can tell, no-one has used our IRC channel lately.)

So this issue is taken care of, and can be closed! Also, thanks @hissingpanda, @CarmenGitIt, and @hkellaw

[2019-01-31 23:55] #514 closed

[2019-02-07 03:27] mi-wood commented on #429
We can utilize our github.io for this probably and delete tumblr from our link section. Going to update this ticket to reflect that.

[2019-02-07 03:27] mi-wood commented on #429
Note, we should also update the DNS setting to not point to tumblr...

[2019-02-07 03:29] mi-wood opened #559 "Create a new blog"
Per https://github.com/RefugeRestrooms/refugerestrooms/issues/429, we're closing out our tumblr. It's probably a good idea to still have a blog for when we need to write something. GitHub pages is an option, and is tied to our account privileges, so is probably a good candidate. Plus it's free and we can point our domain to it :)

https://pages.github.com/

[2019-02-20 12:21] Intimaria commented on #472
Hi, @DeeDeeG, @mi-wood. I did the original Spanish translations. Feel free to ping me as and when and I will find room in my schedule to update.

[2019-02-20 15:35] DeeDeeG commented on #472
Thank you @Intimaria! (Hope you are doing well!)

cc @mi-wood, I suppose we should do a call for translation updates, now that the "suggest an edit to this restroom" feature is added (#530).

[2019-03-08 23:31] Leffe108 opened #562 "Tap in map to add restroom here (using lat+lon => street address API)"
## Scope / difficulty

UI + lookup address from lat+lon

## Impact

Simplify contributing locations.

## Rationale

Personally I stop trying to contribute when the form ask me to enter the street name of a place when I just have zoomed in the map on the place and then switched to the contribution form. I have no clue what street name + address to enter in order for the map marker to end up at the

[2019-03-08 23:43] Leffe108 commented on #562
Sorry, call me ignorant, but I now realize there is actually a separate project for web, one for Android and one for iOS. This issue was mostly raised in response to using the Android app. I saw an app folder in this code base and thought you used some ruby based hybrid framework I never heard of as I haven't used ruby in years.

[2019-03-08 23:43] #562 closed

[2019-03-09 00:00] Leffe108 commented on #477
Perhaps focus the effort on a mobile friendly website/web app. Google just released the possibility to release web apps (PWA) in Google Play for easier discoverability among end users who still have not been fully educated to find web apps not present in the app store.

From what I understand Refuges Restrooms does not depend on any features that require it to be implemented as a native app or cor

[2019-03-09 00:52] DeeDeeG commented on #562
Hi @Leffe108! Thanks for the suggestion.

If you don't mind, we can move this issue to the Reuge Restrooms Android app repo: https://github.com/RefugeRestrooms/refugerestrooms-android

Regards,

\- DeeDeeG

[2019-03-09 10:50] Leffe108 commented on #477
As some inspiration a related project Wheel Map does use React JS for their frontend for web, and mobile (android+ios) using cordova from the same frontend project. Their frontend project is open source (MIT) and available on github. [Wheel map frontend project](https://github.com/sozialhelden/wheelmap-react-frontend)

[2019-03-09 14:00] Leffe108 commented on #562
Feel free to move the suggestion to the android project.

[2019-03-12 15:10] DeeDeeG opened #563 "Serve PDF restroom sign files in multiple languages"
## Scope / difficulty

Not too difficult.

Should just have to either:

1) Add some ruby code to serve the language of file the user is viewing, OR
2) Put restroom sign PDFs of all languages on the page, regardless of viewing language.

Also need to make .png preview images to go with the new PDF signs.

Also also, we possibly want to generate new QR codes to correspond to the new signs' URLs.

##

[2019-03-19 16:35] DeeDeeG commented on #507
I think we will be able to take care of this by bumping our dependencies, since they are migrating away from depending on Ruby sass, toward depending on libsass, aka sassc.

[2019-03-19 16:42] DeeDeeG commented on #522
Pinging @mi-wood, @tkwidmer.

Just a quick reminder that this issue would temporarily block us from deploying updates of the site past March 31st 2019.

Solving this (moving to a new Heroku stack) should be just a button press over at the Heroku dashboard. :+1:

[2019-03-21 02:27] DeeDeeG commented on #428
I got this mostly working: https://github.com/DeeDeeG/refugerestrooms/tree/language-switcher-rebased

I followed the examples here: https://api.rubyonrails.org/v5.2.2/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to

The homepage link is no-longer hard-coded, and it includes a `?locale=[actual_locale_to_use_here]` parameter in the URL.

The search bar is still sending me to the "Restroom

[2019-03-22 02:44] mi-wood commented on #522
Updated this and deployed.

[2019-03-22 02:44] #522 closed

[2019-03-23 20:36] stardust66 commented on #541
From the way I understand the editing process, when an edit is submitted, a new restroom entry is made with a new `id` and an `edit_id` matching the `id` of the original restroom. Thus, grouping by `edit_id` ensures that the newest restroom, which is the one with the highest `id`, gets displayed.

[2019-03-24 16:15] DeeDeeG commented on #541
We could also manually edit `export.csv` instead, since it's only ~27 entries long. I'd be able to do that without it taking too long.

[2019-03-25 13:31] DeeDeeG commented on #541
I have a branch where I seem to have fixed this: https://github.com/DeeDeeG/refugerestrooms/commit/27d3e156adec45d2877ada5e9122736596072d81

Based on this stackoverflow answer: https://stackoverflow.com/a/12408934

[2019-03-31 20:33] #541 closed

[2019-04-07 05:53] allgoodserra commented on #477
Hi, I'm interested in contributing to the project, so I just wanted to throw this question out regarding major efforts. As far as moving to splitting the back and front ends, is that the most value that can be delivered to users or is it more of a icing? Don't get me wrong, "it would be fun," is a perfectly valid reason for pursuing work, but I'm personally interested in producing value for users.

[2019-04-10 13:21] DeeDeeG commented on #477
Hi @allgoodserra, and thanks for your question.

Yeah, I agree that having the tech the way it is, is probably just as (if not more) maintainable than a separate front-end framework. Likewise, we have mobile "covered" by mobile apps, with an active team on Android, and the iOS app is tailor-made and still working at the moment, despite not having had its code updated in a bit. Don't need to fix it

[2019-04-10 20:19] allgoodserra commented on #477
Oh, I should have checked the test coverage percentage, sorry! 90% is more than good, imo. But cool, I'm glad you're feeling more confident! I'll be poking around in the open issues for potential contributions.

[2019-04-12 07:00] natts1 opened #581 "Add more data fields to allow assessment of each restroom's safety and privacy"
## Scope / difficulty
Adding new data fields, which will then require the addition form to be updated accordingly, as well as the restroom view pages and potentially the search results.

## Impact

Users can assess whether the restrooms will offer the level of safety that they require or would like, especially useful for vulnerable people, or those more likely to be targeted in attacks due to thei

[2019-04-12 16:04] DeeDeeG commented on #108
It looks like there are 43 restrooms at lat 0, long 0: https://refugerestrooms.org/api/v1/restrooms/by_location?page=1&per_page=100&offset=0&lat=0.00&lng=0.00

I think we can handle this the same way as with #511.

[2019-04-12 16:51] cllns commented on #581
Most of the bathrooms in Refuge are single rooms, not stalled (at least in areas I've checked). It's a lot of work and code complexity for a minority of cases, which are the less preferable option anyway. Some of these could be useful, but we should also be aware of that adding fields does have a UX cost with making each submission more work and more complicated. It's also quite a bit of developme

[2019-04-12 21:38] DeeDeeG commented on #581
I can agree that many of these fields would be not-applicable to most restroom entries we have. And I was also thinking, will people want to enter these? Are we making the form too long? Will there be a real benefit?

Generally speaking, any restroom is better than no restroom. And the restrooms that are added (one can guess) have been added because they are being somewhat recommended by the peopl

[2019-04-25 02:49] Hkly commented on #540
<img width="1224" alt="Screen Shot 2019-04-24 at 7 48 14 PM" src="https://user-images.githubusercontent.com/5015020/56706475-f6684900-66c9-11e9-9102-635c086c14b9.png">

Would wrapping the text be a reasonable solution? I also added a light grey border to separate the two menu items a bit, but open to other ideas.

[2019-04-25 03:10] Hkly opened #582 "Focused filter button's text is hard to read"
## Scope / difficulty

Easy

## Impact

Accessibility/readability

## Proposal

<img width="438" alt="Screen Shot 2019-04-24 at 8 04 36 PM" src="https://user-images.githubusercontent.com/5015020/56707158-a2129880-66cc-11e9-86f9-39cdae81bb05.png">

Focused state of active filters is hard to read. Update colors for better readability.

## How to actually do this:

Update styling to another color, ma

[2019-04-26 19:56] Intimaria commented on #428
Ace

[2019-04-27 02:31] #582 closed

[2019-04-27 02:33] #540 closed

[2019-04-27 15:08] DeeDeeG commented on #428
One way to work around certain hard-coded links, is to maybe have a session or cookie storing the current preferred locale. We can save this between page loads.

That way none of the hard-coded links will reset the locale to whichever the user's browser list of preferred locales has first. (Which defeats the purpose of the language switcher).

I am going to make a Pull Request of my work in progre

[2019-05-23 19:50] DeeDeeG commented on #477
Finally closing this, for reasons discussed in recent comments and my edit to the original comment. (i.e. the main point of this issue has been addressed.)

If we want to revisit changing frameworks, that can probably be a separate issue. Feel free to link back to this in future discussions, though.

[2019-05-23 19:50] #477 closed

[2019-05-27 17:47] #509 closed

[2019-08-20 16:01] DeeDeeG commented on #429
Someone seems to have parked the tumblr blog (and kept it empty/devoid of posts). As far as I can tell this not someone directly working on the app (part of the addmitedly informal "team.")

It's nice of someone to look out for us by parking the name, but I think we are assuming their good graces etc. (They could decide to post something at some point.)

tl;dr https://blog.refugerestrooms.org/ poi

[2019-09-22 17:55] #429 closed

[2019-10-02 18:51] DeeDeeG commented on #507
The last thing to bump would be `activeadmin`, which we need to increase to at least 2.1: https://rubygems.org/gems/activeadmin/versions/2.1.0

At that point we would no-longer install the old Ruby `sass` gem.

[2019-10-05 00:52] brynmrk commented on #451
Hi, I'd like to continue working on this. Where should I start since there is already a PR?

[2019-10-05 01:55] DeeDeeG commented on #451
Hi @brynmrk, thanks for reaching out about this.

If you'd like to pick up where previous contributors left off, I can merge their existing work into a branch, and then you can make any changes that seem appropriate. I'll also try to point out where the existing translations are out of date with the English source files, when I get the chance.

[2019-10-05 02:37] DeeDeeG commented on #451
Here is the updated branch: https://github.com/RefugeRestrooms/refugerestrooms/tree/Filipino-Rebase-2

[2019-10-05 03:29] DeeDeeG commented on #451
I left a lot of comments in #556, reviewing the translations and leaving suggestions for changes. Apologies if any of them are wrong, since I don't personally know the language well.

As mentioned in [this comment](https://github.com/RefugeRestrooms/refugerestrooms/pull/556#issuecomment-448426051), there were some updates to the English files not yet reflected in the existing PRs. And since that c

[2019-10-14 21:41] #451 closed

[2019-10-22 20:57] DeeDeeG opened #601 "Tests aren't passing (except in an old, end-of-life Ubuntu release under Travis CI)"
## Problem

Tests are failing anywhere but Travis CI's old Ubuntu 14.04 "Trusty" base image.

See this recent test run for an example: https://travis-ci.com/RefugeRestrooms/refugerestrooms/builds/130835299#L956-L981

<details>
<summary>Full error (click, or give keyboard focus and press enter, to expand)</summary>

[code]

</details>
.

There are eight of these errors, one for each inclusion of `L

[2019-10-22 21:22] DeeDeeG commented on #601
Here are my comments from Slack, since they're relevant and I think they should be available for anyone trying to solve this issue:

---

---

---

---

---

[2019-10-22 21:25] DeeDeeG commented on #516
Our API code doesn't appear to need any changes after all. I suppose we weren't using any off-the-beaten-path features of the `grape` and `grape-swagger` gems.

Closing this issue.

[2019-10-22 21:25] #516 closed

[2019-10-22 21:39] DeeDeeG opened #602 "Fix deprecation warnings"
We have the following deprecation warnings in Travis CI:

[code]

- [x] Solution: Update the `simplecov` gem to a version that doesn't use `Fixnum` in this way.
  - Done in #609

---

[code]

- [x] Solution: Update `spec/api/v1/restrooms_spec.rb` line 27 to use [RSpec `be_successful`](https://rubydoc.info/gems/rspec-expectations/frames#Predicate_matchers) rather than RSpec `be_success`.
  - Done i

[2019-10-25 19:09] DeeDeeG commented on #601
Setting Travis CI's `dist` setting to `bionic` doesn't work either.

[2019-10-26 22:39] DeeDeeG opened #604 "Upgrade Webpack/Webpacker from 3.x to 4.x"
Webpack/Webpacker 3.x will probably not be supported anymore at some point, and 4.x is included by default with Rails 6.x

Switching helps us stay on the latest dependencies, and stay current with the direction that Rails is going overall. Staying closer to the direction Rails is going should make it easier to stay on actively supported tech/dependencies.

[2019-10-29 20:45] stardust66 commented on #601
I'm looking into this. Going to make a pull request to run tests with Travis, because for some reason that error doesn't pop up in Docker on my machine.

[2019-10-30 15:47] DeeDeeG commented on #601
Thank you @stardust66!

[2019-11-01 20:52] #601 closed

[2019-11-21 11:15] sophiabonsu commented on #563
Hi @DeeDeeG ! I interested in working on this!

[2019-12-04 16:21] DeeDeeG commented on #563
Hi @sophiabonsu, sorry I did not notice your comment! My email inbox is overflowing!!

I will take a look at this, if you are still interested, and I will try to give some direction on how to proceed.

(Please do leave another comment here if you are still interested.)

[2019-12-04 18:03] sophiabonsu commented on #563
Hello @DeeDeeG !!! I’m still very interested in working on the issue ! I’m having trouble with the installing the  development environment. I installed the docker and my laptop has  been much slower since. It’s an older MacBook(2009), so  I suppose that the problem. Any additional guidance would be greatly appreciated.

[2019-12-04 19:50] DeeDeeG commented on #563
Hi again, @sophiabonsu.

First thing, I think it would be good to ensure you have a workable development environment, so that is what I will comment about first.

- Regarding Docker, if you have "Docker for Mac" then that should be reasonably fast. But only recent machines can run this. If you have "Docker Toolbox", that is based off of VirtualBox and is expected to be somewhat slow.
  - For perfo

[2019-12-04 20:34] DeeDeeG commented on #563
That's a pretty sweeping overview, but if you have anything more specific you want answered, I can do that. Hope it's helpful.

Best Regards,

\- DeeDeeG

[2019-12-06 02:14] DeeDeeG commented on #563
For more help with Haml (I think this would be the trickiest part for someone not familiar with it) here are some resources:

- https://haml2erb.org/
  - Converts haml to HTML

<details>
<summary>Here's our Haml source for the restroom signs PDF page... turned into HTML with embedded Ruby code. (Click this text to expand/give this text keyboard focus and press "Enter" to expand.)</summary>

[code]

[2019-12-06 04:19] DeeDeeG commented on #563
Hmm, I have to correct my earlier comments about setting up the development envrionment outside of Docker. I mis-remembered how far I was able to get testing outside of Docker. My apologies for not testing the steps in my comment.

The webapp does not seem to work at all outside of Docker if PostgreSQL is not running locally. Also, NodeJS must be installed, or Rails will not run.

Here is a proper

[2019-12-09 16:21] sophiabonsu commented on #563
Hi @DeeDeeG

I was finally able to get docker running on a newer macbook pro. However I am getting this error when I open localhost:3000 in the browser:

![image](https://user-images.githubusercontent.com/37914995/70452672-87333f80-1a75-11ea-9e91-c2f933f60ee4.png)

I tried changing the cache_manifest to true  but that made no change
 Can you please guide me ?

[2019-12-11 14:39] DeeDeeG commented on #563
I got an email notification of an issue you had run into.

I can look into it, but I'm not familiar with that particular error message. Hopefully it has gone away by now/been resolved?

---

WebPacker is a sort of low-level, automated thing. I don't think this project has changed the configuration/setup of WebPacker in a bit, so it should be working. In order to make sure the docker image built co

[2019-12-15 13:28] btyy77c commented on #604
I can work on this.  Do you also want to upgrade to Rails 6?

[2019-12-15 21:20] DeeDeeG commented on #604
As the most-active maintainer as of late, I'd say that would be awesome. I'm checking in with longer-standing devs/maintainers on Slack, but I personally don't see why not.

Thank you for the offer! (Will keep you posted if I have any updates to give.)

[2019-12-16 19:39] DeeDeeG commented on #604
I am able to review this type of PR and land it, so I'm going to say go for it. Thanks again.

[2019-12-16 19:40] DeeDeeG commented on #604
Yes, I think that would be good, if it proves to not be too much trouble. Only reason why not to would be performance regressions or bugs/instability. Should be able to catch either during review.

[2019-12-17 11:45] btyy77c commented on #604
Ok.  I'll upgrade webpack first and have a different branch for Rails 6.

I'm having a little trouble testing it. All of my branches are failing (including my develop branch: https://travis-ci.org/btyy77c/refugerestrooms/builds/625295028).  I think I may be missing an api key to fully test it.

[2019-12-18 03:12] DeeDeeG commented on #604
I'll be able to take a closer look at this tomorrow. Thank you!

[2019-12-18 14:19] DeeDeeG commented on #604
I'm seeing this too. Sometimes Travis CI gets a reproducible failure on our project that doesn't have anything to do with code changes we've made. These failures that come for no traditional "fault" o our own seem to go away on their own, too.

Speculating: If I had to hazard a guess, I'd say it has to do with Puma running with a maximum 4 threads allowed during testing; In production, if I recall

[2019-12-21 00:53] #604 closed

[2019-12-24 03:50] DeeDeeG commented on #604
I tracked down the Travis CI failure by recreating the test conditions manually myself.

In summary, the top result for "Mission Creek Cafe" in Google Maps has recently changed, thus breaking our test.

Fuller explanation below, for anyone curious:

---

(Background information: The Mission Creek Cafe in San Francisco has apparently been closed for some time now. A place called Mission Creek Coffe

[2020-01-30 22:03] sandbergja opened #612 "Add more guidance for the "Accessible" field"
## Scope / difficulty

This would probably require some thorough conversations, but then be technically relatively simple to implement.

## Impact

I suspect that there is currently a lot of bad data in this field, making it less useful for people to find an accessible restroom.

## Rationale

Many users add bathrooms to Refuge Restrooms, but are unsure about how to assess whether or not a restroo

[2020-01-31 01:24] DeeDeeG commented on #612
Hi @sandbergja, thanks for the suggestion.

I would like to see what we can do about this. Possibly link to some ADA guidelines? I know I sometimes wonder if I can identify an accessible restroom properly myself.

I think the good-to-haves features are:
- that you can get into the building, and from there into the restroom, in a wheelchair. No stairs required. No odd things that would block a whee

[2020-01-31 01:34] DeeDeeG commented on #612
I'm surprised there isn't much that's super concise on the web, at least that I can find right away. Should be reasonably easy (for the technical half of it) to add a page of our own explaining the guidelines for accessibility. Which we could link to from the New Restroom form if that's the direction we go with things.

[2020-04-04 02:10] #507 closed

[2020-04-14 14:37] DeeDeeG commented on #511
Just documenting that we had another extended geocoding outage that lasted until `2020-04-11T18:04:55.252Z` in API/server time.

The outage appears to have started at `2019-11-11T12:08:53.407Z` API/server time.

This represents roughly `1790` entries, (that is, roughly 179 pages of 10 entries each), though some are duplicates, and some of these were successfully geocoded, perhaps via the "guess my

[2020-04-14 21:36] mi-wood commented on #511
Was able to fix these:
[code]

Down to 24 with nil lat. Looks like they're mostly spam that go through somehow. I'll look later and maybe delete them.

[2020-04-14 21:36] #511 closed

[2020-06-23 01:51] piercebb opened #624 ".env file variable syntax is not compatible with latest docker-compose version 1.25.5"
## The issue
During project setup after cloning the project and installing docker, running `docker-compose` generated an error:
[code]
Others have run into[ similar issues](https://github.com/docker/compose/issues/6511) using `export MY_VAR=MY_VAL` in `.env` files, which are [compatible with `docker-compose` version 1.23.1 ](https://github.com/docker/compose/issues/6511#issuecomment-509873061).

#

[2020-06-23 04:47] DeeDeeG commented on #624
Hi @piercebb, thanks for being interested in Refuge!

We can try changing the `.env` file, I'll look into that when I get the time. (I want to make sure everything still works without the `export` command.)

I can confirm this is fixed again in docker-compose 1.26. This is a brand new release less than a month old. The problem started with docker-compose 1.24.0.

I'm happy to respond to any other

[2020-06-23 04:53] DeeDeeG commented on #624
I have put together a wiki page of errors folks may run into: https://github.com/RefugeRestrooms/refugerestrooms/wiki/Troubleshooting-Docker

It has most of the errors I've seen with Docker. Perhaps this should be linked to from `CONTRIBUTING.md`.

[2020-06-23 19:47] piercebb commented on #624
Very glad to hear this is fixed in docker-compose 1.26 🎉

&& Yay for that docker wiki! I agree - I think linking it in the `CONTRIBUTING.md` docs would be helpful for a quick reference if someone gets blocked during setup and also as an entry-point to the Wiki in general.

[2020-06-24 02:17] piercebb opened #627 "Map selection does not close when another is selected"
## Scope / difficulty

Difficulty: easy-medium
Files to change: `maps.js.erb`

## Impact

- Improve user experience when navigating the map view. Currently, bathroom info can "build-up" on the map, like so:

![2020-06-23 13 25 39](https://user-images.githubusercontent.com/65255475/85486851-51245b80-b580-11ea-922e-8edaf6172f28.gif)

- This project will auto-close bathroom markers when a new one is

[2020-06-24 03:39] DeeDeeG commented on #627
Hi again!

Yes, i see what you mean. This does sound like a reasonable proposal. I wanted to thank you for filling out the issue template, this is a lot of really useful information! I have a full picture of what you mean and how you suggest it could be implemented.

No worries if you aren't, but are you thinking of implementing this yourself? Would you want someone else to pick it up? Either way

[2020-06-24 18:07] piercebb commented on #627
I am thinking of implementing this myself. Wanted to write out / get feedback on a proposed implementation before moving forward.

[2020-06-24 18:17] DeeDeeG commented on #627
As you show in the GIF in your post, the restroom info panels do overlap a lot. So auto-closing old ones when a new one is clicked makes sense to me.

Any way you want to discuss code changes is okay. Posting "diffs", linking to commits on your fork of Refuge Restrooms on GitHub, opening a PR are all fine.

-- I see there is a PR now. I'll take a look at that.

[2020-06-28 19:03] #627 closed

[2020-07-09 18:31] Joranhezon commented on #602
Hi! I would like to work on this issue, if possible.

I also noticed that the slack link in the wiki and readme file is no longer active, do you guys still use slack?

[2020-07-09 18:45] DeeDeeG commented on #602
@Joranhezon thanks so much for volunteering, we'd appreciate that!

The Slack is pretty quiet these days. (Truth be told, I haven't seen anything posted in over a month! Yep, things are pretty quiet around here in general, but this project is definitely still alive and kicking.)

I just generated this ivite link for the Slack, so it should work: https://join.slack.com/t/refugelgbt/shared_invite/zt

[2020-07-09 19:10] DeeDeeG commented on #602
Okay, the Slack invite links around the Wiki should be updated. The link in `README.md` will be updated in pull request #631.

[2020-07-09 20:22] DeeDeeG commented on #602
Well, this can be closed now, I think! Thank you @Joranhezon for pointing out that the last warnings from this Pull Request are gone... Maybe we can try to upgrade to Rails 6 some time soon!

[2020-07-09 20:41] DeeDeeG commented on #612
Hi again, it has been a while!

Some basic takeaways I can name:
- Doorways should actually be wide enough for a wheelchair user to go through.
- Enough turning space that the wheelchair user may wheel in to the relevant spaces, turn, close the door and have privacy.
- Accessible facilities within reach: toilet has space around it to transfer from chair to toilet. Grab bars are in a reasonable loc

[2020-07-09 20:42] Joranhezon commented on #612
Hey, I'd like to work on this issue!

How about instead of a webpage with these informations, we added a hover feature to the Accessible option, with some guidelines? Or maybe an info button next to it. I don't know how much information we would add to a page, so I don't know which would be better(Maybe even an info button and a page).

[2020-07-09 20:45] DeeDeeG commented on #612
Those sound like good ideas! The hover feature does sound good, else I worry no-one will see it! I think we have enough information to pus something in, regardless of what format it takes. If you are okay with using filler text/nonsense, I would be glad to see some kind of technical solution to work with.

(Of course, if you know anyone who uses accessible restroom facilities, we'd like to hear fr

[2020-07-09 20:50] DeeDeeG commented on #612
If we have a lot of information, then I suppose a link inside the hover or info button. The info button itself sounds more accessible for those using a [screen reader](https://en.wikipedia.org/wiki/Screen_reader) (text to speech software for interacting with a computer). So that's probable better than a hover feature.

[2020-07-09 21:01] #602 closed

[2020-07-09 21:05] Joranhezon commented on #612
Yeah, an info button does sound better considering that. I am totally okay working with filler text. Maybe put the info button to the right of the dropdown? The link inside the popup is also gret.

 I'll start working on it right away. I'll also ask my friends if they know someone who uses accessible restrooms.

[2020-07-09 21:21] DeeDeeG commented on #612
Thank you!

[2020-09-30 18:22] GPrimola commented on #226
Hey @DeeDeeG can I get this one? Or is there someone already on it?

[2020-09-30 18:40] DeeDeeG commented on #226
Hi @GPrimola this issue is totally open. Thanks for taking a look!

[2020-10-01 19:54] mpeiffer commented on #559
Hello! I'm new to this project. Would it be alright for me to work on this?

[2020-10-01 23:32] DeeDeeG commented on #559
Sure. I'm not yet certain whether we would post to it, but having the option to make posts should be a good thing.

[2020-10-02 00:33] mpeiffer commented on #559
Great, thanks! I'll get started on it as soon as possible.

[2020-10-03 21:53] GPrimola commented on #226
Hey @DeeDeeG

I've started working on this and I'd like to know if keeping the SPA-like behavior of the filters is a requirement?
The 'new' approach would refresh the page on each filter button click. Do you think this option is on the table?

[2020-10-03 22:10] DeeDeeG commented on #226
@GPrimola that sounds fine.

It's a pretty light app (less than 1MB over the network on refresh, after visiting and caching the site once). It would be super if the filter(s) would persist as a URL parameter or something like that. But that's not required; Whatever you have I'll be glad to take a look at it.

Thanks again!

[2020-10-08 17:45] DeeDeeG commented on #428
Update for anyone following this: This feature was made working with URL parameters (`https://refugerestrooms.org?locale=[en|es|fil|fr|hi|pl|pt-BR|tl]`). See: https://github.com/RefugeRestrooms/refugerestrooms/pull/620 for progress on implementing this feature.

I'd still prefer to do this with URL prefixes, such as `en/about` and `fr/about` and `pl/about` and so on. If anyone wants to work on thi

[2020-10-08 19:08] DeeDeeG commented on #187
Hi folks,

It has been quite a while since this thread was opened, but I think everyone who commented here would be the right people to ask about this.

Once again there is a proposal to update the logo. Does anyone have thoughts, opinions, feedback, anything to add? I'd like some discussion before I would want to give a yea/nay answer on this design proposal. Please see https://github.com/RefugeR

[2020-10-08 21:00] tegandbiscuits opened #643 "Setup linting"
I noticed that it doesn't look like there's any linting inside the repo (correct me if I'm wrong), so I was wondering if I'd be able to setup `rubocop` (and also `rubocop-rspec` and `rubocop-rails`) then resolve any issues it finds?

I pulled this down and ran rubocop locally, and it looks like it's mostly just style changes and a few things to help maintenance.

[2020-10-08 21:04] DeeDeeG commented on #643
Hi @tegandbiscuits, this was mentioned by another contributor just recently this week. So, it's starting to sound like something we should do.

Thanks for opening the issue.

Note to other maintainers: @tkwidmer @mi-wood if you have any thoughts or insights about this, objections, whatever, feel free to let me know. Otherwise I am going to look into just adding this myself.

[2020-10-08 21:34] tegandbiscuits commented on #643
If it'd be helpful, I could make a pull request for it. I've already got it mostly done in a fork and could make a pull request with it tonight (or a draft PR now).

[2020-10-08 23:00] DeeDeeG commented on #643
That would be fine.

I took a look at the fork you mentioned, and fair warning: I can say this is a bit beyond my ability to meaningfully review. I would be hoping for the tests to pass, but beyond that, the changes are a bit above my level of Ruby expertise (which as you might guess isn't very much!). I'll have to ask some of the other maintainers to take a look at this in order to review it prop

[2020-10-11 17:26] hendrixfan commented on #172
How about using [Invisible Captcha](https://github.com/markets/invisible_captcha)? It is Open Source and uses the honeypot Princible.

[2020-10-11 21:37] marioa98 opened #645 "Update number of pages when filter is apply"
Hi, I was checking your production page and I notice that when you apply any filter for restrooms, the number of pages still the same.

Replication of the issue:

- Find a location, e.g. https://www.refugerestrooms.org/restrooms?lat=37.7749295&long=-122.41941550000001&search=San+Francisco.
- Enable/disable some filters.

No filters enabled:
![image](https://user-images.githubusercontent.com/331807

[2020-10-12 20:35] DeeDeeG commented on #172
@hendrixfan that could be a good idea! Probably better than having to get ReCaptcha over the network! That's one of the least-performant aspects I noticed of the site, mostly in terms of latency/full-page load-time. I think the ReCaptcha code is also pretty large over the network next to other things users don't have to re-download once they've cached a part of the site once (after the first page

[2020-10-12 20:41] DeeDeeG commented on #645
Hi @marioa98,

There is another person looking into fixing this, see https://github.com/RefugeRestrooms/refugerestrooms/pull/638. It's stalled on working out some new bugs. I'll ask that contributor if there are any updates. You can work on a solution of your own as well, if you like. We will only be able to accept one solution to this at this repo, but perhaps there is some chance for collaborati

[2020-10-12 20:52] marioa98 commented on #645
Ok, I see that there is a previous solution on progress and I don't have any problem co-working with someone else.

Hoping for answer, thanks to you to let me collaborate

[2020-10-14 02:11] brunoocasali opened #650 "Replace kaminari with pagy"
## Scope / difficulty

**[medium]** Replace **kaminari** with **pagy** in grape API.

## Impact

Actually the kaminari implementation is easy to plug and play, but it have some disadvantages because it generates tons of objects in memory. The pagy implementation from the other side is small and consumes less memory. You can learn more about it here:

- https://github.com/ddnexus/pagy
- https://www

[2020-10-16 18:57] GPrimola commented on #479
@DeeDeeG this is very related to the one I just did. Can I take this one too? I think it's a very low hanging fruit after #638

[2020-10-16 19:05] DeeDeeG commented on #479
Yep, that sounds like good idea. Go for it! Thanks.

[2020-10-17 01:22] #226 closed

[2020-10-22 18:50] #643 closed

[2020-10-24 01:30] brunoocasali opened #652 "Thank you message has an error color"
After submitting the contact form, the message returned is red (meaning that something is wrong), and should be an info/success color (like blue or green)

![image](https://user-images.githubusercontent.com/4116980/97064803-2292ad80-157f-11eb-8901-3c0d2fff1c36.png)

[2020-10-24 17:10] DeeDeeG commented on #652
I have noticed this myself, and I agree it should be another color.

[2020-10-24 17:11] DeeDeeG commented on #645
@marioa98 hi again,

just letting you know this issue was in fact solved. Thanks again for the interest in this.

Have a great Hacktoberfest if you're participating in that. 🎃

[2020-10-24 17:11] #645 closed

[2020-10-26 15:55] #479 closed

[2020-10-26 19:31] GPrimola commented on #650
@brunoocasali have you used/considered [will_paginate](https://github.com/mislav/will_paginate)?

[2020-10-27 23:21] brunoocasali commented on #650
Actually not, because pagy seems to be the best option to do this job, you can see on the links I've included in the description.

Do you have any experience comparing both on a real production workload, @GPrimola ?

[2020-10-28 13:11] GPrimola commented on #650
No @brunoocasali , I just have experience with will_paginate.

[2020-11-09 19:43] #652 closed

[2021-04-18 02:25] arielrezinn commented on #612
I'm looking for something to occupy me for the next 24 hours. What's the status on this? I'd love to implement it!

[2021-04-18 03:49] DeeDeeG commented on #612
Hello @arielrezinn thank you for the offer. I have been the most active maintainer here for a bit, though other folks may chime in if they have a spare moment or two.

The todos for this are (as I picture it):
- Work on and finalize some text to use (should be appropriate to the actual needs of users of accessibility features in restrooms)
- Come up with a technical implementation
  - Perhaps add

[2021-04-18 05:08] DeeDeeG commented on #612
By the way, I hope this is a useful place to start: here is our about page: https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/app/views/pages/about.html.haml

(It's written in HAML, which is language for concisely typing out HTML, that also allows embedding Ruby code. We have a wiki article about HAML here: https://github.com/RefugeRestrooms/refugerestrooms/wiki/What-is-HAML%3F)

The

[2021-04-18 05:34] arielrezinn commented on #612
Thanks for getting back to me, that was quick! Here's what I'm thinking for a tentative game plan:

1. The bullet points above seem like a good place to start for the text on the page, but I don't have enough personal experience to make any decisions myself. _However_, I have a few contacts and resources (read: professors and classmates) that might be able to help with drafting the text! Scratch w

[2021-04-19 16:23] arielrezinn commented on #612
A little update- there was a slight hiccup involving an indirect dependency archive (mimemagic). I just fixed and committed this to my branch, and am now going to get started!

[2021-04-19 16:26] arielrezinn commented on #612
I'm adding this comment solely as a reminder to myself :)

I need to run the tests and lint my code prior to opening the pr!
Here's the link w/ details on how: [https://github.com/RefugeRestrooms/refugerestrooms/blob/develop/CONTRIBUTING.md]

[2021-04-20 00:23] DeeDeeG commented on #612
I heard about `mimemagic` but I didn't get around to seeing how we are affected. Sounds like it wasn't too much of a problem though! Thanks for taking care of that.

[2021-04-20 01:14] arielrezinn commented on #612
I did some preliminary work and have pushed my changes, but I ran into an issue that I'm having trouble resolving myself, probably because I'm not super familiar with HAML. I have a gut feeling that it's something really small/easy that I'm missing.

Here's my branch! https://github.com/arielrezinn/refugerestrooms

And here's a picture of the error and offending file :)
<img width="1440" alt="did

[2021-04-20 01:56] DeeDeeG commented on #612
I am rebuilding my Docker container, since I'm on an account on a borrowed laptop. For now I can look at the code and try to decipher the error.

This error is a little bit ambiguous to my eyes:

`Psych::SyntaxError: (<unknown>): did not find expected key while parsing a block mapping at line 3 column 5`

I'm not totally sure yet what that's about.

- I did notice that some files got moved! `app/j

[2021-04-20 02:01] mi-wood commented on #612
Cross-posting from slack, there's a single quote surrounded by single quotes in the last line.

` p2: "Here's a collection of resources with information about accessible restrooms."` should fix it.

[2021-04-20 02:19] DeeDeeG commented on #612
In related news, I finally found a good reference for quoting rules in YAML, after looking for one for years. https://www.yaml.info/learn/quote.html

I went ahead and added that to the wiki page we have on translations. https://github.com/RefugeRestrooms/refugerestrooms/wiki/How-do-I-translate-Refuge-Restrooms.org%3F#quote-marks--and--in-the-translation-files

[2021-05-23 04:39] skylerwharton commented on #612
Hi! I'm new to this project, and have been reading through some issues to get a feel for the project. I love this idea! As an additional resource as you create a list of accessibility features for users to evaluate for each bathroom, I'd recommend Airbnb's Accessibility filters. I know they've done a lot of work, including user research, to refine their filters to make them more specific and usefu

[2021-05-23 14:49] arielrezinn commented on #612
This is super helpful, thank you!!

[2021-05-25 03:22] skylerwharton commented on #612
Great!! You're welcome! :)

[2021-06-17 16:06] Joseph-McGroarty commented on #612
Hi, I'm new here, I just came across this and I think I could help with getting requirements. I'm fairly involved with the disability community on twitter, so I could get feedback from a fairly wide variety of disabled people. (Also I do know some ruby and javascript so I could help with implimentation as well)

Based on what I know, I'm wondering if the "accessible/inaccessible" data field and se

[2021-06-17 16:57] arielrezinn commented on #612
Awesome! I completely agree about the "accessible/inaccessible" boolean not being a great option! I reached out to some people in my circles (I study disability and computer science) and have included their feedback below. Some food for thought! We had recently been discussing the [PISSAR Checklist](https://github.com/RefugeRestrooms/refugerestrooms/files/6671906/Revised.PISSAR.Checklist.pdf), so

[2021-06-17 19:28] DeeDeeG commented on #612
Thank you all for the continued input and research.

I can agree the AirBnB options seem like a good improvement. (I would like to move away from the "Accessible" checkbox as the main distinguishing data point for accessible restrooms, toward specific accessible features or qualities the location has.) The AirBnB data points are real-world tested, and strike a bit of a balance between including es

[2021-06-17 19:56] DeeDeeG commented on #612
For reference, here was the last pull request that added a data field to the whole Refuge Restrooms web app: https://github.com/RefugeRestrooms/refugerestrooms/pull/248

We can follow in those steps, though the app has been changed a bit overall since then.

[2021-06-17 20:27] DeeDeeG commented on #612
It just so hapens to be the most reliable way for feedback to reach _me specifically_.

We also have a contact page on the website, social media accounts (mainly Twitter, the Facebook is basically inactive), and Slack, which the other maintainers might be monitoring, but which I am not. (I don't have access to the email inbox the website's contact form goes to. I don't have login credentials to re

[2021-06-18 16:00] Joseph-McGroarty commented on #612
I'd be happy to help with writting the documentation when the time comes.

[2021-06-18 16:21] Joseph-McGroarty commented on #612
So here's my broad workflow for my end at the moment (if anyone wants me to change/add things, lmk)

1. Reach out to the disabled community seeking input on what they'd like from this update. This is mostly to ask about what checkboxes to include, as well as the few other considerations (see bellow) that they might have input on.
2. Structure that input into big ideas to translate into technical/p

[2021-06-23 16:40] Joseph-McGroarty commented on #612
OK just sent out tweets, will update when I get some responses back

[2021-06-23 18:53] DeeDeeG commented on #612
Thanks for all this, hope it goes well. I'll consider any replies along with the things @arielrezinn heard from friends and colleagues etc.

Brief update and clarification regarding the mobile apps (In summary: we probably won't [be able to] update the iOS app to reflect these changes, since it (the iOS app) is deprecated).

<details>

I took another look at the iOS app recently, and I noticed tha

[2021-06-25 16:02] Joseph-McGroarty commented on #612
Update: so far I've only had two responses to my twitter queery. I think later today I'll RT again, maybe at a different time of day. Here's what I have so far:

Person 1:

Person 2:

[There may have been a second tweet to this, twitter makes it look like there is one but I can't see it if I click on the tweet, will update if I find that]

I also made a few polls to agregate opinions on some desig

[2021-06-27 16:48] Joseph-McGroarty commented on #612
No new responses since last update, but I took the liberty of gathering the feedback we've gotten so far into a rough list of requirements. I'll loosely group them by type of access need (bellow). I think tommorow I'll review this with fresh eyes and also start looking exploring how the code side works. In the meantime lmk if anyone has thoughts/additions/corrections/etc. Thoughts especially invit

[2021-11-22 20:23] rootwork opened #666 "Provide a way for users to suggest a restroom has been removed, an establishment is closed, etc."
## Scope / difficulty

I don't know what the workflow looks like on y'alls end. I'm sorry I'm not that familiar with the development backend to better assess what the difficulty level of all of this would be.

## Impact

- I've personally found several listings for places that I know no longer exist. The only mechanisms right now are to a) edit the location and add "CLOSED" or something like that

[2021-11-22 20:23] rootwork commented on #666
oh god that's an unfortunate issue number

[2021-11-22 20:42] rootwork opened #667 "More beginner-friendly/welcoming issue template? (Or have multiple templates)"
Hi! So I am new to this repo obviously, and just proposed #666. I found the issue template a little...surprising in the way it was set up. I thought I'd just relate what I experienced and let maintainers decide if anything is worth changing.

0. First I want to say that it may be you intend to have there be something of a barrier to creating new issues, because you want people to familiarize thems

[2021-11-23 02:42] DeeDeeG commented on #666
Hi there!

This does sound like a good idea.

Unfortunately, the pace of development here is very much slowed. Past/present contributors and maintainers seem to have mostly moved on. I try to keep updating the dependencies, but the core folks all have full time jobs and not much time for this project. So I'm not really sure existing folks have time to work on this. If you're handy with the code an

[2021-11-23 02:46] DeeDeeG commented on #667
I've been meaning to have a lighter-weight template. I think having a blank one is a good start... I put so much effort into the one template we have I am biased/attached to it, but it's healthier that we have less barriers to contribution, rather than just the one template I'm sentimental about.

We get a lot of suggestions where maybe we as maintainers would feel differently to the person who op

[2022-04-24 02:37] etagwerker opened #671 "Function not implemented - Failed to initialize inotify (Errno::ENOSYS) Apple M1 linux/amd64 platform"
Hi there,

I was trying to setup the repo locally (Apple M1 + Docker) and I ran into this issue: https://github.com/evilmartians/terraforming-rails/issues/34

I believe the solution should be pretty straightforward. I can submit a PR in a few minutes.

Thanks!

[2022-04-28 22:52] #671 closed, assigned to nobody

[2022-06-08 06:30] michaeljoelt opened #674 "multiple up/down votes possible in single session"
I came across a location that I knew was legit, noticed it had 1 upvote, 2 downvotes, so I upvoted, and the score went up. Then I upvoted a few more times until it was in "the green" (70%+ it looks like)?

Is there a limit on votes per session? It's worrisome that people could really skew these if they wanted to, especially with mal intent.

Thanks to everyone for their work on this project!!! <3